<!DOCTYPE html>
<html lang="en">

<head th:insert="head :: header">

<body>

    <div id="wrapper">

        <!-- Navigation -->
			<div th:insert="navigation :: navbar">  </div>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Create Company</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
			<div class="row">
				<form action="#" th:action="@{/addCompany}" th:object="${company}" method="post">													
			
				  <div class="form-group">
					<label for="companyName">Vendor:</label>
					<input type="text" class="form-control" th:name="companyName"></input>

				  </div>
				  <div class="form-group">
					<label for="note">Manufacturer:</label>
					<input type="text" class="form-control" th:name="manufacturer">
				  </div>				  
				  <div class="form-group">
					<label for="description">Address:</label>
					<input type="text" class="form-control" th:name="address">
				  </div>													  
				  <div class="form-group">
					<label for="description">Office Phone:</label>
					<input type="text" class="form-control" th:name="phone">
				  </div>
				  <div class="form-group">
					<label for="description">Mobile Phone:</label>
					<input type="text" class="form-control" th:name="mobilephone">
				  </div>					  
				  <div class="form-group">
					<label for="note">Email:</label>
					<input type="text" class="form-control" th:name="email">
				  </div>
				  <div class="form-group">
					<label for="note">Primary Contact:</label>
					<input type="text" class="form-control" th:name="contactName">
				  </div>
				  <div class="form-group">
					<label for="note">Primary Contact Phone:</label>
					<input type="text" class="form-control" th:name="backupContactName">
				  </div>
				  <div class="form-group">
					<label for="note">Backup Contact:</label>
					<input type="text" class="form-control" th:name="backupContactPhone">
				  </div>
				  <div class="form-group">
					<label for="note">Backup Contact Phone:</label>
					<input type="text" class="form-control" th:name="contactPhone">
				  </div>
				  <div class="form-group">
					<label for="note">Sales:</label>
					<input type="text" class="form-control" th:name="sales">
				  </div>
				  <div class="form-group">
					<label for="note">PM:</label>
					<input type="text" class="form-control" th:name="pm">
				  </div>
				  
				  <input class="btn btn-primary" style="margin-top:20px" type="submit" value="Submit" />
				</form>
			</div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
    </script>
	<script type="text/javascript">
		$(function () {
			$('[id^=datetimepicker]').datepicker({
				format: 'yyyy-mm-dd',
				 orientation: "bottom auto"
			});

		});
	</script>

</body>

</html>
