<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="head :: header">

<body>

    <div id="wrapper">

        <!-- Navigation -->
			<div th:insert="navigation :: navbar">  </div>


        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" th:text="${app.AppName}"><h1>
					
                </div>			

                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
				<div class="col-lg-8">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-info-circle"></i> Details
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
							<form action="#" th:action="@{/updateApplication}" method="post">													
						
								  <div class="form-group">
									<label for="AppName">Application Name:</label>
									<input type="text" class="form-control" th:name="AppName" th:value="${app.AppName}">
									<input type="hidden" class="form-control" th:name="application" th:value="${app.id}">
									<select name="appInstances" multiple hidden>
									  <option th:each="instanceEntity : ${appinstances}" 
									  th:text="${instanceEntity.appInstanceName}" 
									  th:attr="value = ${instanceEntity.id}" selected>
									</select>
								  </div>
								  <div class="form-group">
									<label for="description">Version:</label>
									<input type="text" class="form-control" th:name="AppVersion" th:value="${app.AppVersion}">
								  </div>
								  <div class="form-group">
									<label for="description">Type:</label>
									<input type="text" class="form-control" th:name="AppType" th:value="${app.AppType}">
								  </div>
								  <div class="form-group">
									<label for="description">Aliase:</label>
									<input type="text" class="form-control" th:name="AppAliase" th:value="${app.AppAliase}">
								  </div>
								  <div class="form-group">
									<label for="description">Purpose:</label>
									<input type="text" class="form-control" th:name="AppPurpose" th:value="${app.AppPurpose}">
								  </div>				  
								  <div class="form-group">
									<label for="description">Application Prerequisite:</label>
									<input type="text" class="form-control" th:name="AppPrerequisite" th:value="${app.AppPrerequisite}">
								  </div>					  
								  <div class="form-group">
									<label for="Decomminsion Date">Decomminsion Date:</label>
									<div class="input-group date" data-provide="datepicker" id='datetimepicker2'>
										<input type="text" class="form-control" th:name="appDecomminsionDate"  th:value="${app.appDecomminsionDate}">
										<div class="input-group-addon">
											<span class="glyphicon glyphicon-calendar"></span>
										</div>

									</div>
								  </div>
								  <div class="form-group">
									<label for="description">Tips&Tricks:</label>
									<input type="text" class="form-control" th:name="AppComments" th:value="${app.AppComments}">
								  </div>
								  <div class="form-group">
									<label for="description">Governance:</label>
									<input type="text" class="form-control" th:name="AppGovernance" th:value="${app.AppGovernance}">
								  </div>													  
							  <input class="btn btn-primary" style="margin-top:20px" type="submit" value="Update" />
							</form>                            
                        </div>
                        <!-- /.panel-body -->
                    </div>
				</div>
				<div class="col-lg-4">
				</div>
            </div>
						
			<!--AppInstance Detail-->
			<div class="row">
				<div class="col-lg-8">
					 <div class="panel panel-primary">
						<div class="panel-heading">
							<i class="fa fa-newspaper-o"></i> App Instances
							<div class="pull-right">
								<a data-toggle="modal" th:data-target="@{'#addinstanceInstance'}" style="color:white;cursor:pointer" title="Add/Change">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
							</div>
						</div>
						<!-- /.panel-heading -->
						<div th:if="${appinstances.size()>0}" class="panel-body">
							<table class="table">
							  <thead>
								<th>App Instance</th>
								<th>Status</th>
								<th>Description</th>
							  </thead>
							  <tbody>
								<tr th:each="appinstance: ${appinstances}">
									<td>
										<a th:href="@{'/deleteApplicationInstance?instanceid='+${appinstance.id}+'&applicationid='+${app.id}}" 
											style="margin-right:20px;text-decoration: none"
											data-title="Are you sure to delete?" 
											data-toggle="confirmation" 
											data-singleton="true" 
											data-popout="true" 
										   >
											<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
										</a>
										<a th:href="@{'/instancedetail?id='+${appinstance.id}}" th:text="${appinstance.appInstanceName}"></a>
									</td>
									<td th:text="${appinstance.status}"></td>
									<td th:text="${appinstance.description}"></td>
								</tr>
							  </tbody>
							</table>
						</div>
						<!-- /.panel-body -->
					</div>
				</div>
				<div class="col-lg-4">
				</div>
			</div>

			<!--Manufacturer Detail-->
			<div class="row">
				<div class="col-lg-8">
					 <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-newspaper-o"></i> Manufacturer
                            <div class="pull-right">
								<a data-toggle="modal" th:data-target="@{'#addcompany'}" style="text-decoration: none;color:white;cursor: pointer" title="Add/Change">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
								<a style="text-decoration: none;color:white;cursor: pointer" 
									th:if="${company!=null}" th:href="${#strings.concat('/deleteApplicationCompany?id=',company.id)}"
									data-title="Are you sure to delete?" 
									data-toggle="confirmation" 
									data-singleton="true" 
									data-popout="true"
									>
									<i class="fa fa-trash-o fa-lg"></i>
								</a>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div th:if="${company!=null}" class="panel-body">
							<table class="table">
							  <tbody>
								<tr><th scope="row" style="width:25%">Manufacturer:</th><td>
									<a th:href="@{'/companydetail?company='+${company.id}}" th:text="${company.manufacturer}"></a>
								</td></tr>

								<tr><th scope="row" style="width:25%">Phone:</th><td th:text="${company.phone}"></td></tr>
								<tr><th scope="row" style="width:25%">Email:</th><td th:text="${company.email}"></td></tr>
								
							  </tbody>
							</table>
                        </div>
                        <!-- /.panel-body -->
                    </div>
				</div>
				<div class="col-lg-4">
				</div>
			</div>

			<!--Department Detail-->
			<div class="row">
				<div class="col-lg-8">
					 <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa  fa-building"></i> Department
                            <div class="pull-right">
								<a data-toggle="modal" th:data-target="@{'#adddepartment'}" style="text-decoration: none;color:white;cursor: pointer" title="Add/Change">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
								<a style="text-decoration: none;color:white;cursor: pointer"
								 th:if="${department!=null}" th:href="${#strings.concat('/deleteApplicationDepartment?application=',app.id)}"
								data-title="Are you sure to delete?" 
								data-toggle="confirmation" 
								data-singleton="true" 
								data-popout="true"
								 >
									<i class="fa fa-trash-o fa-lg"></i>
								</a>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div th:if="${department!=null}" class="panel-body">
							<table class="table">
							  <tbody>
								<tr><th scope="row" style="width:25%">department:</th>
								<td>
									<a th:href="@{'/departmentdetail?id='+${department.id}}"><h5 th:text="${department.departmentName}"></h5></a>
								</td>
								</tr>
								<tr><th scope="row" style="width:25%">Stakeholder:</th><td>
								
									<ul style="padding:0" th:if="${department.stakeholders.size()>0}">
										<li style="list-style-type:none" th:each="stakeholder : ${department.stakeholders}">
										<a th:href="@{'/stakeholderdetail?stakeholder='+${stakeholder.id}}" th:text="${stakeholder.stakeholderName}"></a>
										</li>
									</ul>

								</td></tr>
								<tr><th scope="row" style="width:25%">Description:</th><td th:text="${department.description}"></td></tr>

								<tr><th scope="row" style="width:25%">Attachment:</th>
								<td>									
									<a data-toggle="modal"  
											th:data-target="@{${#strings.concat('#',department.id,'files')}}" 
											th:if="${department.files.size()>0}"
											style="text-decoration: none;cursor: pointer"
											>
											<span class="fa fa-paperclip fa-lg"></span>
									</a>
								</td>
								</tr>								
							  </tbody>
							</table>
                        </div>
                        <!-- /.panel-body -->
                    </div>
				</div>
				<div class="col-lg-4">
					<div class="modal fade" th:if="${department!=null && department.files.size()>0}" th:id="${#strings.concat(department.id,'files')}" role="dialog" >
						<!-- Modal content-->
						<div class="modal-dialog">
						  <div class="modal-content">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">&times;</button>
							  <h4 class="modal-title"> Attachments</h4>
							</div>
							<div class="modal-body">
								<table class="table table-striped" id="filestable">
								  <thead>
									<tr>
									  <th scope="col">File Name</th>
									  <th scope="col">Created At</th>
									  <th scope="col">Created By</th>														  
									</tr>
								  </thead>
								  <tbody>
									<tr th:each="file : ${department.files}">
									  <th><h5><a th:href="@{'/downloaddepartment?id='+${file.id}}" th:text="${file.attachment}"></h5></a></th>
									  <th><h5 th:text="${file.createdat}"></h5></th>
									  <th><h5 th:text="${file.createdby}"></h5></th>
									</tr>
								  </tbody>
								</table>
							</div>
						   </div>
						 </div>
					</div>
				</div>
			</div>
			
			<!--file detail-->			
			<div class="row">
				<div class="col-lg-8">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<i class="fa fa-paperclip"></i> Attachments
							<div class="pull-right">
								<a data-toggle="modal" 
								th:data-target="@{${#strings.concat('#',app.id,'file')}}" 
								style="text-decoration: none;cursor: pointer;color:white" 
								title="Add Files">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
							</div>
						</div>
						<div th:if="${app.files.size()>0}" class="panel-body">
							<table class="table">
							  <thead>
								<th>File</th>
								<th>Created At</th>
								<th>Created By</th>
							  </thead>
							  <tbody>
								<tr th:each="file: ${#lists.sort(app.files)}">
									<td>
										<a  
											th:href="@{'/deleteapplicationfile?file='+${file.id}+'&application='+${app.id}}" 
											style="text-decoration: none; margin-right:5px"
											data-title="Are you sure to delete?" 
											data-toggle="confirmation" 
											data-singleton="true" 
											data-popout="true"
										>
											<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
										</a>
										<a 	
											th:href="@{'/downloadapplication?file='+${file.id}}" 
											th:text="${file.attachment}"
										>
										</a>
									</td>
									<td th:text="${file.createdat}"></td>
									<td th:text="${file.createdby}"></td>
								</tr>
							  </tbody>
							</table>							
						</div>
						
					</div>

										


				</div><!-- col-lg-8 -->									
			</div>						
			<!--Model Areas-->

				<!--AppInstance model-->
				<div class="modal fade" th:id="addinstanceInstance" role="dialog">
					<div class="modal-dialog">
					
					  <!-- Modal content-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h4 class="modal-title" th:text="'Add Or Change Instance - '+${app.AppName}"></h4>													
						</div>
						<div class="modal-body">	
							<form action="#" th:action="@{/addApplicationInstance}" th:object="${app}" method="post">
								<div class="form-group">
									<label for="instanceselect">App Instance:</label>
									<input type="hidden" class="form-control" th:name="id" th:value="${app.id}"></input>
									<select name="appInstances" class="mdb-select md-form colorful-select dropdown-primary form-control" multiple id="instanceselect">
									  <option th:each="instanceEntity : ${instances}" 
									  th:text="${instanceEntity.appInstanceName}" 
									  th:attr="value = ${instanceEntity.id}" th:selected="${appinstances.contains(instanceEntity)} ? true">
									</select>
								</div>
							  <input class="btn btn-primary" type="submit" value="Submit" />
							</form>
						</div>
					  </div>

					</div>	
				</div>
				
				<!--Manufacturer model-->
				<div class="modal fade" th:id="addcompany" role="dialog">
					<div class="modal-dialog">
					
					  <!-- Modal content-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h4 class="modal-title" th:text="'Add Or Change Manufacturer - '+${app.AppName}"></h4>													
						</div>
						<div class="modal-body">	
							<form action="#" th:action="@{/addApplicationCompany}" th:object="${company}" method="post">
								<div class="form-group">
									<label for="companySelect">Manufacturer:</label>
									<input type="hidden" class="form-control" th:name="application" th:value="${app.id}"></input>
									<select name="id" class="form-control selectpicker" data-live-search="true" id="companySelect">
									  <option th:selected="${company==null}"></option>
									  <option th:each="companyEntity : ${companys}" 
									  th:text="${companyEntity.companyName}" 
									  th:attr="value = ${companyEntity.id}" th:selected="${company==null} ? false:${company.getId()==companyEntity.id}">
									  
									  </option>
									</select>
								</div>
							  <input class="btn btn-primary" type="submit" value="Submit" />
							</form>
						</div>
					  </div>

					</div>	
				</div>

				<!--Department model-->
				<div class="modal fade" th:id="adddepartment" role="dialog">
					<div class="modal-dialog">
					
					  <!-- Modal content-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h4 class="modal-title" th:text="'Add Or Change Department - '+${app.appName}"></h4>													
						</div>
						<div class="modal-body">	
							<form action="#" th:action="@{/addApplicationDepartment}" method="post">
								<div class="form-group">
									<label for="departmentSelect">Department:</label>
									<input type="hidden" class="form-control" th:name="application" th:value="${app.id}"></input>
									<select name="department" class="form-control selectpicker" data-live-search="true" id="departmentSelect">
									  <option th:selected="${app.department==null}"></option>
									  <option th:each="departmentEntity : ${departments}" 
									  th:text="${departmentEntity.departmentName}" 
									  th:attr="value = ${departmentEntity.id}" th:selected="${app.department==null} ? false:${app.department.getId()==departmentEntity.id}">
									  
									  </option>
									</select>
								</div>
							  <input class="btn btn-primary" type="submit" value="Submit" />
							</form>
						</div>
					  </div>

					</div>	
				</div>
				
				<!--File model-->
				<div class="modal fade" th:id="${#strings.concat(app.id,'file')}" role="dialog" >
						<!-- Modal content-->
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
									  <button type="button" class="close" data-dismiss="modal">&times;</button>
									  <h4 class="modal-title"> Add Files</h4>
									</div>
									<div class="modal-body">
										<form  id="UploadFileForm"  method="POST" action="/applicationupload" enctype="multipart/form-data">
											<!-- COMPONENT START -->
											<div class="input-group">
																
													<a th:onclick="@{'uploadfile(\''+${app.id}+'\')'}"><input type="text" th:id="@{${app.id}+'filename'}" class="form-control" placeholder="Choose file..." style="cursor:pointer" readonly></a>
													<div class="input-group-btn">
													<button type="submit" class="btn btn-primary"><i class="fa fa-upload"></i></button>
													</div>
						
											</div>
											<!-- COMPONENT END -->
											<div class="form-group  pull-center">
												<input type="file" class="form-control" name="file" style="visibility:hidden;height:0;" th:id="@{${app.id}+'fileupload'}">
												<input type="hidden" class="form-control" th:name="application" th:value="${app.id}"></input>
												<input type="hidden" class="form-control" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"></input>

											</div>
										</form>
									</div>
							   </div>
							</div>
				</div>			
				
				
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


			<script>
			$(document).ready(function() {
			  $('#instanceselect').multiselect(
			  {
				includeSelectAllOption: true,
				buttonWidth: 300, 
				enableFiltering: true,
				nonSelectedText: 'Select Instance'
			  });
			  $('#departmentSelect').selectpicker(
			  {
				noneSelectedText: 'Select Department'
			  });
			  $('#companySelect').selectpicker(
			  {
				noneSelectedText: 'Select Manufacturer'
			  });			  
			});
			</script>

	

</body>

</html>
