<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="head :: header">

<body>

    <div id="wrapper">

		<!-- Navigation -->
		<div th:insert="navigation :: navbar">  </div>


        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Companies<a href="/addCompany" data-toggle="tooltip" title="Create Company"><i class="fa fa-plus" style="float:right"></i></a></h1>
					
                </div>

				

                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Company Table
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Company</th>
										<th>App Instance</th>
										<th>Application</th>
										<th>Address</th>
                                        <th>Phone</th>
										<th>Email</th>
										<th>Contact Name</th>
										<th>Contact Phone</th>
										<th>Manufacturer</th>
										<!--<th class="no-sort">Action</th>-->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="company: ${companys}">
                                        <td>
											<a th:href="@{'/deleteCompany?id='+${company.id}+'&companyName='+${company.companyName}}"
											data-title="Are you sure to delete?" 
											data-toggle="confirmation" 
											data-singleton="true" 
											data-popout="true"
											style="text-decoration: none">
												<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
											</a>&nbsp 
											<a data-toggle="modal" th:data-target="@{'#'+${company.id}}" th:text="${company.companyName}" style="cursor:pointer"></a>
										</td>
										<td>
											<a data-toggle="modal" 
											th:if="${company.appInstances.size()>0}" 
											th:text="${company.getInstanceNameWithComma()}" 
											th:data-target="@{${#strings.concat('#',company.id,'instances')}}" 
											style="cursor:pointer">
											</a>
										</td>
										<td>
											<a th:if="${company.application!=null}"  th:text="${company.application.AppName}" th:href="@{'/applicationdetail?id='+${company.application.id}}"></a>
										</td>										
                                        <td th:text="${company.address}"></td>
                                        <td th:text="${company.phone}"></td>
										<td th:text="${company.email}"></td>
										<td th:text="${company.contactName}"></td>
										<td th:text="${company.contactPhone}"></td>
										<td th:text="${company.manufacturer}"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
									<!-- Modal Area-->
									<div th:each="company: ${companys}">
										<div class="modal fade" th:if="${company.appInstances.size()>0}" th:id="${#strings.concat(company.id,'instances')}" role="dialog" >
										<!-- Modal content-->
												<div class="modal-dialog">
												  <div class="modal-content">
													<div class="modal-header">
													  <button type="button" class="close" data-dismiss="modal">&times;</button>
													  <h4 class="modal-title"> App Instances</h4>
													</div>
													<div class="modal-body">
														<table class="table table-striped" id="instancetable">
														  <thead>
															<tr>
															  <th scope="col">App Instance</th>
															  <th scope="col">status</th>
															  <th scope="col">Description</th>														  
															</tr>
														  </thead>
														  <tbody>
															<tr th:each="appInstance : ${company.appInstances}">
															  <th><a th:href="@{'/instancedetail?id='+${appInstance.id}}"><h5 th:text="${appInstance.appInstanceName}"></h5></a></th>
															  <th><h5 th:text="${appInstance.status}"></h5></th>
															  <th><h5 th:text="${appInstance.description}"></h5></th>
															</tr>
														  </tbody>
														</table>
													</div>
												   </div>
												 </div>
										</div>										  
										<div class="modal fade" th:id="${company.id}" role="dialog">
											<div class="modal-dialog">
											
											  <!-- Modal content-->
											<div class="modal-content">
												<div class="modal-header">
												  <button type="button" class="close" data-dismiss="modal">&times;</button>
												  <h4 class="modal-title" th:text="${company.companyName}"></h4>
												</div>
												<div class="modal-body">
													<form action="#" th:action="@{/updateCompany}" th:object="${companyModel}" method="post">													
												
													  <div class="form-group">
														<label for="companyName">Company Name:</label>
														<input type="text" class="form-control" th:name="companyName" th:value="${company.companyName}"></input>
														<input type="hidden" class="form-control" th:name="id" th:value="${company.id}"></input>
														<input th:if="${company.application!=null}" type="hidden" class="form-control" th:name="application" th:value="${company.application.id}"></input>
													  </div>
														<div class="form-group">
															<label for="instanceSelect">App Instance:</label>											  	
															<select name="appInstances" class="form-control" id="instanceSelect" multiple>
																<optgroup th:each="appEntity : ${appAssginedInstances}" th:if="${appEntity.appInstances.size()>0}" th:label="${appEntity.AppName}">
																	  <option th:each="instanceEntity : ${appEntity.appInstances}" 

																	  th:attr="value = ${instanceEntity.id}" th:selected="${company.appInstances.contains(instanceEntity)}"
																	  th:text="${instanceEntity.appInstanceName}">
																	  
																	  </option>
																</optgroup>
																<optgroup th:if="${appUnassginedInstances.size()>0}" label="Unassigned">
																	  <option th:each="instanceEntity : ${appUnassginedInstances}" 

																	  th:attr="value = ${instanceEntity.id}" th:selected="${company.appInstances.contains(instanceEntity)}"
																	  th:text="${instanceEntity.appInstanceName}">
																	  
																	  </option>
																</optgroup>													
															</select>
														</div>														  
													  <div class="form-group">
														<label for="description">Address:</label>
														<input type="text" class="form-control" th:name="address" th:value="${company.address}">
													  </div>													  
													  <div class="form-group">
														<label for="description">Phone:</label>
														<input type="text" class="form-control" th:name="phone" th:value="${company.phone}">
													  </div>													  
													  <div class="form-group">
														<label for="note">Email:</label>
														<input type="text" class="form-control" th:name="email" th:value="${company.email}">
													  </div>
													  <div class="form-group">
														<label for="note">Contact Name:</label>
														<input type="text" class="form-control" th:name="contactName" th:value="${company.contactName}">
													  </div>
													  <div class="form-group">
														<label for="note">Contact Phone:</label>
														<input type="text" class="form-control" th:name="contactPhone" th:value="${company.contactPhone}">
													  </div>
													  <div class="form-group">
														<label for="note">Manufacturer:</label>
														<input type="text" class="form-control" th:name="manufacturer" th:value="${company.manufacturer}">
													  </div>
													  
													  <input class="btn btn-primary" style="margin-top:20px" type="submit" value="Update" />
													</form>
												</div>
											</div>
											  
											</div>
										</div>
									</div><!-- Modal -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
		$('[id^=instanceSelect]').multiselect(
		  {
			includeSelectAllOption: true,
			buttonWidth: '100%', 
			enableFiltering: true,
			nonSelectedText: 'Select Instance',
			enableCaseInsensitiveFiltering:true
		  });
    });
    </script>
	<script type="text/javascript">
		$(function () {
			$('[id^=datetimepicker]').datepicker({
				format: 'yyyy-mm-dd',
				 orientation: "bottom auto"
			});

		});
	</script>
</body>

</html>
