<!DOCTYPE html>
<html lang="en">

<head th:insert="head :: header">

<body>

    <div id="wrapper">

        <!-- Navigation -->
			<div th:insert="navigation :: navbar">  </div>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" th:text="${contract.contractName}"></h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
			<div class="row">
				<div class="col-lg-8">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-info-circle"></i> Details
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
							<form action="#" th:action="@{/updateContract}" method="post">													
						
							  <div class="form-group">
								<label for="contractName">contract Name:</label>
								<input type="text" class="form-control" th:name="contractName" th:value="${contract.contractName}"></input>
								<input type="hidden" class="form-control" th:name="contractModel" th:value="${contract.id}"></input>

							  </div>
							  <div>
								<label for="Decomminsion Date">Expired Date:</label>
								<div class="input-group date" data-provide="datepicker" id='datetimepicker2'>
									<input type="text" class="form-control" th:name="expireDate" th:value="${contract.expireDate}">
									<div class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</div>

								</div>
							  </div>													  
							  <div class="form-group">
								<label for="description">Description:</label>
								<input type="text" class="form-control" th:name="description" th:value="${contract.description}">
							  </div>													  
							  <div class="form-group">
								<label for="description">SMA Description:</label>
								<input type="text" class="form-control" th:name="smaDescription" th:value="${contract.smaDescription}">
							  </div>													  
							  <div class="form-group">
								<label for="note">SLA Description:</label>
								<input type="text" class="form-control" th:name="slaDescription" th:value="${contract.slaDescription}">
							  </div>									  
							  <input class="btn btn-primary" style="margin-top:20px" type="submit" value="Update" />
							</form>
						</div>
                        <!-- /.panel-body -->
					</div>
				</div>
			</div>
            <!-- /.row -->
			<!--AppInstance Detail-->
			<div class="row">
				<div class="col-lg-8">
					 <div class="panel panel-primary">
						<div class="panel-heading">
							<i class="fa fa-laptop"></i> App Instances
							<div class="pull-right">
								<a data-toggle="modal" th:data-target="@{'#addInstance'}" style="color:white;cursor:pointer" title="Add/Change">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
							</div>
						</div>
						<!-- /.panel-heading -->
						<div th:if="${contract.appInstances.size()>0}" class="panel-body">
							<table class="table">
							  <thead>
								<th>App Instance</th>
								<th>Status</th>
								<th>Description</th>
							  </thead>
							  <tbody>
								<tr th:each="appinstance: ${#lists.sort(contract.appInstances)}">
									<td>
										<a th:href="@{'/deleteContractInstance?instance='+${appinstance.id}+'&contract='+${contract.id}}" 
											style="margin-right:20px;text-decoration: none"
											data-title="Are you sure to delete?" 
											data-toggle="confirmation" 
											data-singleton="true" 
											data-popout="true" 
										   >
											<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
										</a>
										<a th:href="@{'/instancedetail?id='+${appinstance.id}}" th:text="${appinstance.appInstanceName}"></a>
									</td>
									<td th:text="${appinstance.status}"></td>
									<td th:text="${appinstance.description}"></td>
								</tr>
							  </tbody>
							</table>
						</div>
						<!-- /.panel-body -->
					</div>
				</div>
				<div class="col-lg-4">
				</div>
			</div>
			<!--file detail-->			
			<div class="row">
				<div class="col-lg-8">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<i class="fa fa-paperclip"></i> Attachments
							<div class="pull-right">
								<a data-toggle="modal" 
								th:data-target="@{${#strings.concat('#',contract.id,'file')}}" 
								style="text-decoration: none;cursor: pointer;color:white" 
								title="Add Files">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
							</div>
						</div>
						<div th:if="${contract.files.size()>0}" class="panel-body">
							<table class="table">
							  <thead>
								<th>File</th>
								<th>Created At</th>
								<th>Created By</th>
							  </thead>
							  <tbody>
								<tr th:each="file: ${#lists.sort(contract.files)}">
									<td>
										<a  
											th:href="@{'/deletecontractfile?file='+${file.id}+'&contract='+${contract.id}}" 
											style="text-decoration: none; margin-right:5px"
											data-title="Are you sure to delete?" 
											data-toggle="confirmation" 
											data-singleton="true" 
											data-popout="true"
										>
											<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
										</a>
										<a 	
											th:href="@{'/downloadcontract?file='+${file.id}}" 
											th:text="${file.attachment}"
										>
										</a>
									</td>
									<td th:text="${file.createdat}"></td>
									<td th:text="${file.createdby}"></td>
								</tr>
							  </tbody>
							</table>							
						</div>
						
					</div>

										


				</div><!-- col-lg-8 -->									
			</div>
			<!-- /.row -->			

				<!--AppInstance model-->
				<div class="modal fade" th:id="addInstance" role="dialog">
					<div class="modal-dialog">
					
					  <!-- Modal content-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h4 class="modal-title" th:text="'Add Or Change Instance - '+${contract.contractName}"></h4>													
						</div>
						<div class="modal-body">	
							<form action="#" th:action="@{/addContractInstance}"  method="post">
								<div class="form-group">
									<label for="instanceselect">App Instance:</label>
									<input type="hidden" class="form-control" th:name="contract" th:value="${contract.id}"></input>
									<select name="appInstances" class="form-control" id="instanceSelect" multiple>
										<optgroup th:each="appEntity : ${appAssginedInstances}" th:if="${appEntity.appInstances.size()>0}" th:label="${appEntity.AppName}">
											  <option th:each="instanceEntity : ${appEntity.appInstances}" 

											  th:attr="value = ${instanceEntity.id}"
											  th:text="${instanceEntity.appInstanceName}">
											  
											  </option>
										</optgroup>
										<optgroup th:if="${appUnassginedInstances.size()>0}" label="Other">
											  <option th:each="instanceEntity : ${appUnassginedInstances}" 

											  th:attr="value = ${instanceEntity.id}"
											  th:text="${instanceEntity.appInstanceName}">
											  
											  </option>
										</optgroup>													
									</select>
								</div>
							  <input class="btn btn-primary" type="submit" value="Submit" />
							</form>
						</div>
					  </div>

					</div>	
				</div>			
			
				<div class="modal fade" th:id="${#strings.concat(contract.id,'file')}" role="dialog" >
						<!-- Modal content-->
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
									  <button type="button" class="close" data-dismiss="modal">&times;</button>
									  <h4 class="modal-title"> Add Files</h4>
									</div>
									<div class="modal-body">
										<form  id="UploadFileForm"  method="POST" action="/contractupload" enctype="multipart/form-data">
											<!-- COMPONENT START -->
											<div class="input-group">
																
													<a th:onclick="@{'uploadfile(\''+${contract.id}+'\')'}"><input type="text" th:id="@{${contract.id}+'filename'}" class="form-control" placeholder="Choose file..." style="cursor:pointer" readonly></a>
													<div class="input-group-btn">
													<button type="submit" class="btn btn-primary"><i class="fa fa-upload"></i></button>
													</div>
						
											</div>
											<!-- COMPONENT END -->
											<div class="form-group  pull-center">
												<input type="file" class="form-control" name="file" style="visibility:hidden;height:0;" th:id="@{${contract.id}+'fileupload'}">
												<input type="hidden" class="form-control" th:name="contract" th:value="${contract.id}"></input>
												<input type="hidden" class="form-control" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"></input>

											</div>
										</form>
									</div>
							   </div>
							</div>
				</div>			
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
	$('[id^=instanceSelect]').multiselect(
	  {
		includeSelectAllOption: true,
		buttonWidth: '100%', 
		enableFiltering: true,
		nonSelectedText: 'Select Instance',
		enableCaseInsensitiveFiltering:true
	  });
    });
    </script>
	<script type="text/javascript">
		$(function () {
			$('[id^=datetimepicker]').datepicker({
				format: 'yyyy-mm-dd',
				 orientation: "bottom auto"
			});

		});
	</script>

</body>

</html>
