<!DOCTYPE html>
<html lang="en">

<head th:insert="head :: header">

<body>

    <div id="wrapper">

        <!-- Navigation -->
			<div th:insert="navigation :: navbar">  </div>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" th:text="${department.departmentName}"></h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
			<div class="row">
					<form id="FormUpdateData" th:action="@{/updateDepartment}" th:object="${department}" method="post">													
				
					  <div class="form-group">
						<label for="departmentName">Department Name:</label>
						<input type="text" class="form-control" th:name="departmentName" th:value="${department.departmentName}"></input>
						<input type="hidden" class="form-control" th:name="id" th:value="${department.id}"></input>
					  </div>
						<div class="form-group">
							<label for="instanceSelect">App Instance:</label>											  	
							<select name="appInstances" class="form-control" id="instanceSelect" multiple>
								<optgroup th:each="appEntity : ${appAssginedInstances}" th:if="${appEntity.appInstances.size()>0}" th:label="${appEntity.AppName}">
									  <option th:each="instanceEntity : ${appEntity.appInstances}" 

									  th:attr="value = ${instanceEntity.id}" th:selected="${department.appInstances.contains(instanceEntity)}"
									  th:text="${instanceEntity.appInstanceName}">
									  
									  </option>
								</optgroup>
								<optgroup th:if="${appUnassginedInstances.size()>0}" label="Unassigned">
									  <option th:each="instanceEntity : ${appUnassginedInstances}" 

									  th:attr="value = ${instanceEntity.id}" th:selected="${department.appInstances.contains(instanceEntity)}"
									  th:text="${instanceEntity.appInstanceName}">
									  
									  </option>
								</optgroup>													
							</select>
						</div>														  
					  <div class="form-group">
						<label for="description">Description:</label>
						<input type="text" class="form-control" th:name="description" th:value="${department.description}">
					  </div>													  
					  <div class="form-group">
						<label for="description">Purpose:</label>
						<input type="text" class="form-control" th:name="purpose" th:value="${department.purpose}">
					  </div>
					  <div class="form-group">
						<label for="note">Stragic Plan:</label>
						<input type="text" class="form-control" th:name="stragicplan" th:value="${department.stragicplan}">
					  </div>
					  <div class="form-group">
						<label for="note">Road Map:</label>
						<input type="text" class="form-control" th:name="roadMap" th:value="${department.roadMap}">
					  </div>
					  <div class="form-group">
						<label for="note">Goal:</label>
						<input type="text" class="form-control" th:name="goal" th:value="${department.goal}">
					  </div>
					  <div class="form-group">
						<label for="note">Paint Point:</label>
						<input type="text" class="form-control" th:name="painpoint" th:value="${department.painpoint}">
					  </div>
					<div class="form-group">
						<label for="note">Attachments:</label>
						<ul style="padding:0" id="filelist">
							<li style="list-style-type:none" th:if="${department.files.size()>0}" th:each="file : ${department.files}">
								<a  
									th:href="@{'/deletedepartmentfile?file='+${file.id}+'&department='+${department.id}}" 
									style="text-decoration: none; margin-right:5px"
									data-title="Are you sure to delete?" 
									data-toggle="confirmation" 
									data-singleton="true" 
									data-popout="true"
								>
									<i class="fa fa-remove fa-lg" style="color:red" aria-hidden="true"></i>
								</a>
								<a 	
									th:href="@{'/downloaddepartment?id='+${file.id}}" 
									th:text="${file.attachment}"
								>
								</a>
							</li>
						</ul>

							<!-- COMPONENT START -->
						<div class="input-group">
							
							
							<a th:onclick="@{'uploadfile(\''+${department.id}+'\')'}"><input type="text" th:id="@{${department.id}+'filename'}" class="form-control" placeholder="Choose file..." style="cursor:pointer" readonly></a>
							<div class="input-group-btn">
							<button type="submit" id="btnSubmit" class="btn btn-primary"><i class="fa fa-upload"></i></button>
						
							</div>

						</div>
						<!-- COMPONENT END -->
						<div class="form-group  pull-center">
							<input type="file" class="form-control" name="file" style="visibility:hidden;height:0;" th:id="@{${department.id}+'fileupload'}">
							<input type="hidden" class="form-control" th:name="departmentid" th:value="${department.id}">
							<input type="hidden" class="form-control" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"></input>
						</div>	

					</div>
				  
					  <input class="btn btn-primary" style="margin-top:20px" type="submit" value="Update" />

						 <select th:if="${department.stakeholders.size()>0}" name="stakeholders" class="form-control" id="stakeholderSelect" multiple style="visibility:hidden;height:0">

						  <option th:each="stakeholderEntity : ${department.stakeholders}" 

						  th:attr="value = ${stakeholderEntity.id}" selected>
						  
						  </option>
						</select>
					</form>
			</div>
            <!-- /.row -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
		
        $('#dataTables-example').DataTable({
            responsive: true
        });
	$('[id^=instanceSelect]').multiselect(
	  {
		includeSelectAllOption: true,
		buttonWidth: '100%', 
		enableFiltering: true,
		nonSelectedText: 'Select Instance',
		enableCaseInsensitiveFiltering:true
	  });
	/*var counter=0;
  $("#uploadfileclick").click(function(){
		if(counter===0)
		{
			counter=1;
			$("#FormUpdateData").find(':input').each(function(){
		   console.log("first time");

		   //$("#updateObejctForm").append($(this).css({visibility:'hidden',height:0}));
		   var e=$(this).clone();
		   e.attr('type','hidden').css({visibility:'hidden',height:0}).appendTo( "#updateObejctForm" );
			//$("#updateObejctForm").append($(this));

		   //$("#updateObejctForm").append(old_v.attr('type','hidden').css({visibility:'hidden',height:0}));

	

			});
		}


  });*/	  
    $("#btnSubmit").click(function (event) {

        //stop submit the form, we will post it manually.
        event.preventDefault();

        fire_ajax_submit();

    });	  
  
    });
function fire_ajax_submit() {

    // Get form
    var form = $('#FormUpdateData')[0];

    var data = new FormData(form);
console.log(data);


    $("#btnSubmit").prop("disabled", true);

    $.ajax({
        type: "POST",
        enctype: 'multipart/form-data',
        url: "/departmentupload",
        data: data,

        processData: false, //prevent jQuery from automatically transforming the data into a query string
        contentType: false,
        cache: false,
        timeout: 600000,
        success: function (data) {

            //$("#result").text(data);
          
            if(data.id)
            {
            	console.log("SUCCESS : ", data);
            	var e = "<li style='list-style-type:none'><a "+	
            			
						"href='/deletedepartmentfile?file="+data.id+"\&department="+data.departmentid+"'"+
							"style='text-decoration: none; margin-right:5px'"+
							"data-title='Are you sure to delete?'" +
							"data-toggle='confirmation'"+
							"data-singleton='true'"+
							"data-popout='true'"+
						"><i class='fa fa-remove fa-lg' style='color:red' aria-hidden='true'></i></a>"+
						
							"<a href='/downloaddepartment?id="+data.id+"'>"+data.filename+"</a></li>"
            	$('#filelist').append(e);
            }
            $("#btnSubmit").prop("disabled", false);

        },
        error: function (e) {

            //$("#result").text(e.responseText);
            console.log("ERROR : ", e);
            $("#btnSubmit").prop("disabled", false);

        }
    });

}	
	
    </script>
	<script type="text/javascript">
		$(function () {
			$('[id^=datetimepicker]').datepicker({
				format: 'yyyy-mm-dd',
				 orientation: "bottom auto"
			});

		});
	</script>

</body>

</html>
