<!DOCTYPE html>
<html lang="en">

<head th:insert="head :: header">

<body>

    <div id="wrapper">

        <!-- Navigation -->
			<div th:insert="navigation :: navbar">  </div>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" >
					<div class="row">
						<div class="col-md-8 text-muted">
						<i class="fa fa-building"></i>
						<span th:text="${department.departmentName}"></span>
						</div>

					</div>						
					</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
			<div class="row">
				<div class="col-lg-8">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-info-circle"></i> Details
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">				
							<form id="FormUpdateData" th:action="@{/updateDepartment}"  method="post">													
						
							  <div class="form-group">
								<label for="departmentName">Department Name:</label>
								<input type="text" class="form-control" th:name="departmentName" th:value="${department.departmentName}"></input>
								<input type="hidden" class="form-control" th:name="department" th:value="${department.id}"></input>
							  </div>													  
							  <div class="form-group">
								<label for="description">Description:</label>
								<input type="text" class="form-control" th:name="description" th:value="${department.description}">
							  </div>													  
							  <div class="form-group">
								<label for="description">Purpose:</label>
								<input type="text" class="form-control" th:name="purpose" th:value="${department.purpose}">
							  </div>
							  <div class="form-group">
								<label for="note">Stragic Plan:</label>
								<input type="text" class="form-control" th:name="stragicplan" th:value="${department.stragicplan}">
							  </div>
							  <div class="form-group">
								<label for="note">Road Map:</label>
								<input type="text" class="form-control" th:name="roadMap" th:value="${department.roadMap}">
							  </div>
							  <div class="form-group">
								<label for="note">Goal:</label>
								<input type="text" class="form-control" th:name="goal" th:value="${department.goal}">
							  </div>
							  <div class="form-group">
								<label for="note">Paint Point:</label>
								<input type="text" class="form-control" th:name="painpoint" th:value="${department.painpoint}">
							  </div>

						  
							  <input sec:authorize="hasAnyRole('ADMIN','SYSADMIN','USER')" class="btn btn-primary" style="margin-top:20px" type="submit" value="Update" />


							</form>
						</div>
                        <!-- /.panel-body -->
					</div>
				</div>
			</div>
            <!-- /.row -->

			<!--app Detail-->
			<div class="row">
				 <div class="col-lg-12">
					 <div class="panel panel-primary">
						<div class="panel-heading">
							<i class="fa fa-windows"></i> App Inventory
							<div class="pull-right">
								<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','USER')" 
								style="text-decoration: none;color:white;cursor: pointer" 
								title="Add/Change"
								th:href="@{'/appinventory?department='+${department.id}}+'&appdepartment=&actiontype=CREATE'">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
							</div>
						</div>
						<!-- /.panel-heading -->
						<div  class="panel-body">
							<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-appinventory">
							  <thead>
								<tr>
									<th class="zacmap-zone-header-d" rowspan="2">Application Name</th>
									<th class="zacmap-zone-header-d" rowspan="2">Application Type</th>
									<th class="zacmap-zone-header-d" rowspan="2">Application Purpose</th>
									<th class="zacmap-zone-header-d" colspan="5">Zone</th>
									<th class="zacmap-zone-header-d" rowspan="2">Site</th>
									<th class="zacmap-zone-header-d" rowspan="2">Business Lead</th>
									<th class="zacmap-zone-header-d" rowspan="2">Application Owner</th>
									<th class="zacmap-zone-header-d" rowspan="2">Governance/ Standards in Place (Y/N)</th>
									<th class="zacmap-zone-header-d" rowspan="2">Userbase</th>
									<th class="zacmap-zone-header-d" colspan="7">Support Information</th>
									<th class="zacmap-zone-header-d" rowspan="2">Vendor</th>
									<th class="zacmap-zone-header-d" colspan="6">Contract Information</th>
									<th class="zacmap-zone-header-d" rowspan="2">Application Version</th>
									<th class="zacmap-zone-header-d" rowspan="2">Business Unit Initiatives on Roadmap?</th>
									<th class="zacmap-zone-header-d" colspan="3">Involved in Projects (Y/N)?</th>
									<th class="zacmap-zone-header-d" rowspan="2">Additional Information/Notes</th>
								</tr>
								<tr>
									<th class="zacmap-zone-header-d">South</th>
									<th class="zacmap-zone-header-d">Calgary</th>
									<th class="zacmap-zone-header-d">Central</th>
									<th class="zacmap-zone-header-d">Edmonton</th>
									<th class="zacmap-zone-header-d">North</th>
									
									<th class="zacmap-zone-header-d">Subject Matter Expert</th>
									<th class="zacmap-zone-header-d">Trainer</th>
									<th class="zacmap-zone-header-d">User Admin</th>
									<th class="zacmap-zone-header-d">System Admin</th>
									<th class="zacmap-zone-header-d">App Server Support</th>	
									<th class="zacmap-zone-header-d">DB Server Support</th>
									<th class="zacmap-zone-header-d">Network Support</th>

									<th class="zacmap-zone-header-d">Contracts</th>
									<th class="zacmap-zone-header-d">Licenses</th>
									<th class="zacmap-zone-header-d">Contract / Licensing in Place (Y/N)?</th>
									<th class="zacmap-zone-header-d">Expiration Date</th>
									<th class="zacmap-zone-header-d">Vendor SLA/SMA?</th>							
									<th class="zacmap-zone-header-d">AHS-IT SLA?</th>
									
									<th class="zacmap-zone-header-d">Projects</th>
									<th class="zacmap-zone-header-d">IMP</th>						
									<th class="zacmap-zone-header-d">CSHREC/IMIT</th>								
								</tr>
							  </thead>
							  <tbody>
								<tr th:each="appdepartment: ${department.appdepartments}">
									<td>
										<li class="dropdown" sec:authorize="hasAnyRole('ADMIN','SYSADMIN','USER')" style="list-style-type: none;">
											<a class="dropdown-toggle" data-toggle="dropdown" href="#">
												<i class="fa fa-cog fa-lg"></i>
											</a>
											<ul class="dropdown-menu dropdown-user">
												<li><a th:href="@{'/appinventory?department='+${department.id}}+'&appdepartment='+${appdepartment.id}+'&actiontype=UPDATE'">Update</a>
												</li>
												<li class="divider"></li>
												<li><a th:href="@{'/appinventory?department='+${department.id}}+'&appdepartment='+${appdepartment.id}+'&actiontype=COPY'">Copy</a>
												</li>
												<li class="divider"></li>
												<li>
													<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','USER')" data-toggle="modal" th:data-target="@{'#copyto'+${appdepartment.id}}" >
														Copy To
													</a>
												</li>												
												<li class="divider"></li>												
												<li>
													<a 
													data-title="Are you sure to delete?" 
													data-toggle="confirmation" 
													data-singleton="true" 
													data-popout="true"									
													th:href="@{'/deleteappdepartment?appdepartment='+${appdepartment.id}+'&department='+${department.id}}">Delete</a>
												</li>												
											</ul>
										</li>									
										<a th:href="@{'/applicationdetail?app='+${appdepartment.application.id}}" th:text="${appdepartment.application!=null}?${appdepartment.application.AppName}:''"></a>
									</td>									
									<td th:text="${appdepartment.application!=null}?${appdepartment.application.AppType}:''"></td>
									<td th:text="${appdepartment.application!=null}?${appdepartment.application.AppPurpose}:''"></td>
									<td th:text="${appdepartment.south}"></td>
									<td th:text="${appdepartment.calgary}"></td>
									<td th:text="${appdepartment.central}"></td>
									<td th:text="${appdepartment.edmonton}"></td>
									<td th:text="${appdepartment.north}"></td>
									<td><p th:each="site: ${appdepartment.sites}">
											<a th:href="@{'/sitedetail?site='+${site.id}}" th:text="${site.siteName}">
											</a>
										</p>
									</td>
									<td th:text="${appdepartment.businesslead}"></td>
									<td th:text="${appdepartment.appowner}"></td>
									<td th:text="${appdepartment.goverinplace}"></td>
									<td th:text="${appdepartment.userbase}"></td>
									<td th:text="${appdepartment.sme}"></td>
									<td th:text="${appdepartment.trainer}"></td>
									<td th:text="${appdepartment.useradmin}"></td>
									<td th:text="${appdepartment.systemadmin}"></td>
									<td th:text="${appdepartment.dbsupport}"></td>
									<td th:text="${appdepartment.serversupport}"></td>
									<td th:text="${appdepartment.networksupport}"></td>
									<td th:text="${appdepartment.vendor!=null}?${appdepartment.vendor.companyName}:''"></td>
									<td><p th:each="contract: ${appdepartment.contracts}">
											<a th:href="@{'/contractdetail?contract='+${contract.id}}" th:text="${contract.contractName}">
											</a>
										</p>
									</td>
									<td><p th:each="license: ${appdepartment.licenses}">
											<a th:href="@{'/licensedetail?contract='+${license.id}}" th:text="${license.licenseNumber}">
											</a>
										</p>
									</td>
									<td th:text="${appdepartment.contractinplace}"></td>
									<td th:text="${appdepartment.expireDate}"></td>
									<td th:text="${appdepartment.vendorsla}"></td>
									<td th:text="${appdepartment.ahsitsla}"></td>
									<td th:text="${appdepartment.application!=null}?${appdepartment.application.AppVersion}:''"></td>						
									<td th:text="${appdepartment.broadmap}"></td>
									<td><p th:each="project: ${appdepartment.projects}">
											<a th:href="@{'/projectdetail?project='+${project.id}}" th:text="${project.projectname}">
											</a>
										</p>
									</td>									
									<td th:text="${appdepartment.imp}"></td>
									<td th:text="${appdepartment.cshrecimit}"></td>	
									<td th:text="${appdepartment.note}"></td>										
								</tr>
							  </tbody>
							</table>
						</div>
						<!-- /.panel-body -->
					</div>
				</div>
			</div>	
			
			<!--Zone Detail-->
			<div class="row">
				<div class="col-lg-8">
					 <div class="panel panel-primary">
						<div class="panel-heading">
							<i class="fa fa-cube"></i> Zones
							<div class="pull-right">
								<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','USER')" data-toggle="modal" th:data-target="@{'#adddepartmentzone'}" style="text-decoration: none;color:white;cursor: pointer" title="Add/Change">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
							</div>
						</div>
						<!-- /.panel-heading -->
						<div th:if="${department.zones.size()>0}" class="panel-body">
							<table class="table">
							  <thead>
								<th>Zone</th>
								<th>Description</th>
								<th>Note</th>
							  </thead>
							  <tbody>
								<tr th:each="zone: ${department.zones}">
									<td>
										<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','USER')" th:href="@{'/deletedepartmentzone?zone='+${zone.id}+'&department='+${department.id}}" 
											style="margin-right:10px;text-decoration: none"
											data-title="Are you sure to delete?" 
											data-toggle="confirmation" 
											data-singleton="true" 
											data-popout="true"
										   >
											<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
										</a>
										<a th:href="@{'/zonedetail?zone='+${zone.id}}" th:text="${zone.zoneName}"></a>
									</td>
									<td th:text="${zone.description}"></td>
									<td th:text="${zone.note}"></td>
								</tr>
							  </tbody>
							</table>
						</div>
						<!-- /.panel-body -->
					</div>
				</div>
				<div class="col-lg-4">
				</div>
			</div>				
			<!--Question Detail-->
			<div class="row">
				<div class="col-lg-8">
					 <div class="panel panel-primary">
						<div class="panel-heading">
							<i class="fa fa-smile-o"></i> Process Excellent
							<div class="pull-right">
								<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','USER')" data-toggle="modal" th:data-target="@{'#addquestion'}" style="color:white;cursor:pointer" title="Add/Change">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
							</div>
						</div>
						<!-- /.panel-heading -->
						<div th:if="${department.answers.size()>0}" class="panel-body">
							<table class="table">
							  <thead>
								<th>Question</th>
								<th>Answer</th>
							  </thead>
							  <tbody>
								<tr th:each="answer: ${department.answers}" th:if="${answer.question!=null}">
									<td>
										<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','USER')" th:href="@{'/deleteDepartmentQuestion?answer='+${answer.id}+'&department='+${department.id}}" 
											style="margin-right:5px;text-decoration: none;"
											data-title="Are you sure to delete?" 
											data-toggle="confirmation" 
											data-singleton="true" 
											data-popout="true" 
										   >
											<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
										</a>
										<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','USER')" 
											data-toggle="modal" th:data-target="@{'#addquestion'+${answer.id}}"  title="Edit Answer"
											style="margin-right:5px;text-decoration: none;cursor:pointer"
										   >
											<i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
										</a>										
										<a th:href="@{'/questiondetail?question='+${answer.question.id}}" th:text="${answer.question.questionName}"></a>
									</td>
									<td th:text="${answer.text}">
									</td>

								</tr>
							  </tbody>
							</table>
						</div>
						<!-- /.panel-body -->
					</div>
				</div>
				<div class="col-lg-4">
				</div>
			</div>			

			<!--Stakeholder detail-->
			<div class="row">
				<div class="col-lg-8">
					 <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa  fa-users"></i> Stakeholder
                            <div class="pull-right">
								<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','USER')" data-toggle="modal" th:data-target="@{'#addstakeholder'}" style="text-decoration: none;color:white;cursor: pointer" title="Add/Change">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div th:if="${department.stakeholderexts.size()>0}" class="panel-body">
							<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-stakeholderext">
							  <thead>
								<th class="zacmap-zone-header-d">Stakeholder</th>
								<th class="zacmap-zone-header-d">Role</th>							
								<th class="zacmap-zone-header-d">Influence</th>
								<th class="zacmap-zone-header-d">Interest</th>
								<th class="zacmap-zone-header-d">RACI</th>
							  </thead>
							  <tbody>
								<tr th:each="stakeholderext: ${department.stakeholderexts}">
									<td>
										<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','USER')" th:href="@{'/deleteDepartmentStakeholder?stakeholderext='+${stakeholderext.id}}" 
											style="margin-right:5px;text-decoration: none"
											data-title="Are you sure to delete?" 
											data-toggle="confirmation" 
											data-singleton="true" 
											data-popout="true"
										   >
											<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
										</a>
										<a  sec:authorize="hasAnyRole('ADMIN','SYSADMIN','USER')"
											data-toggle="modal" th:data-target="@{'#updatestakeholderext'+${stakeholderext.id}}" style="text-decoration: none;cursor: pointer;margin-right:5px;"
										   >
											<i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
										</a>										
										<a 
											th:href="@{'/stakeholderdetail?stakeholder='+${stakeholderext.stakeholder.id}}" 
											th:text="${stakeholderext.stakeholder.stakeholderName}"
											th:if="${stakeholderext.stakeholder!=null}"
										>
										</a>
									</td>
									<td>
										<a 
											th:href="@{'/slaroledetail?slarole='+${stakeholderext.role.id}}" 
											th:text="${stakeholderext.role.SLARoleName}"
											th:if="${stakeholderext.role!=null}"
										>
										</a>
									</td>
									
									<td th:text="${stakeholderext.influence!=null}? ${stakeholderext.influence}:''"></td>
									<td th:text="${stakeholderext.interest!=null}? ${stakeholderext.interest}:''"></td>
									<td th:text="${stakeholderext.raciforsyschanges.size()>0}? ${stakeholderext.raciforsyschanges}:''"></td>

								</tr>
							  </tbody>
							</table>
                        </div>
                        <!-- /.panel-body -->
                    </div>
				</div>			
			</div>


			
			<!--Zacmap Detail-->
			<div class="row">
				<div class="col-lg-8">
					 <div class="panel panel-primary">
						<div class="panel-heading">
							<i class="fa fa-thumbs-up"></i> Zac Map
							<div class="pull-right">
								<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','USER')" data-toggle="modal" th:data-target="@{'#addzacmap'}" style="text-decoration: none;color:white;cursor: pointer" title="Add/Change">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
							</div>
						</div>
						<!-- /.panel-heading -->
						<div th:if="${zacmaps.size()>0}" class="panel-body">
							<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-zacmap">
							  <thead>
								<th class="zacmap-zone-header-d">Application</th>
								<th class="zacmap-zone-header-z" th:each="zone: ${departzones}" 
									th:text="@{${department.departmentName}+' - '+${zone.zoneName}}">
								</th>							
								<th class="zacmap-zone-header-d">Details</th>
							  </thead>
							  <tbody>
								<tr th:each="zacmap: ${zacmaps}">
									<td>
										<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','USER')" th:href="@{'/deleteDepartmentZacmap?zacmap='+${zacmap.id}+'&department='+${department.id}}" 
											style="margin-right:5px;text-decoration: none"
											data-title="Are you sure to delete?" 
											data-toggle="confirmation" 
											data-singleton="true" 
											data-popout="true"
										   >
											<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
										</a>
										<a  sec:authorize="hasAnyRole('ADMIN','SYSADMIN','USER')"
											data-toggle="modal" th:data-target="@{'#updatezacmap'+${zacmap.id}}" style="text-decoration: none;cursor: pointer;margin-right:5px;"
										   >
											<i class="fa fa-pencil fa-lg" th:id="@{'pencil_edit'+${zacmap.id}}" aria-hidden="true"></i>
										</a>										
										<a th:href="@{'/applicationdetail?app='+${zacmap.application.id}}" th:text="${zacmap.application.AppName}"></a>
									</td>
									<td th:each="zaclist: ${#lists.sort(zacmap.zaclists)}" th:text="${zaclist.zac!=null}? ${zaclist.zac.rate}:''">

									</td>
									
									<td th:text="${zacmap.detail}"></td>

								</tr>
							  </tbody>
							</table>
						</div>
						<!-- /.panel-body -->
					</div>
				</div>
				<div class="col-lg-4">
				</div>
			</div>				
		

			<!--file detail-->			
			<div class="row">
				<div class="col-lg-8">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<i class="fa fa-paperclip"></i> Attachments
							<div class="pull-right">
								<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','USER')" data-toggle="modal" 
								th:data-target="@{${#strings.concat('#',department.id,'file')}}" 
								style="text-decoration: none;cursor: pointer;color:white" 
								title="Add Files">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
							</div>
						</div>
						<div th:if="${department.files.size()>0}" class="panel-body">
							<table class="table">
							  <thead>
								<th>File</th>
								<th>Created At</th>
								<th>Created By</th>
							  </thead>
							  <tbody>
								<tr th:each="file: ${department.files}">
									<td>
										<a  sec:authorize="hasAnyRole('ADMIN','SYSADMIN','USER')"
											th:href="@{'/deletedepartmentfile?file='+${file.id}+'&department='+${department.id}}" 
											style="text-decoration: none; margin-right:5px"
											data-title="Are you sure to delete?" 
											data-toggle="confirmation" 
											data-singleton="true" 
											data-popout="true"
										>
											<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
										</a>
										<a 	
											th:href="@{'/downloaddepartment?id='+${file.id}}" 
											th:text="${file.attachment}"
										>
										</a>
									</td>
									<td th:text="${#dates.format(file.getCreateDate(),'MMM-dd-yyyy HH:mm')}"></td>
									<td th:text="${file.createdby}"></td>
								</tr>
							  </tbody>
							</table>							
						</div>
						
					</div>

										


				</div><!-- col-lg-8 -->									
			</div>
			<!-- /.row -->

			<!-- Model Area -->
		
			
			<!--file model-->
				<div class="modal fade" th:id="${#strings.concat(department.id,'file')}" role="dialog" >
						<!-- Modal content-->
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
									  <button type="button" class="close" data-dismiss="modal">&times;</button>
									  <h4 class="modal-title"> Add Files</h4>
									</div>
									<div class="modal-body">
										<form  id="UploadFileForm"  method="POST" action="/departmentupload" enctype="multipart/form-data">
											<!-- COMPONENT START -->
											<div class="input-group">
																
													<a th:onclick="@{'uploadfile(\''+${department.id}+'\')'}"><input type="text" th:id="@{${department.id}+'filename'}" class="form-control" placeholder="Choose file..." style="cursor:pointer" readonly></a>
													<div class="input-group-btn">
													<button type="submit" class="btn btn-primary"><i class="fa fa-upload"></i></button>
													</div>
						
											</div>
											<!-- COMPONENT END -->
											<div class="form-group  pull-center">
												<input type="file" class="form-control" name="file" style="visibility:hidden;height:0;" th:id="@{${department.id}+'fileupload'}">
												<input type="hidden" class="form-control" th:name="department" th:value="${department.id}"></input>


											</div>
										</form>
									</div>
							   </div>
							</div>
				</div>

				<!--Zone model-->
				<div class="modal fade" th:id="adddepartmentzone" role="dialog">
					<div class="modal-dialog">
					
					  <!-- Modal content-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h4 class="modal-title" th:text="'Add Zone - '+${department.departmentName}"></h4>													
						</div>
						<div class="modal-body">	
							<form action="#" th:action="@{/adddepartmentzone}" method="post">
								<div class="form-group">
									<label for="zoneselect">Zone:</label>
									<input type="hidden" class="form-control" th:name="department" th:value="${department.id}"></input>
									<select name="zones" class="mdb-select md-form colorful-select dropdown-primary form-control" multiple id="zoneselect">
									  <option th:each="zoneEntity : ${zones}" 
									  th:text="${zoneEntity.zoneName}" 
									  th:attr="value = ${zoneEntity.id}">
									</select>
								</div>
							  <input class="btn btn-primary" type="submit" value="Submit" />
							</form>
						</div>
					  </div>

					</div>	
				</div>				
				<!--Question Creation model-->
				<div class="modal fade" th:id="@{'addquestion'}" role="dialog">
					<div class="modal-dialog">
					
					  <!-- Modal content-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h4 class="modal-title">Add Question</h4>													
						</div>
						<div class="modal-body">	
							<form action="#" th:action="@{/addDepartmentQeustion}" th:object="${answer}" method="post">
								<div class="form-group">
									<label for="departmentSelect">Question:</label>
									<input type="hidden" class="form-control" th:name="department" th:value="${department.id}"></input>
									<select name="question" class="form-control" id="departmentSelect">
											<option></option>
											  <option th:each="questionEntity : ${questions}" 
	
											  th:attr="value = ${questionEntity.id}"
											  th:text="${questionEntity.questionName}"
											  >
											  
											  </option>
													
									</select>
								</div>
							<div class="form-group">
								<label for="zoneName">Answer:</label>
								<textarea rows="7" cols="50" class="form-control" th:name="text"></textarea>	
							</div>							
							  <input class="btn btn-primary" type="submit" value="Submit" />
							</form>
						</div>
					  </div>
	
					</div>
				</div>
			
			<!--Question model-->
			<div th:each="answer: ${department.answers}" th:if="${department.answers.size()>0}">
				<div class="modal fade" th:id="@{'addquestion'+${answer.id}}" role="dialog" th:if="${answer.question!=null}">
					<div class="modal-dialog">
					
					  <!-- Modal content-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h4 class="modal-title" th:text="@{'Edit Answer - '+${department.departmentName}}"></h4>													
						</div>
						<div class="modal-body">	
							<form action="#" th:action="@{/addDepartmentQeustion}"  method="post">
								<div class="form-group">
									<label for="departmentSelect">Question:</label>
									<input type="hidden" class="form-control" th:name="answer" th:value="${answer.id}"></input>
									<input type="hidden" class="form-control" th:name="question" th:value="${answer.question.id}"></input>
									<input type="hidden" class="form-control" th:name="department" th:value="${department.id}"></input>
									<p th:text="${answer.question.questionName}"></p>
								</div>
							<div class="form-group">
								<label for="zoneName">Answer:</label>
								<textarea rows="7" cols="50" class="form-control" th:name="text" th:value="${answer.text}" th:text="${answer.text}"></textarea>	
							</div>							
							  <input class="btn btn-primary" type="submit" value="Submit" />
							</form>
						</div>
					  </div>
	
					</div>
				</div>
			</div>				
				
				<!--stakeholder creation model-->
				<div class="modal fade" th:id="addstakeholder" role="dialog">
					<div class="modal-dialog">
					
					  <!-- Modal content-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h4 class="modal-title" th:text="'Add Or Change Stakeholder - '+${department.departmentName}"></h4>													
						</div>
						<div class="modal-body">	
							<form th:action="@{/addDepartmentStakeholder}"  method="post">
								<div class="form-group">
									<label for="departmentSelect">Stakeholder:</label>
									<input type="hidden" class="form-control" th:name="department" th:value="${department.id}"></input>
									<input type="hidden" class="form-control" name="stakeholderext"></input>
									<select name="stakeholder" class="form-control" id="stakeholderSelect">
									  <option selected></option>
									  <option th:each="stakeholderEntity : ${stakeholders}" 
									  th:text="${stakeholderEntity.stakeholderName}" 
									  th:attr="value = ${stakeholderEntity.id}">									  
									  </option>
									</select>
								</div>
								<div class="form-group">
									<label for="departmentSelect">Role:</label>
									<select name="role" class="form-control" id="roleSelect">
									  <option selected></option>
									  <option th:each="roleEntity : ${roles}" 
									  th:text="${roleEntity.SLARoleName}" 
									  th:attr="value = ${roleEntity.id}">									  
									  </option>
									</select>
								</div>
								  <div class="form-group">
									<label for="note">Influence:</label>
									<select name="influence" class="form-control" id="statusSelect">
										<option selected></option>
										<option value = "Low" th:text="Low"></option>
										<option value = "Medium" th:text="Medium"></option>
										<option value = "High"  th:text="High"></option>										
									</select>								
								  </div>
								  
								  <div class="form-group">
									<label for="note">Interest:</label>
									<select name="interest" class="form-control" id="statusSelect">
										<option selected></option>
										<option value = "Low" th:text="Low"></option>
										<option value = "Medium" th:text="Medium"></option>
										<option value = "High"  th:text="High"></option>									
									</select>									
								  </div>
								  <div class="form-group">
									<label for="note">RACI:</label>
									<select name="raciforsyschanges" class="form-control" id="RACISelect" multiple>
										<option th:each="raci : ${T(portal.utility.RACI).values()}"
												th:value="${raci}"
												th:text="${raci}">
										</option>
									</select>								
								  </div>								
							  <input class="btn btn-primary" type="submit" value="Submit" />
							</form>
						</div>
					  </div>

					</div>	
				</div>

				<!--stakeholder update model-->
				<div th:each="stakeholderext: ${department.stakeholderexts}" th:if="${department.stakeholderexts.size()>0}">
					<div class="modal fade" th:id="@{'updatestakeholderext'+${stakeholderext.id}}" role="dialog">
						<div class="modal-dialog">
						
						  <!-- Modal content-->
						  <div class="modal-content">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">&times;</button>
							  <h4 class="modal-title" th:text="'Add Or Change Stakeholder - '+${department.departmentName}"></h4>													
							</div>
							<div class="modal-body">	
								<form th:action="@{/updateDepartmentStakeholder}"  method="post">
									<div class="form-group">
										<label for="departmentSelect">Stakeholder:</label>
										<input type="hidden" class="form-control" name="department" th:value="${department.id}"></input>
										<input type="hidden" class="form-control" name="stakeholderext" th:value="${stakeholderext.id}"></input>
										<select name="stakeholder" class="form-control" id="stakeholderSelect">
										  <option th:each="stakeholderEntity : ${stakeholders}" 
										  th:text="${stakeholderEntity.stakeholderName}" 
										  th:attr="value = ${stakeholderEntity.id}"
										  th:selected="${stakeholderext.stakeholder!=null and stakeholderext.stakeholder.id==stakeholderEntity.id}">									  
										  </option>
										</select>
									</div>
									<div class="form-group">
										<label for="departmentSelect">Role:</label>
										<select name="role" class="form-control" id="roleSelect">
										  <option th:each="roleEntity : ${roles}" 
										  th:text="${roleEntity.SLARoleName}" 
										  th:attr="value = ${roleEntity.id}"
										  th:selected="${stakeholderext.role!=null and stakeholderext.role.id==roleEntity.id}"
										  >									  
										  </option>
										</select>
									</div>
									  <div class="form-group">
										<label for="note">Influence:</label>
										<select name="influence" class="form-control" id="statusSelect">
											<option th:selected="${stakeholderext.influence==null}"></option>
											<option th:attr="value = 'Low'" th:selected="${stakeholderext.influence==null} ? false:${stakeholderext.influence=='Low'}" th:text="Low"></option>
											<option th:attr="value = 'Medium'" th:selected="${stakeholderext.influence==null} ? false:${stakeholderext.influence=='Medium'}" th:text="Medium"></option>
											<option th:attr="value = 'High'" th:selected="${stakeholderext.influence==null} ? false:${stakeholderext.influence=='High'}" th:text="High"></option>												
										</select>								
									  </div>
									  
									  <div class="form-group">
										<label for="note">Interest:</label>
										<select name="interest" class="form-control" id="statusSelect">
											<option th:selected="${stakeholderext.interest==null}"></option>
											<option th:attr="value = 'Low'" th:selected="${stakeholderext.interest==null} ? false:${stakeholderext.interest=='Low'}" th:text="Low"></option>
											<option th:attr="value = 'Medium'" th:selected="${stakeholderext.interest==null} ? false:${stakeholderext.interest=='Medium'}" th:text="Medium"></option>
											<option th:attr="value = 'High'" th:selected="${stakeholderext.interest==null} ? false:${stakeholderext.interest=='High'}" th:text="High"></option>									
										</select>									
									  </div>
									  <div class="form-group">
										<label for="note">RACI:</label>
										<select name="raciforsyschanges" class="form-control" id="RACISelect" multiple>
											<option th:each="raci : ${T(portal.utility.RACI).values()}"
													th:value="${raci}"
													th:text="${raci}"
													th:selected="${stakeholderext.raciforsyschanges.contains(raci)}">
											</option>
										</select>								
									  </div>								
								  <input class="btn btn-primary" type="submit" value="Submit" />
								</form>
							</div>
						  </div>

						</div>	
					</div>	
				</div>
				<!--ZacMap Creation model-->
				<div class="modal fade" th:id="addzacmap" role="dialog">
					<div class="modal-dialog">
					
					  <!-- Modal content-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h4 class="modal-title" th:text="'Add Rate - '+${department.departmentName}"></h4>													
						</div>
						<div class="modal-body">	
							<form action="#" method="post" id="formzac">
								<input type="hidden" class="form-control" th:name="department" th:value="${department.id}"></input>
								<div class="form-group">
									<label for="zmApplicationSelect">Application:</label>
									<select name="app" class="form-control selectpicker" data-live-search="true" id="zmApplicationSelect" required>
									  <option></option>
									  <option th:each="appEntity : ${apps}" 
									  th:text="${appEntity.AppName}" 
									  th:attr="value = ${appEntity.id}">									  
									  </option>
									</select>
								</div>								
								<div class="form-group" th:each="zone : ${department.zones}">
									<label for="zmZacSelect" th:text="${zone.zoneName}"></label>
									<select th:name="@{'zaclist-'+${zone.id}}" class="form-control selectpicker" data-live-search="true" id="zmZacSelect">
									  <option ></option>
									  <option th:each="zacEntity : ${zacs}" 
									  th:text="@{${zacEntity.rate}+' - '+${zacEntity.name}}" 
									  th:attr="value = ${zacEntity.id}">									  
									  </option>
									</select>
								</div>							
								<div class="form-group">
									<label for="zonedetail">Detail:</label>
									<textarea rows="7" cols="50" class="form-control" th:name="detail"></textarea>	
								</div>
								<p class="text-danger"><strong id="message_create"></strong></p>								
							  <input th:if="${department.zones.size()>0}"class="btn btn-primary" type="submit" value="Submit"/>
							</form>
						</div>
					  </div>
					</div>	
				</div>
				

				<!--ZacMap Update model-->
				<div th:if="${zacmaps.size()>0}" th:each="zacmap: ${zacmaps}">
					<div class="modal fade" th:id="@{'updatezacmap'+${zacmap.id}}" role="dialog">
						<div class="modal-dialog">
						
						  <!-- Modal content-->
						  <div class="modal-content">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">&times;</button>
							  <h4 class="modal-title" th:text="'Update Zacmap - '+${department.departmentName}"></h4>													
							</div>
							<div class="modal-body">	
								<form action="#" method="post" th:id="@{'formzac_update'+${zacmap.id}}">
									<input type="hidden" class="form-control" th:name="department" th:value="${department.id}"></input>
									<input type="hidden" class="form-control" th:name="zacmap" th:value="${zacmap.id}"></input>
									<div class="form-group">
										<label for="zmApplicationSelect">Application:</label>
										<select name="app" class="form-control selectpicker" data-live-search="true" id="zmApplicationSelect" required>
										  <option></option>
										  <option th:each="appEntity : ${apps}" 
										  th:text="${appEntity.AppName}" 
										  th:attr="value = ${appEntity.id}"
										  th:selected="${zacmap.application==null} ? false:${zacmap.application.getId()==appEntity.id}">									  
										  </option>
										</select>
									</div>								
									<div class="form-group" th:each="zaclist : ${zacmap.zaclists}">
										<label for="zmZacSelect" th:text="${zaclist.zone.zoneName}"></label>
										<select th:name="@{'zaclist-'+${zaclist.id}+'-'+${zaclist.zone.id}}" class="form-control selectpicker" data-live-search="true" id="zmZacSelect">
										  <option ></option>
										  <option th:each="zacEntity : ${zacs}" 
										  th:text="@{${zacEntity.rate}+' - '+${zacEntity.name}}" 
										  th:attr="value = ${zacEntity.id}"
										   th:selected="${zaclist.zac==null} ? false:${zaclist.zac.getId()==zacEntity.id}">
										  								  
										  </option>
										</select>

									</div>							
									<div class="form-group">
										<label for="zonedetail">Detail:</label>
										<textarea rows="7" cols="50" class="form-control" th:name="detail" th:text="${zacmap.detail}"></textarea>	
									</div>
									<p class="text-danger"><strong th:id="@{'message_update'+${zacmap.id}}"></strong></p>								
								  <input th:if="${department.zones.size()>0}"class="btn btn-primary" type="button" value="Submit" th:onclick="@{'updatezacmap('+${zacmap.id}+')'}"/>
								</form>
							</div>
						  </div>
						</div>	
					</div>
				</div>

				<!--Copy to modal-->
				<div th:each="appdepartment: ${department.appdepartments}">
					<div class="modal fade" th:id="@{'copyto'+${appdepartment.id}}" role="dialog">
						<div class="modal-dialog">
						
						  <!-- Modal content-->
						  <div class="modal-content">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">&times;</button>
							  <h4 class="modal-title">Copy To</h4>													
							</div>
							<div class="modal-body">	
								<form action="/appinventory" method="GET">
									<div class="form-group">
										<label for="zoneselect">Department:</label>
										<input type="hidden" class="form-control" th:name="appdepartment" th:value="${appdepartment.id}"></input>
										<input type="hidden" class="form-control" th:name="actiontype" value="COPYTO"></input>
										<select name="department" class="mdb-select md-form colorful-select dropdown-primary form-control" required>
											<option selected></option>
										  <option th:each="departEntity : ${departments}" 
										  th:text="${departEntity.departmentName}" 
										  th:attr="value = ${departEntity.id}">
										</select>
									</div>
								  <input class="btn btn-primary" type="submit" value="Submit" />
								</form>
							</div>
						  </div>

						</div>	
					</div>				
				</div>				
				
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
		
        $('#dataTables-appinventory').DataTable({
            responsive: true
        });

	  $('[id^=pencil_edit]').on( "click", function()
	  {
		$('[id^=message_update]').empty();
	  });	  
	$('#zoneselect').multiselect(
	  {
		includeSelectAllOption: true,
		buttonWidth: 300, 
		enableFiltering: true,
		nonSelectedText: 'Select Zone'
	  });
	  $('#zmApplicationSelect').selectpicker(
	  {
		noneSelectedText: 'Select Application'
	  });
	$('#dataTables-zacmap').DataTable({
		responsive: true
	});	  
	  $('[id^=zmZacSelect]').selectpicker(
	  {
		noneSelectedText: 'Select Rate'
	  });	  

		$('[id^=stakeholderSelect]').selectpicker(
	  {
			liveSearch:true,
			width:300,
			noneSelectedText:'Select Stakeholder'
	  });
	  $('[id^=roleSelect]').selectpicker(
	  {
			liveSearch:true,
			width:300,
			noneSelectedText:'Select Role'
	  });
	 $('[id^=RACISelect]').multiselect(
  {
	includeSelectAllOption: true,
	buttonWidth: 300, 
	enableFiltering: true,
	nonSelectedText: 'Select RACI'
  });	

  $( "#formzac" ).on( "submit", function( event ) {
  
  		  event.preventDefault();
		  $( "#message_create" ).empty();
		  var formdata=$( this ).serializeArray();
		  var formobj={"application":"","zaclist":[],"detail":""};
		  var department="";
		  for(obj in formdata)
		  {

			
			if(formdata[obj].name==="department") department=formdata[obj].value;
			if(formdata[obj].name==="app") formobj.application=formdata[obj].value;
			
			
			if(formdata[obj].name.toString().includes("zaclist")) 
			{
				var zacobj={};
				zacobj["department"]=department;
				zacobj["zac"]=formdata[obj].value;
				var zonename=formdata[obj].name.toString();

				zacobj["zone"]=zonename.replace("zaclist-","");
				formobj.zaclist.push(zacobj);
			}
			
			if(formdata[obj].name==="detail") formobj.detail=formdata[obj].value;
		  }

			$.ajax({
				url: "/addDepartmentZacmap",
				type: "POST",
				data: JSON.stringify(formobj),
				headers: {
					"content-type":"application/json"
				},
				dataType: 'json',
				success: function (data, textStatus, xhr) {
					if(xhr.status===200)
					{
						location.reload();
					}
					else
					{
						$( "#message_create" ).text("Add Failed! Please Contact System Administrator.");
					}
				}
			});			

		  });
		  

		  
		  
  
    });

	
    </script>
	<script type="text/javascript">
		$(function () {
			$('[id^=datetimepicker]').datepicker({
				format: 'yyyy-mm-dd',
				 orientation: "bottom auto"
			});

		});
	function updatezacmap(zacmapid)
	{
		var formzac="#formzac_update"+zacmapid;
  	
		  var message_id="message_update"+zacmapid;
		  document.getElementById(message_id).innerHTML="";
		  var formdata=$( formzac ).serializeArray();

			
			var formobj={"zacmap":"","application":"","zaclist":[],"detail":""};
		  var department="";
		  for(obj in formdata)
		  {

			
			if(formdata[obj].name==="department") department=formdata[obj].value;
			if(formdata[obj].name==="app") formobj.application=formdata[obj].value;
			if(formdata[obj].name==="zacmap") formobj.zacmap=formdata[obj].value;
			
			if(formdata[obj].name.toString().includes("zaclist")) 
			{
				var zacobj={};
				zacobj["department"]=department;
				zacobj["zac"]=formdata[obj].value;
				var zonename=formdata[obj].name.toString().split("-");
				zacobj["id"]=zonename[1];
				zacobj["zone"]=zonename[2];
				formobj.zaclist.push(zacobj);
			}
			
			if(formdata[obj].name==="detail") formobj.detail=formdata[obj].value;
		  }

		  


			  var xhttp = new XMLHttpRequest();
			  xhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
				  location.reload();
				}
				else if(this.readyState == 4 && this.status != 200)
				{
					document.getElementById(message_id).innerHTML="Update Failed! Please Contact System Administrator.";
				}
			  };
			  xhttp.open("POST", "/updateDepartmentZacmap", true);
			  xhttp.setRequestHeader("Content-type", "application/json");
			  xhttp.send(JSON.stringify(formobj));
	
	}

	</script>

</body>

</html>
