<head th:fragment="header">

    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>

    <title>App Tracking Tool</title>

    <!-- Bootstrap Core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
	<link href="bootstrap/css/bootstrap-datepicker.min.css" rel="stylesheet"></link>
	<link href="bootstrap/css/bootstrap-multiselect.css" rel="stylesheet"></link>
	<link href="bootstrap/css/bootstrap-select.min.css" rel="stylesheet"></link>
	<link href="bootstrap/css/chat.css" rel="stylesheet"></link>
	<link href="bootstrap/css/login.css" rel="stylesheet"></link>
	
	<!--<link href="bootstrap/css/bootstrap-datepicker.css" rel="stylesheet"></link>-->
    <!-- MetisMenu CSS -->
    <link href="metisMenu/metisMenu.min.css" rel="stylesheet"></link>

    <!-- DataTables CSS -->
    <link href="datatables-plugins/dataTables.bootstrap.css" rel="stylesheet"></link>

    <!-- DataTables Responsive CSS -->
    <link href="datatables-responsive/dataTables.responsive.css" rel="stylesheet"></link>

    <!-- Custom CSS -->
    <link href="dist/css/sb-admin-2.css" rel="stylesheet"></link>

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"></link>
    <!-- Custom Fonts -->
    <link href="font/font.css" rel="stylesheet" type="text/css"></link>
    <link href="font/button.css" rel="stylesheet" type="text/css"></link>

	<link rel="icon" href="/favicon.png" />
    
    <!-- jQuery -->
    <script src="jquery/jquery.min.js"></script>
	<script src="jquery/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="bootstrap/js/bootstrap-datepicker.min.js"></script>
	<script src="bootstrap/js/bootstrap-multiselect.min.js"></script>
	<script src="bootstrap/js/fileinput.js"></script>
	<script src="bootstrap/js/datetime.js"></script>
	<script src="bootstrap/js/popper.js"></script>	
	<script src="bootstrap/js/bootstrap-confirmation.js"></script>
	<script src="bootstrap/js/confirmation-dialog.js"></script>
	<script src="bootstrap/js/bootstrap-select.min.js"></script>
	
	<script src="websocket/socket.js"></script>		
	<script src="websocket/client.js"></script>
	
	<!--<script src="bootstrap/js/bootstrap-datepicker.js"></script>-->
    <!-- Metis Menu Plugin JavaScript -->
    <script src="metisMenu/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="datatables/js/jquery.dataTables.min.js"></script>
    <script src="datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="datatables-responsive/dataTables.responsive.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="dist/js/sb-admin-2.js"></script>


</head>




