<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="head :: header">

<body>

    <div id="wrapper">

        <!-- Navigation -->
			<div th:insert="navigation :: navbar">  </div>


        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
					<div class="row">
						<div class="col-md-4 text-primary">
							<i class="fa fa-windows"></i>
							<span style="margin-left:10px">Applications</span>
						</div>
						<div class="col-md-8 text-right">
							<input id="appSearch" type="text" class="input-lg" placeholder="Search..."></input>
							<a href="/addApplication" title="Create Application"><i class="fa fa-plus"></i></a>
						</div>
					</div>
					</h1>
					
                </div>

				

                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div id="appDiv" class="col-lg-3 col-md-6" th:each="Application: ${Applications}">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
							<div class="row">
								<div class="small col-xs-10 text-left pull-left">
									<span th:text="'Decommision Date: '+@{${Application.appDecomminsionDate==null} ? '':${Application.appDecomminsionDate}}"></span>
								</div>
								<div class="small col-xs-2 text-right pull-right">
										<a th:href="@{'/deleteApplication?id='+${Application.id}+'&name='+${Application.appName}}" 
											style="color:white;text-decoration: none" 
											data-title="Are you sure to delete this Application?" 
											data-toggle="confirmation" 
											data-singleton="true" 
											data-popout="true"
											<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
										</a>
								</div>
							</div>
							<div class="row">							
								<div class="col-xs-12">
									 <p id="appName" class="h4" th:text="${Application.appName}"></p>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 text-right pull-right">
									<span th:text="@{'Instances: '+${Application.appInstances.size()}}"></span>
								</div>
							</div>

                        </div>
                        <a th:href="@{'/applicationdetail?id=' + ${Application.id}}">
                            <div class="panel-footer">
                                <span class="pull-left">More Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
<script>
$("#appSearch").on('change keyup paste', function() {
	var searchText = $(this).val();
    $('[id^=appDiv]').each(function(){
		var isShow=true;
		//enable search by app name
		var appName=$(this).find("#appName");
		
		if(appName.text().toLowerCase().search(searchText.toLowerCase())>-1)
		{
			isShow=true;
		}
		else
		{
			isShow=false;
		}
		
		
		//show or hide div
		isShow? $(this).show():$(this).hide();
	});
});
</script>
	
	

</body>

</html>
