<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="head :: header">

<body>

    <div id="wrapper">

        <!-- Navigation -->
			<div th:insert="navigation :: navbar">  </div>


        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
						<div class="row">
							<div class="col-md-8">
							<i class="fa fa-android text-primary"></i>
							<span th:text="${appinstance.appInstanceName}" class="text-primary"></span><span th:if="${appinstance.application!=null}" class="text-muted"> - (<a class="text-muted" th:href="@{'/applicationdetail?app='+${appinstance.application.id}}" th:text="${appinstance.application.AppName}"></a>)
							</span>
							</div>
							<div class="col-md-4 text-right text-primary">
								<a href="/addAppInstance" title="Create Instance"><i class="fa fa-plus"></i></a>
							</div>
						</div>
					</h1>
                </div>			

                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
				<div class="col-lg-8">
                    <div th:class="${appinstance.status=='Active'} ? 'panel panel-primary' : 'panel panel-default'">
                        <div class="panel-heading">
                            <i class="fa fa-info-circle"></i> Details
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
							<form action="#" th:action="@{/updateAppInstance}" method="post">													
						
							  <div class="form-group">
								<label for="appInstanceName">Instance:</label>
								<input type="text" class="form-control" th:name="appInstanceName" th:value="${appinstance.appInstanceName}"></input>
								<input type="hidden" class="form-control" th:name="appinstance" th:value="${appinstance.id}"></input>
							  </div>
							  <div class="form-group">
								<label for="appInstanceName">Status:</label>
								<select name="status" class="form-control" id="statusSelect">
									<option th:selected="${appinstance.status==null}"></option>
									<option th:attr="value = 'Active'" th:selected="${appinstance.status==null} ? false:${appinstance.status=='Active'}" th:text="Active"></option>
									<option th:attr="value = 'Inactive'" th:selected="${appinstance.status==null} ? false:${appinstance.status=='Inactive'}" th:text="Inactive"></option>
								</select>
							  </div>
							  <div class="form-group">
								<label for="note">Version:</label>
								<input type="text" class="form-control" th:name="version" th:value="${appinstance.version}">
							  </div>							  
							  <div class="form-group">
								<label for="note">Description:</label>
								<input type="text" class="form-control" th:name="description" th:value="${appinstance.description}">
							  </div>													  
							  <input class="btn btn-primary" style="margin-top:20px" type="submit" value="Update" />
							</form>                           
                        </div>
                        <!-- /.panel-body -->
                    </div>
				</div>
				<div class="col-lg-4">
				</div>
            </div>

            <!-- /.row -->
			
			<!--Contract Detail-->
			<div class="row">
				<div class="col-lg-8">
					 <div th:class="${appinstance.status=='Active'} ? 'panel panel-primary' : 'panel panel-default'">
                        <div class="panel-heading">
                            <i class="fa fa-pencil-square-o"></i> Contract
                            <div class="pull-right">
								<a data-toggle="modal" th:data-target="@{'#addContract'}" th:style="${appinstance.status=='Active'} ? 'text-decoration: none;color:white;cursor: pointer': 'text-decoration: none;color:black;cursor: pointer'" title="Add/Change">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
								<a th:style="${appinstance.status=='Active'} ? 'text-decoration: none;color:white;cursor: pointer': 'text-decoration: none;color:black;cursor: pointer'"
									th:if="${contract!=null}" th:href="${#strings.concat('/deleteInstanceContract?instance=',appinstance.id)}"
									data-title="Are you sure to delete?" 
									data-toggle="confirmation" 
									data-singleton="true" 
									data-popout="true"
								>
									<i class="fa fa-trash-o fa-lg"></i>
								</a>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div th:if="${contract!=null}" class="panel-body">
							<table class="table">
							  <tbody>
								<tr><th scope="row" style="width:25%">Contract:</th><td>
											<a th:href="@{'/contractdetail?contract='+${contract.id}}" th:text="${contract.contractName}">
											</a>
								</td></tr>
								<tr><th scope="row" style="width:25%">Expired Date:</th><td th:text="${contract.expireDate}"></td></tr>
								<tr><th scope="row" style="width:25%">Description:</th><td th:text="${contract.description}"></td></tr>
								<tr><th scope="row" style="width:25%">Attachment:</th>
								<td>
									<a data-toggle="modal"  
										th:data-target="@{${#strings.concat('#',contract.id,'files')}}" 
										th:if="${contract.files.size()>0}"
										th:style="${appinstance.status=='Active'} ? 'text-decoration: none;cursor: pointer': 'text-decoration: none;color:black;cursor: pointer'"
										>
										<span class="fa fa-paperclip fa-lg"></span>
									</a>
								</td>
								</tr>
							  </tbody>
							</table>
                        </div>
                        <!-- /.panel-body -->
                    </div>
				</div>
				<div class="col-lg-4">
					<div class="modal fade" th:if="${contract!=null && contract.files.size()>0}" th:id="${#strings.concat(contract.id,'files')}" role="dialog" >
						<!-- Modal content-->
						<div class="modal-dialog">
						  <div class="modal-content">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">&times;</button>
							  <h4 class="modal-title"> Attachments</h4>
							</div>
							<div class="modal-body">
								<table class="table table-striped" id="filestable">
								  <thead>
									<tr>
									  <th scope="col">File Name</th>
									  <th scope="col">Created At</th>
									  <th scope="col">Created By</th>														  
									</tr>
								  </thead>
								  <tbody>
									<tr th:each="file : ${contract.files}">
									  <th><h5><a th:href="@{'/downloadcontract?id='+${file.id}}" th:text="${file.attachment}"></h5></a></th>
									  <th><h5 th:text="${file.createdat}"></h5></th>
									  <th><h5 th:text="${file.createdby}"></h5></th>
									</tr>
								  </tbody>
								</table>
							</div>
						   </div>
						 </div>
					</div>					
				
				</div>
			</div>
			
			<!--license Detail-->
			<div class="row">
				<div class="col-lg-8">
					 <div th:class="${appinstance.status=='Active'} ? 'panel panel-primary' : 'panel panel-default'">
                        <div class="panel-heading">
                            <i class="fa fa-leanpub"></i> License
                            <div class="pull-right">
								<a data-toggle="modal" th:data-target="@{'#addlicense'}" th:style="${appinstance.status=='Active'} ? 'text-decoration: none;color:white;cursor: pointer': 'text-decoration: none;color:black;cursor: pointer'" title="Add/Change">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
								<a th:style="${appinstance.status=='Active'} ? 'text-decoration: none;color:white;cursor: pointer': 'text-decoration: none;color:black;cursor: pointer'"
									th:if="${license!=null}" 
									th:href="${#strings.concat('/deleteInstanceLicense?license=',license.id)}"
									data-title="Are you sure to delete?" 
									data-toggle="confirmation" 
									data-singleton="true" 
									data-popout="true"									
									>
									<i class="fa fa-trash-o fa-lg"></i>
								</a>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div th:if="${license!=null}" class="panel-body">
							<table class="table">
							  <tbody>
								<tr><th scope="row" style="width:25%">License Number:</th><td>
									<a th:href="@{'/licensedetail?license='+${license.id}}" th:text="${license.licenseNumber}">
									</a>
								</td></tr>
								<tr><th scope="row" style="width:25%">Registration Date:</th><td th:text="${license.registrationDate}"></td></tr>
								<tr><th scope="row" style="width:25%">Expiry Date:</th><td th:text="${license.expireDate}"></td></tr>
								<tr><th scope="row" style="width:25%">Note:</th><td th:text="${license.note}"></td></tr>
								<tr><th scope="row" style="width:25%">Price:</th><td th:text="'$'+${#numbers.formatDecimal(#strings.defaultString(license.price,0),2,2,'COMMA')}"></td></tr>
							  </tbody>
							</table>
                        </div>
                        <!-- /.panel-body -->
                    </div>
				</div>
				<div class="col-lg-4">
				</div>
			</div>
			
			<!--desktop Detail-->
			<div class="row">
				<div class="col-lg-8">
					 <div th:class="${appinstance.status=='Active'} ? 'panel panel-primary' : 'panel panel-default'">
                        <div class="panel-heading">
                            <i class="fa fa-laptop"></i> Desktop
                            <div class="pull-right">
								<a data-toggle="modal" th:data-target="@{'#adddesktop'}" th:style="${appinstance.status=='Active'} ? 'text-decoration: none;color:white;cursor: pointer': 'text-decoration: none;color:black;cursor: pointer'" title="Add/Change">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
								<a th:style="${appinstance.status=='Active'} ? 'text-decoration: none;color:white;cursor: pointer': 'text-decoration: none;color:black;cursor: pointer'"
									th:if="${desktop!=null}" th:href="${#strings.concat('/deleteInstanceDesktop?desktop=',desktop.id)}"
									data-title="Are you sure to delete?" 
									data-toggle="confirmation" 
									data-singleton="true" 
									data-popout="true"									
									>
									<i class="fa fa-trash-o fa-lg"></i>
								</a>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div th:if="${desktop!=null}" class="panel-body">
							<table class="table">
							  <tbody>
								<tr><th scope="row" style="width:25%">Desktop:</th><td>
									<a th:href="@{'/desktopdetail?desktop='+${desktop.id}}" 
									th:text="${desktop.desktopName}">
									</a>
								</td></tr>
								<tr><th scope="row" style="width:25%">Operation System Version:</th><td th:text="${desktop.osVersion}"></td></tr>
								<tr><th scope="row" style="width:25%">Description:</th><td th:text="${desktop.description}"></td></tr>
								<tr><th scope="row" style="width:25%">HW Platform:</th><td th:text="${desktop.hwplatform}"></td></tr>
								<tr><th scope="row" style="width:25%">Decomminsion Date:</th><td th:text="${desktop.decomminsionDate}"></td></tr>
							  </tbody>
							</table>
                        </div>
                        <!-- /.panel-body -->
                    </div>
				</div>
				<div class="col-lg-4">
				</div>
			</div>
			
			<!--server Detail-->
			<div class="row">
				<div class="col-lg-8">
					 <div th:class="${appinstance.status=='Active'} ? 'panel panel-primary' : 'panel panel-default'">
                        <div class="panel-heading" id="serverheading">
							<i class="fa  fa-server"></i> Server
                            <div class="pull-right">
								<a data-toggle="modal" th:data-target="@{'#addserver'}" th:style="${appinstance.status=='Active'} ? 'text-decoration: none;color:white;cursor: pointer': 'text-decoration: none;color:black;cursor: pointer'" title="Add/Change">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
                            </div>
                        </div>

						<!-- /.panel-heading -->
						<div th:if="${serverSelected!=null && serverSelected.size()>0}" class="panel-body">

							<table class="table">
							  <thead>
								<th class="pull-center">Server</th>
								<th>Description</th>
								<th>Decomminsion Date</th>
								<th>Attachments</th>
							  </thead>
							  <tbody>
								<tr th:each="server: ${serverSelected}">
									<td>
											<a th:href="@{'/deleteInstanceServer?server='+${server.id}}" 
											style="text-decoration: none;"  
											data-title="Are you sure to delete?" 
											data-toggle="confirmation" 
											data-singleton="true" 
											data-popout="true" 
											>
												<i class="fa fa-trash-o fa-lg"></i>
											</a>
											<a th:href="@{'/serverdetail?server='+${server.id}}" 
											style="text-decoration: none"> <span th:text="${server.serverName}"></span>
											</a>
									</td>
									<td th:text="${server.description}"><span th:text="${server.description}"></td>
									<td th:text="${server.decomminsionDate}"></td>
									<td>
										<a data-toggle="modal"  
											th:data-target="@{${#strings.concat('#',server.id,'files')}}" 										
											th:if="${server.files.size()>0}"
											style="text-decoration: none;cursor: pointer"
											>
											<span class="fa fa-paperclip fa-lg"></span>
										</a>
									</td>
								</tr>
							  </tbody>
							</table>


						</div>
						<!-- /.panel-body -->
	
                    </div>
				</div>
				<div class="col-lg-4">
					<div th:if="${serverSelected!=null && serverSelected.size()>0}" th:each="server: ${serverSelected}">
						<div class="modal fade" th:if="${server.files.size()>0}" th:id="${#strings.concat(server.id,'files')}" role="dialog" >
							<!-- Modal content-->
							<div class="modal-dialog">
							  <div class="modal-content">
								<div class="modal-header">
								  <button type="button" class="close" data-dismiss="modal">&times;</button>
								  <h4 class="modal-title"> Attachments</h4>
								</div>
								<div class="modal-body">
									<table class="table table-striped" id="filestable">
									  <thead>
										<tr>
										  <th scope="col">File Name</th>
										  <th scope="col">Created At</th>
										  <th scope="col">Created By</th>														  
										</tr>
									  </thead>
									  <tbody>
										<tr th:each="file : ${server.files}">
										  <th><h5><a th:href="@{'/downloadserver?id='+${file.id}}" th:text="${file.attachment}"></h5></a></th>
										  <th><h5 th:text="${file.createdat}"></h5></th>
										  <th><h5 th:text="${file.createdby}"></h5></th>
										</tr>
									  </tbody>
									</table>
								</div>
							   </div>
							 </div>
						</div>
					</div>
				</div>
			</div>

			<!--Vendor Detail-->
			<div class="row">
				<div class="col-lg-8">
					 <div th:class="${appinstance.status=='Active'} ? 'panel panel-primary' : 'panel panel-default'">
                        <div class="panel-heading">
                            <i class="fa fa-user"></i> Vendor
                            <div class="pull-right">
								<a data-toggle="modal" th:data-target="@{'#addcompany'}" th:style="${appinstance.status=='Active'} ? 'text-decoration: none;color:white;cursor: pointer': 'text-decoration: none;color:black;cursor: pointer'" title="Add/Change">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
								<a th:style="${appinstance.status=='Active'} ? 'text-decoration: none;color:white;cursor: pointer': 'text-decoration: none;color:black;cursor: pointer'"
								th:if="${company!=null}" th:href="${#strings.concat('/deleteInstanceCompany?instance=',appinstance.id)}"
								data-title="Are you sure to delete?" 
								data-toggle="confirmation" 
								data-singleton="true" 
								data-popout="true"								
								>
									<i class="fa fa-trash-o fa-lg"></i>
								</a>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div th:if="${company!=null}" class="panel-body">
							<table class="table">
							  <tbody>
								<tr><th scope="row" style="width:25%">Vendor:</th><td>
									<a th:href="@{'/companydetail?company='+${company.id}}" th:text="${company.companyName}"></a>
								</td></tr>
								<tr><th scope="row" style="width:25%">Phone:</th><td th:text="${company.phone}"></td></tr>
								<tr><th scope="row" style="width:25%">Email:</th><td th:text="${company.email}"></td></tr>
							
							  </tbody>
							</table>
                        </div>
                        <!-- /.panel-body -->
                    </div>
				</div>
				<div class="col-lg-4">
				</div>
			</div>


			<!--Department Detail-->
			<div class="row">
				<div class="col-lg-8">
					 <div th:class="${appinstance.status=='Active'} ? 'panel panel-primary' : 'panel panel-default'">
                        <div class="panel-heading">
                            <i class="fa  fa-building"></i> Department
                            <div class="pull-right">
								<a data-toggle="modal" th:data-target="@{'#adddepartment'}" th:style="${appinstance.status=='Active'} ? 'text-decoration: none;color:white;cursor: pointer': 'text-decoration: none;color:black;cursor: pointer'" title="Add/Change">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
								<a th:style="${appinstance.status=='Active'} ? 'text-decoration: none;color:white;cursor: pointer': 'text-decoration: none;color:black;cursor: pointer'"
								 th:if="${department!=null}" th:href="${#strings.concat('/deleteInstanceDepartment?instance=',appinstance.id)}"
								data-title="Are you sure to delete?" 
								data-toggle="confirmation" 
								data-singleton="true" 
								data-popout="true"
								 >
									<i class="fa fa-trash-o fa-lg"></i>
								</a>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div th:if="${department!=null}" class="panel-body">
							<table class="table">
							  <tbody>
								<tr><th scope="row" style="width:25%">department:</th>
								<td>
									<a th:href="@{'/departmentdetail?id='+${department.id}}"><h5 th:text="${department.departmentName}"></h5></a>
								</td>
								</tr>
								<tr><th scope="row" style="width:25%">Stakeholder:</th><td>
								
									<ul style="padding:0" th:if="${department.stakeholders.size()>0}">
										<li style="list-style-type:none" th:each="stakeholder : ${department.stakeholders}">
										<a th:href="@{'/stakeholderdetail?stakeholder='+${stakeholder.id}}" th:text="${stakeholder.stakeholderName}"></a>
										</li>
									</ul>

								</td></tr>
								<tr><th scope="row" style="width:25%">Description:</th><td th:text="${department.description}"></td></tr>

								<tr><th scope="row" style="width:25%">Attachment:</th>
								<td>									
									<a data-toggle="modal"  
											th:data-target="@{${#strings.concat('#',department.id,'files')}}" 
											th:if="${department.files.size()>0}"
											th:style="${appinstance.status=='Active'} ? 'text-decoration: none;cursor: pointer': 'text-decoration: none;color:black;cursor: pointer'"
											>
											<span class="fa fa-paperclip fa-lg"></span>
									</a>
								</td>
								</tr>								
							  </tbody>
							</table>
                        </div>
                        <!-- /.panel-body -->
                    </div>
				</div>
				<div class="col-lg-4">
					<div class="modal fade" th:if="${department!=null && department.files.size()>0}" th:id="${#strings.concat(department.id,'files')}" role="dialog" >
						<!-- Modal content-->
						<div class="modal-dialog">
						  <div class="modal-content">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">&times;</button>
							  <h4 class="modal-title"> Attachments</h4>
							</div>
							<div class="modal-body">
								<table class="table table-striped" id="filestable">
								  <thead>
									<tr>
									  <th scope="col">File Name</th>
									  <th scope="col">Created At</th>
									  <th scope="col">Created By</th>														  
									</tr>
								  </thead>
								  <tbody>
									<tr th:each="file : ${department.files}">
									  <th><h5><a th:href="@{'/downloaddepartment?id='+${file.id}}" th:text="${file.attachment}"></h5></a></th>
									  <th><h5 th:text="${file.createdat}"></h5></th>
									  <th><h5 th:text="${file.createdby}"></h5></th>
									</tr>
								  </tbody>
								</table>
							</div>
						   </div>
						 </div>
					</div>
				</div>
			</div>


			<!--Suport Detail-->
			<div class="row">
				<div class="col-lg-8">
					 <div th:class="${appinstance.status=='Active'} ? 'panel panel-primary' : 'panel panel-default'">
                        <div class="panel-heading">
                            <i class="fa fa-support"></i> Support
                            <div class="pull-right">
								<a data-toggle="modal" th:data-target="@{'#addsupport'}" th:style="${appinstance.status=='Active'} ? 'text-decoration: none;color:white;cursor: pointer': 'text-decoration: none;color:black;cursor: pointer'" title="Add/Change">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
								<a th:style="${appinstance.status=='Active'} ? 'text-decoration: none;color:white;cursor: pointer': 'text-decoration: none;color:black;cursor: pointer'"
									th:if="${support!=null}" th:href="${#strings.concat('/deleteInstanceSupport?instance=',appinstance.id)}"
									data-title="Are you sure to delete?" 
									data-toggle="confirmation" 
									data-singleton="true" 
									data-popout="true"									
									>
									<i class="fa fa-trash-o fa-lg"></i>
								</a>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div th:if="${support!=null}" class="panel-body">
							<div class="row"><div class="col-sm-2"><strong>Support:</strong></div><div class="col-sm-10"><a th:href="@{'/supportdetail?support='+${support.id}}" th:text="${support.supportName}"></a></div></div>
							<div class="row"><div class="col-sm-2"><strong>Phone:</strong></div><div class="col-sm-10"><span th:text="${support.phone}"></span></div></div>
							<div class="row"><div class="col-sm-2"><strong>Email:</strong></div><div class="col-sm-10"><span th:text="${support.email}"></span></div></div>
							<div class="row"><div class="col-sm-2"><strong>Note:</strong></div><div class="col-sm-10"><span th:text="${support.note}"></span></div></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
				</div>
				<div class="col-lg-4">
				</div>
			</div>						
			<!--Project Detail-->
			<div class="row">
				<div class="col-lg-8">
					 <div th:class="${appinstance.status=='Active'} ? 'panel panel-primary' : 'panel panel-default'">
						<div class="panel-heading">
							<i class="fa fa-product-hunt"></i> Projects
							<div class="pull-right">
								<a data-toggle="modal" th:data-target="@{'#addinstanceproject'}" th:style="${appinstance.status=='Active'} ? 'text-decoration: none;color:white;cursor: pointer': 'text-decoration: none;color:black;cursor: pointer'" title="Add/Change">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
							</div>
						</div>
						<!-- /.panel-heading -->
						<div th:if="${instanceprojects.size()>0}" class="panel-body">
							<table class="table">
							  <thead>
								<th>Project</th>
								<th>Start Date</th>
								<th>End Date</th>

							  </thead>
							  <tbody>
								<tr th:each="instanceproject: ${instanceprojects}">
									<td>
										<a th:href="@{'/deleteInstanceProject?project='+${instanceproject.id}+'&appinstance='+${appinstance.id}}" 
											style="margin-right:20px;text-decoration: none"
											data-title="Are you sure to delete?" 
											data-toggle="confirmation" 
											data-singleton="true" 
											data-popout="true"
										   >
											<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
										</a>
										<a th:href="@{'/projectdetail?project='+${instanceproject.id}}" th:text="${instanceproject.projectname}"></a>
									</td>
									<td th:text="${#dates.format(instanceproject.startdate,'MMM-dd-yyyy')}"></td>
									<td th:text="${#dates.format(instanceproject.enddate,'MMM-dd-yyyy')}"></td>

								</tr>
							  </tbody>
							</table>
						</div>
						<!-- /.panel-body -->
					</div>
				</div>
				<div class="col-lg-4">
				</div>
			</div>						
			<!--Site Detail-->
			<div class="row">
				<div class="col-lg-8">
					 <div th:class="${appinstance.status=='Active'} ? 'panel panel-primary' : 'panel panel-default'">
						<div class="panel-heading">
							<i class="fa fa-cubes"></i> Sites
							<div class="pull-right">
								<a data-toggle="modal" th:data-target="@{'#addinstancelocation'}" th:style="${appinstance.status=='Active'} ? 'text-decoration: none;color:white;cursor: pointer': 'text-decoration: none;color:black;cursor: pointer'" title="Add/Change">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
							</div>
						</div>
						<!-- /.panel-heading -->
						<div th:if="${instancelocations.size()>0}" class="panel-body">
							<table class="table">
							  <thead>
								<th class="pull-center">Site</th>
								<th>Zone</th>
								<th>Description</th>
								<th>Note</th>
							  </thead>
							  <tbody>
								<tr th:each="instancelocation: ${instancelocations}">
									<td>
										<a th:href="@{'/deleteInstanceSite?site='+${instancelocation.id}+'&appinstance='+${appinstance.id}}" 
											style="margin-right:20px;text-decoration: none"
											data-title="Are you sure to delete?" 
											data-toggle="confirmation" 
											data-singleton="true" 
											data-popout="true"
										   >
											<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
										</a>
										<a th:href="@{'/sitedetail?site='+${instancelocation.id}}" th:text="${instancelocation.siteName}"></a>
									</td>
									<td><a th:if="${instancelocation.zone!=null}" th:href="@{'/zonedetail?zone='+${instancelocation.zone.id}}" th:text="${instancelocation.zone.getZoneName()}"></a><td>
									<td th:text="${instancelocation.description}"></td>
									<td th:text="${instancelocation.note}"></td>
								</tr>
							  </tbody>
							</table>
						</div>
						<!-- /.panel-body -->
					</div>
				</div>
				<div class="col-lg-4">
				</div>
			</div>
			
			<!--Zone Detail-->
			<div class="row">
				<div class="col-lg-8">
					 <div th:class="${appinstance.status=='Active'} ? 'panel panel-primary' : 'panel panel-default'">
						<div class="panel-heading">
							<i class="fa fa-cube"></i> Zones
							<div class="pull-right">
								<a data-toggle="modal" th:data-target="@{'#addinstancezone'}" th:style="${appinstance.status=='Active'} ? 'text-decoration: none;color:white;cursor: pointer': 'text-decoration: none;color:black;cursor: pointer'" title="Add/Change">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
							</div>
						</div>
						<!-- /.panel-heading -->
						<div th:if="${instancezones.size()>0}" class="panel-body">
							<table class="table">
							  <thead>
								<th>Zone</th>
								<th>Description</th>
								<th>Note</th>
							  </thead>
							  <tbody>
								<tr th:each="instancezone: ${instancezones}">
									<td>
										<a th:href="@{'/deleteInstanceZone?zone='+${instancezone.id}+'&appinstance='+${appinstance.id}}" 
											style="margin-right:20px;text-decoration: none"
											data-title="Are you sure to delete?" 
											data-toggle="confirmation" 
											data-singleton="true" 
											data-popout="true"
										   >
											<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
										</a>
										<a th:href="@{'/zonedetail?zone='+${instancezone.id}}" th:text="${instancezone.zoneName}"></a>
									</td>
									<td th:text="${instancezone.description}"></td>
									<td th:text="${instancezone.note}"></td>
								</tr>
							  </tbody>
							</table>
						</div>
						<!-- /.panel-body -->
					</div>
				</div>
				<div class="col-lg-4">
				</div>
			</div>			
			
			<!--file detail-->			
			<div class="row">
				<div class="col-lg-8">
					<div th:class="${appinstance.status=='Active'} ? 'panel panel-primary' : 'panel panel-default'">
						<div class="panel-heading">
							<i class="fa fa-paperclip"></i> Attachments
							<div class="pull-right">
								<a data-toggle="modal" 
								th:data-target="@{${#strings.concat('#',appinstance.id,'file')}}" 
								style="text-decoration: none;cursor: pointer;color:white" 
								title="Add Files">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
							</div>
						</div>
						<div th:if="${appinstance.files.size()>0}" class="panel-body">
							<table class="table">
							  <thead>
								<th>File</th>
								<th>Created At</th>
								<th>Created By</th>
							  </thead>
							  <tbody>
								<tr th:each="file: ${#lists.sort(appinstance.files)}">
									<td>
										<a  
											th:href="@{'/deleteappinstancefile?file='+${file.id}+'&appInstance='+${appinstance.id}}" 
											style="text-decoration: none; margin-right:5px"
											data-title="Are you sure to delete?" 
											data-toggle="confirmation" 
											data-singleton="true" 
											data-popout="true"
										>
											<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
										</a>
										<a 	
											th:href="@{'/downloadappinstance?file='+${file.id}}" 
											th:text="${file.attachment}"
										>
										</a>
									</td>
									<td th:text="${#dates.format(file.createdat,'MMM-dd-yyyy HH:mm')}"></td>
									<td th:text="${file.createdby}"></td>
								</tr>
							  </tbody>
							</table>							
						</div>
						
					</div>

										


				</div><!-- col-lg-8 -->									
			</div>
						
			<!--Model Areas-->
	
				<!--Contract model-->
				<div class="modal fade" th:id="addContract" role="dialog">
					<div class="modal-dialog">
					
					  <!-- Modal content-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h4 class="modal-title" th:text="'Add Or Change Contract - '+${appinstance.appInstanceName}"></h4>													
						</div>
						<div class="modal-body">	
							<form action="#" th:action="@{/addInstanceContract}"  method="post">
								<div class="form-group">
									<label for="contractSelect">Contract:</label>
									<input type="hidden" class="form-control" th:name="appinstance" th:value="${appinstance.id}"></input>
									<select name="contract" class="form-control" id="contractSelect">
									  <option th:selected="${contract==null}"></option>
									  <option th:each="contractEntity : ${contracts}" 
									  th:text="${contractEntity.contractName}" 
									  th:attr="value = ${contractEntity.id}" th:selected="${contract==null} ? false:${contract.getId()==contractEntity.id}">
									  
									  </option>
									</select>
								</div>
							  <input class="btn btn-primary" type="submit" value="Submit" />
							</form>
						</div>
					  </div>

					</div>	
				</div>
				
				<!--License model-->
				<div class="modal fade" th:id="addlicense" role="dialog">
					<div class="modal-dialog">
					
					  <!-- Modal content-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h4 class="modal-title" th:text="'Add Or Change License - '+${appinstance.appInstanceName}"></h4>													
						</div>
						<div class="modal-body">	
							<form action="#" th:action="@{/addInstanceLicense}" method="post">
								<div class="form-group">
									<label for="licenseSelect">License:</label>
									<input type="hidden" class="form-control" th:name="appInstance" th:value="${appinstance.id}"></input>
									<select name="license" class="form-control" id="licenseSelect">
									  <option th:selected="${license==null}"></option>
									  <option th:each="licenseEntity : ${licenses}" 
									  th:text="${licenseEntity.licenseNumber}" 
									  th:attr="value = ${licenseEntity.id}" th:selected="${license==null} ? false:${license.getId()==licenseEntity.id}">
									  
									  </option>
									</select>
								</div>
							  <input class="btn btn-primary" type="submit" value="Submit" />
							</form>
						</div>
					  </div>

					</div>	
				</div>

				<!--desktop model-->
				<div class="modal fade" th:id="adddesktop" role="dialog">
					<div class="modal-dialog">
					
					  <!-- Modal content-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h4 class="modal-title" th:text="'Add Or Change Desktop - '+${appinstance.appInstanceName}"></h4>													
						</div>
						<div class="modal-body">	
							<form action="#" th:action="@{/addInstanceDesktop}" method="post">
								<div class="form-group">
									<label for="desktopSelect">Desktop:</label>
									<input type="hidden" class="form-control" th:name="appInstance" th:value="${appinstance.id}"></input>
									<select name="desktop" class="form-control" id="desktopSelect">
									  <option th:selected="${desktop==null}"></option>
									  <option th:each="desktopEntity : ${desktops}" 
									  th:text="${desktopEntity.desktopName}" 
									  th:attr="value = ${desktopEntity.id}" th:selected="${desktop==null} ? false:${desktop.getId()==desktopEntity.id}">
									  
									  </option>
									</select>
								</div>
							  <input class="btn btn-primary" type="submit" value="Submit" />
							</form>
						</div>
					  </div>

					</div>	
				</div>	

				<!--server model-->
				<div class="modal fade" th:id="addserver" role="dialog">
					<div class="modal-dialog">
					
					  <!-- Modal content-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h4 class="modal-title" th:text="'Add Or Change server - '+${appinstance.appInstanceName}"></h4>													
						</div>
						<div class="modal-body">	
							<form action="#" th:action="@{/addInstanceServer}"  method="post">
								<div class="form-group">
									<label for="serverSelect">Server:</label>
									<input type="hidden" class="form-control" th:name="appInstance" th:value="${appinstance.id}"></input>
									<select name="servers" class="mdb-select md-form colorful-select dropdown-primary form-control" multiple id="serverSelect">
									  <option th:each="serverEntity : ${servers}" 
									  th:text="${serverEntity.serverName}" 
									  th:attr="value = ${serverEntity.id}">
									</select>
								</div>
							  <input class="btn btn-primary" type="submit" value="Submit" />
							</form>
						</div>
					  </div>

					</div>	
				</div>	

				<!--Vendor model-->
				<div class="modal fade" th:id="addcompany" role="dialog">
					<div class="modal-dialog">
					
					  <!-- Modal content-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h4 class="modal-title" th:text="'Add Or Change Vendor - '+${appinstance.appInstanceName}"></h4>													
						</div>
						<div class="modal-body">	
							<form action="#" th:action="@{/addInstanceCompany}" method="post">
								<div class="form-group">
									<label for="companySelect">Vendor:</label>
									<input type="hidden" class="form-control" th:name="appinstance" th:value="${appinstance.id}"></input>
									<select name="company" class="form-control" id="companySelect">
									  <option th:selected="${company==null}"></option>
									  <option th:each="companyEntity : ${companys}" 
									  th:text="${companyEntity.companyName}" 
									  th:attr="value = ${companyEntity.id}" th:selected="${company==null} ? false:${company.getId()==companyEntity.id}">
									  
									  </option>
									</select>
								</div>
							  <input class="btn btn-primary" type="submit" value="Submit" />
							</form>
						</div>
					  </div>

					</div>	
				</div>	

				<!--Department model-->
				<div class="modal fade" th:id="adddepartment" role="dialog">
					<div class="modal-dialog">
					
					  <!-- Modal content-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h4 class="modal-title" th:text="'Add Or Change Department - '+${appinstance.appInstanceName}"></h4>													
						</div>
						<div class="modal-body">	
							<form action="#" th:action="@{/addInstanceDepartment}" method="post">
								<div class="form-group">
									<label for="departmentSelect">Department:</label>
									<input type="hidden" class="form-control" th:name="appinstance" th:value="${appinstance.id}"></input>
									<select name="department" class="form-control" id="departmentSelect">
									  <option th:selected="${appinstance.department==null}"></option>
									  <option th:each="departmentEntity : ${departments}" 
									  th:text="${departmentEntity.departmentName}" 
									  th:attr="value = ${departmentEntity.id}" th:selected="${appinstance.department==null} ? false:${appinstance.department.getId()==departmentEntity.id}">
									  
									  </option>
									</select>
								</div>
							  <input class="btn btn-primary" type="submit" value="Submit" />
							</form>
						</div>
					  </div>

					</div>	
				</div>				

				<!--Support model-->
				<div class="modal fade" th:id="addsupport" role="dialog">
					<div class="modal-dialog">
					
					  <!-- Modal content-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h4 class="modal-title" th:text="'Add Or Change Support - '+${appinstance.appInstanceName}"></h4>													
						</div>
						<div class="modal-body">	
							<form action="#" th:action="@{/addInstanceSupport}" method="post">
								<div class="form-group">
									<label for="supportSelect">Support:</label>
									<input type="hidden" class="form-control" th:name="appinstance" th:value="${appinstance.id}"></input>
									<select name="support" class="form-control" id="supportSelect">
									  <option th:selected="${appinstance.support==null}"></option>
									  <option th:each="supportEntity : ${supports}" 
									  th:text="${supportEntity.supportName}" 
									  th:attr="value = ${supportEntity.id}" th:selected="${appinstance.support==null} ? false:${appinstance.support.getId()==supportEntity.id}">
									  
									  </option>
									</select>
								</div>
							  <input class="btn btn-primary" type="submit" value="Submit" />
							</form>
						</div>
					  </div>

					</div>	
				</div>
				<!--project model-->
				<div class="modal fade" th:id="addinstanceproject" role="dialog">
					<div class="modal-dialog">
					
					  <!-- Modal content-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h4 class="modal-title" th:text="'Add Or Change project - '+${appinstance.appInstanceName}"></h4>													
						</div>
						<div class="modal-body">	
							<form action="#" th:action="@{/addInstanceProject}" method="post">
								<div class="form-group">
									<label for="clusterSelect">Project:</label>
									<input type="hidden" class="form-control" th:name="appInstance" th:value="${appinstance.id}"></input>
									<select name="projects" class="mdb-select md-form colorful-select dropdown-primary form-control" multiple id="projectselect">
									  <option th:each="projectEntity : ${projects}" 
									  th:text="${projectEntity.projectname}" 
									  th:attr="value = ${projectEntity.id}">
									</select>
								</div>

								  <input class="btn btn-primary" type="submit" value="Submit" />

							</form>
						</div>
					  </div>

					</div>	
				</div>
				<!--Site model-->
				<div class="modal fade" th:id="addinstancelocation" role="dialog">
					<div class="modal-dialog">
					
					  <!-- Modal content-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h4 class="modal-title" th:text="'Add Or Change site - '+${appinstance.appInstanceName}"></h4>													
						</div>
						<div class="modal-body">	
							<form action="#" th:action="@{/addInstanceSite}" method="post">
								<div class="form-group">
									<label for="clusterSelect">Site:</label>
									<input type="hidden" class="form-control" th:name="appInstance" th:value="${appinstance.id}"></input>
									<select name="sites" class="mdb-select md-form colorful-select dropdown-primary form-control" multiple id="siteselect">
									  <option th:each="siteEntity : ${sites}" 
									  th:text="${siteEntity.siteName}" 
									  th:attr="value = ${siteEntity.id}">
									</select>
								</div>
							  <input class="btn btn-primary" type="submit" value="Submit" />
							</form>
						</div>
					  </div>

					</div>	
				</div>
				
				<!--Zone model-->
				<div class="modal fade" th:id="addinstancezone" role="dialog">
					<div class="modal-dialog">
					
					  <!-- Modal content-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h4 class="modal-title" th:text="'Add Or Change Zone - '+${appinstance.appInstanceName}"></h4>													
						</div>
						<div class="modal-body">	
							<form action="#" th:action="@{/addInstanceZone}" method="post">
								<div class="form-group">
									<label for="zoneselect">Zone:</label>
									<input type="hidden" class="form-control" th:name="appInstance" th:value="${appinstance.id}"></input>
									<select name="zones" class="mdb-select md-form colorful-select dropdown-primary form-control" multiple id="zoneselect">
									  <option th:each="zoneEntity : ${zones}" 
									  th:text="${zoneEntity.zoneName}" 
									  th:attr="value = ${zoneEntity.id}">
									</select>
								</div>
							  <input class="btn btn-primary" type="submit" value="Submit" />
							</form>
						</div>
					  </div>

					</div>	
				</div>				
				<!--File model-->
				<div class="modal fade" th:id="${#strings.concat(appinstance.id,'file')}" role="dialog" >
						<!-- Modal content-->
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
									  <button type="button" class="close" data-dismiss="modal">&times;</button>
									  <h4 class="modal-title"> Add Files</h4>
									</div>
									<div class="modal-body">
										<form  id="UploadFileForm"  method="POST" action="/appinstanceupload" enctype="multipart/form-data">
											<!-- COMPONENT START -->
											<div class="input-group">
																
													<a th:onclick="@{'uploadfile(\''+${appinstance.id}+'\')'}"><input type="text" th:id="@{${appinstance.id}+'filename'}" class="form-control" placeholder="Choose file..." style="cursor:pointer" readonly></a>
													<div class="input-group-btn">
													<button type="submit" class="btn btn-primary"><i class="fa fa-upload"></i></button>
													</div>
						
											</div>
											<!-- COMPONENT END -->
											<div class="form-group  pull-center">
												<input type="file" class="form-control" name="file" style="visibility:hidden;height:0;" th:id="@{${appinstance.id}+'fileupload'}">
												<input type="hidden" class="form-control" th:name="appInstance" th:value="${appinstance.id}"></input>
												<input type="hidden" class="form-control" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"></input>

											</div>
										</form>
									</div>
							   </div>
							</div>
				</div>				
				
				
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


			<script>
			$(document).ready(function() {
			  $('#siteselect').multiselect(
			  {
				includeSelectAllOption: true,
				buttonWidth: 300, 
				enableFiltering: true,
				nonSelectedText: 'Select Site',
				enableCaseInsensitiveFiltering:true
			  });
			  $('#zoneselect').multiselect(
			  {
				includeSelectAllOption: true,
				buttonWidth: 300, 
				enableFiltering: true,
				nonSelectedText: 'Select Zone',
				enableCaseInsensitiveFiltering:true
			  });
			  $('#projectselect').multiselect(
			  {
				includeSelectAllOption: true,
				buttonWidth: 300, 
				enableFiltering: true,
				nonSelectedText: 'Select Project',
				enableCaseInsensitiveFiltering:true
			  });			  
			});
			$(document).ready(function() {
			  $('#serverSelect').multiselect(
			  {
				includeSelectAllOption: true,
				buttonWidth: 300, 
				enableFiltering: true,
				nonSelectedText: 'Select Server',
				enableCaseInsensitiveFiltering:true
			  });
			});			
			
			</script>

	

</body>

</html>
