<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="head :: header">

<body>

    <div id="wrapper">

        <!-- Navigation -->
			<div th:insert="navigation :: navbar">  </div>


        <div id="page-wrapper">
            <div class="row">

                    <h1 class="page-header">
						<div class="row text-primary">
							<div class="col-md-4">
							<i class="fa fa-android"></i>
							<span style="margin-left:10px">App Instances</span>
							</div>
							<div class="col-md-8 text-right">
								<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','USER')" href="/addAppInstance" title="Create Instance"><i class="fa fa-plus text-primary"></i></a>
							</div>
						</div>
					</h1>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							Instances - Total:<span th:text="${appinstances.size()}"></span>
						</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
							<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
								<thead>
									<tr>
										<th>App Instance</th>
										<th><span class="fa fa-paperclip fa-lg"></span></th>
										<th>Status</th>
										<th>Version</th>
										<th>Descrption</th>										
										<th>Application</th>
										<th>Projects</th>
										<th>Support</th>
										<th>Vendor</th>
										<th>Department</th>
										<th>Contract</th>
										<th>License</th>
										<th>Desktop</th>
										<th>Server</th>
										<th>Site</th>
										<th>Zone</th>
										<!--<th class="no-sort">Action</th>-->
									</tr>
								</thead>
								<tbody>
									<tr th:each="instance: ${appinstances}">
										<td>
										<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','USER')" th:href="@{'/deleteAppInstance?instance='+${instance.id}}" 
											style="text-decoration: none;" 
											data-title="Are you sure to delete this Instance?" 
											data-toggle="confirmation" 
											data-singleton="true" 
											data-popout="true"
										>
											<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
										</a>
											<a th:href="@{'/instancedetail?id='+${instance.id}}" th:text="${instance.appInstanceName}"></a>

										</td>
										<td>
											<a data-toggle="modal"  
												th:data-target="@{${#strings.concat('#',instance.id,'files')}}" 
												th:if="${instance.files.size()>0}"
												style="text-decoration: none;cursor: pointer"
												>
												<span class="fa fa-paperclip fa-lg"></span>
											</a>
										</td>
										<td th:text="${instance.status}">
										</td>
										<td th:text="${instance.version}">
										</td>
										<td th:text="${instance.description}">
										</td>										
										<td>
											<a th:if="${instance.application!=null}" th:href="@{'/applicationdetail?app=' + ${instance.application.id}}" th:text="${instance.application.AppName}"></a>
										</td>
										<td style="padding:2px">
											<ul th:if="${instance.projects.size()>0}" style="list-style-type: none;margin: 0;padding: 0;">
												<li th:each="project: ${instance.projects}">
													<div class="panel panel-default" style="padding:0;margin-bottom:2px !important">
													<a th:href="@{'/projectdetail?project='+${project.id}}"><span th:text="${project.projectname}"></span></a>
													</div>
												</li>
											</ul>											
										</td>										
										<td style="padding:2px">
											<ul th:if="${instance.supports.size()>0}" style="list-style-type: none;margin: 0;padding: 0;">
												<li th:each="support: ${instance.supports}">
													<div class="panel panel-default" style="padding:0;margin-bottom:2px !important">
													<a th:href="@{'/supportdetail?support='+${support.id}}"><span th:text="${support.supportName}"></span></a>
													</div>
												</li>
											</ul>											
										</td>
										<td style="padding:2px">
											<ul th:if="${instance.companys.size()>0}" style="list-style-type: none;margin: 0;padding: 0;">
												<li th:each="company: ${instance.companys}">
													<div class="panel panel-default" style="padding:0;margin-bottom:2px !important">
													<a th:href="@{'/companydetail?company='+${company.id}}"><span th:text="${company.companyName}"></span></a>
													</div>
												</li>
											</ul>											
										</td>										
										<td>
											<a th:if="${instance.department!=null}" th:href="@{'/departmentdetail?id='+${instance.department.id}}" 
											th:text="${instance.department.departmentName}">
											</a>
										</td>
										<td style="padding:2px">
											<ul th:if="${instance.contracts.size()>0}" style="list-style-type: none;margin: 0;padding: 0;">
												<li th:each="contract: ${instance.contracts}">
													<div class="panel panel-default" style="padding:0;margin-bottom:2px !important">
													<a th:href="@{'/contractdetail?contract='+${contract.id}}"><span th:text="${contract.contractName}"></span></a>
													</div>
												</li>
											</ul>											
										</td>										
										<td>
											<a th:if="${instance.license!=null}" th:href="@{'/licensedetail?license='+${instance.license.id}}" 
											th:text="${instance.license.licenseNumber}">
											</a>											
										</td>
										<td>
											<a th:if="${instance.desktop!=null}" th:href="@{'/desktopdetail?desktop='+${instance.desktop.id}}" 
											th:text="${instance.desktop.desktopName}">
											</a>											
										</td>
										<td>
											<ul style="padding:0" th:if="${instance.servers!=null && instance.servers.size()>0}">
												<li style="list-style-type:none" th:each="server : ${instance.servers}">
	
													<div class="panel panel-default">
													<div class="panel-body">
													<a th:href="@{'/serverdetail?server='+${server.id}}" 
													style="text-decoration: none"> <span th:text="${server.serverName}"></span>
													</a>
													</div>
													</div>
	
												</li>
											</ul>
										</td>
										<td>
											<ul style="padding:0" th:if="${instance.sites!=null && instance.sites.size()>0}">
												<li style="list-style-type:none" th:each="site : ${instance.sites}">
													<div class="panel panel-default">
													<div class="panel-body">
													<a th:href="@{'/sitedetail?site='+${site.id}}"><span th:text="${site.siteName}"></span></a>
													</div>
													</div>
												</li>
											</ul>
										</td>
										<td>
											<ul style="padding:0" th:if="${instance.zones!=null && instance.zones.size()>0}">
												<li style="list-style-type:none" th:each="zone : ${instance.zones}">
													<div class="panel panel-default">
													<div class="panel-body">
													<a th:href="@{'/zonedetail?zone='+${zone.id}}"><span th:text="${zone.zoneName}"></span></a>
													</div>
													</div>
												</li>
											</ul>
										</td>										
										  <!-- Modal -->
									 
									</tr>


								</tbody>
							</table>
							<!--model area-->
							<div th:each="instance: ${appinstances}">
								<div class="modal fade" th:if="${instance.files.size()>0}" th:id="${#strings.concat(instance.id,'files')}" role="dialog" >
									<!-- Modal content-->
									<div class="modal-dialog">
									  <div class="modal-content">
										<div class="modal-header">
										  <button type="button" class="close" data-dismiss="modal">&times;</button>
										  <h4 class="modal-title"> Attachments</h4>
										</div>
										<div class="modal-body">
											<table class="table table-striped" id="filestable">
											  <thead>
												<tr>
												  <th scope="col">File Name</th>
												  <th scope="col">Created At</th>
												  <th scope="col">Created By</th>														  
												</tr>
											  </thead>
											  <tbody>
												<tr th:each="file : ${instance.files}">
												  <th><h5><a th:href="@{'/downloadappinstance?file='+${file.id}}" th:text="${file.attachment}"></h5></a></th>
												  <th><h5 th:text="${#dates.format(file.getCreateDate(),'MMM-dd-yyyy HH:mm')}"></h5></th>
												  <th><h5 th:text="${file.createdby}"></h5></th>
												</tr>
											  </tbody>
											</table>
										</div>
									   </div>
									 </div>
								</div>
								
								
							</div>
						 </div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>

            </div>

            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

<script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
			
    });
</script>	

</body>

</html>
