<!DOCTYPE html>
<html lang="en">

<head th:insert="head :: header">

<body>

    <div id="wrapper">

        <!-- Navigation -->
			<div th:insert="navigation :: navbar">  </div>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
					<div class="row">
						<div class="col-md-8 text-muted">
						<i class="fa fa-leanpub"></i>
						<span th:text="${license.licenseNumber}"></span>
						</div>

					</div>						
					</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
			<div class="row">
				<div class="col-lg-8">
					<div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-info-circle"></i> Details
                        </div>
                        <!-- /.panel-heading -->
						<div class="panel-body">
							<form action="#" th:action="@{/updateLicense}"  method="post">													
						
							  <div class="form-group">
								<label for="licenseName">License Number:</label>
								<input type="text" class="form-control" th:name="licenseNumber" th:value="${license.licenseNumber}"></input>
								<input type="hidden" class="form-control" th:name="licenseModel" th:value="${license.id}"></input>
							  </div>
							  <div>
								<label for="Decomminsion Date">Registration Date:</label>
								<div class="input-group date" data-provide="datepicker" id='datetimepicker1'>
									<input type="text" class="form-control" th:name="registrationDate" th:value="${license.registrationDate}">
									<div class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</div>

								</div>
							  </div>
							  <div>
								<label for="Decomminsion Date">Expiry Date:</label>
								<div class="input-group date" data-provide="datepicker" id='datetimepicker2'>
									<input type="text" class="form-control" th:name="expireDate" th:value="${license.expireDate}">
									<div class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</div>

								</div>
							  </div>													  
							  <div class="form-group">
								<label for="description">Note:</label>
								<input type="text" class="form-control" th:name="Note" th:value="${license.Note}">
							  </div>													  
							  <div class="form-group">
								<label for="description">Price:</label>
								<input type="text" class="form-control" th:name="price" th:value="${license.price}">
							  </div>													  
							  <div class="form-group">
								<label for="note">Number Of License Required:</label>
								<input type="text" class="form-control" th:name="numberoflicenserequired" th:value="${license.numberoflicenserequired}">
							  </div>
							  <div class="form-group">
								<label for="note">Renewal Frequency:</label>
								<input type="text" class="form-control" th:name="renewalfrequency" th:value="${license.renewalfrequency}">
							  </div>
							  <div class="form-group">
								<label for="note">Renewal Owner:</label>
								<input type="text" class="form-control" th:name="renewalowner" th:value="${license.renewalowner}">
							  </div>
							  <div class="form-group">
								<label for="note">Warrenty:</label>
								<input type="text" class="form-control" th:name="warrenty" th:value="${license.warrenty}">
							  </div>													  
							  <input class="btn btn-primary" style="margin-top:20px" type="submit" value="Update" />
							</form>
						</div>
                        <!-- /.panel-body -->
					</div>
				</div>							
			</div>
            <!-- /.row -->
			<!-- Instance -->
			<div class="row">
				<div class="col-lg-8">
					 <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-laptop"></i> App Instance
                            <div class="pull-right">
								<a data-toggle="modal" th:data-target="@{'#addinstance'}" style="text-decoration: none;color:white;cursor: pointer" title="Add/Change">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
								<a style="text-decoration: none;color:white;cursor: pointer"
								th:if="${license.appInstance!=null}" th:href="${#strings.concat('/deleteLicenseInstance?license=',license.id)}"
								data-title="Are you sure to delete?" 
								data-toggle="confirmation" 
								data-singleton="true" 
								data-popout="true"								
								>
									<i class="fa fa-trash-o fa-lg"></i>
								</a>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div th:if="${license.appInstance!=null}" class="panel-body">
							<table class="table">
							  <tbody>
								<tr><th scope="row" style="width:25%">App Instance:</th><td><a th:href="@{'/instancedetail?id='+${license.appInstance.id}}" th:text="${license.appInstance.appInstanceName}"></a></td></tr>
								<tr><th scope="row" style="width:25%">Status:</th><td th:text="${license.appInstance.status}"></td></tr>
								<tr><th scope="row" style="width:25%">Description:</th><td th:text="${license.appInstance.description}"></td></tr>
							
							  </tbody>
							</table>
                        </div>
                        <!-- /.panel-body -->
                    </div>
				</div>
				<div class="col-lg-4">
				</div>
			</div>			
			<!-- Instance Modal-->
			<div class="modal fade" th:id="addinstance" role="dialog">
				<div class="modal-dialog">
				
				  <!-- Modal content-->
				  <div class="modal-content">
					<div class="modal-header">
					  <button type="button" class="close" data-dismiss="modal">&times;</button>
					  <h4 class="modal-title" th:text="'Add Or Change Instance - '+${license.licenseNumber}"></h4>													
					</div>
					<div class="modal-body">	
						<form action="#" th:action="@{/addLicenseInstance}" method="post">
							<div class="form-group">
								<label for="instanceselect">App Instance:</label>
								<input type="hidden" class="form-control" th:name="license" th:value="${license.id}"></input>
								<select name="appInstance" class="form-control" id="instanceSelect">
								  <option th:selected="${license.appInstance==null}"></option>
								  <option th:each="instance : ${appInstances}" 
								  th:text="${instance.appInstanceName}" 
								  th:attr="value = ${instance.id}" th:selected="${license.appInstance==null} ? false:${license.appInstance.getId()==instance.id}">
								  
								  </option>
								</select>
							</div>
						  <input class="btn btn-primary" type="submit" value="Submit" />
						</form>
					</div>
				  </div>

				</div>	
			</div>			
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
    </script>
	<script type="text/javascript">
		$(function () {
			$('[id^=datetimepicker]').datepicker({
				format: 'yyyy-mm-dd',
				 orientation: "bottom auto"
			});

		});
	</script>

</body>

</html>
