<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
 <!-- Navigation -->
		<div th:fragment="navbar">
			<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">App Tracking Tool V1.0</a>
				</div>
				<!-- /.navbar-header -->

				<ul class="nav navbar-top-links navbar-right">
					<!-- /.dropdown -->
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="fa fa-user fa-fw"></i>
							<span th:text="${#httpServletRequest.remoteUser}"></span> 
							<i class="fa fa-caret-down"></i>
						</a>
						<ul class="dropdown-menu dropdown-user">
							<li sec:authorize="hasAnyRole('ADMIN','GENERAL','USER')">
								<a href="/userprofile"><i class="fa fa-user fa-fw"></i> User Profile</a>
							</li>
							<li class="divider" sec:authorize="hasAnyRole('ADMIN','GENERAL','USER')"></li>
							<li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
							</li>
						</ul>
						<!-- /.dropdown-user -->
					</li>
					<!-- /.dropdown -->
				</ul>
				<!-- /.navbar-top-links -->

				<div class="navbar-default sidebar" role="navigation">
					<div class="sidebar-nav navbar-collapse">
						<ul class="nav" id="side-menu">
							<li>
								<a href="/"><i class="fa fa-dashboard fa-fw"></i> Application</a>
							</li>
							<li>
								<a href="/instances"><i class="fa fa-sitemap fa-fw"></i> App Instances</a>
							</li>
							<li>
								<a href="#"><i class="fa fa-wrench fa-fw"></i> Maintenance<span class="fa arrow"></span></a>
								<ul class="nav nav-second-level">
									<li>
										<a href="/zones">Zones</a>
									</li>
									<li>
										<a href="/sites">Sites</a>
									</li>
									<li>
										<a href="/clusters">Server Clusters</a>
									</li>
									<li>
										<a href="/servers">Servers</a>
									</li>
									<li>
										<a href="/desktops">Desktop</a>
									</li>
									<li>
										<a href="/companys">Company</a>
									</li>									
									<li>
										<a href="/contracts">Contract</a>
									</li>
									<li>
										<a href="/departments">Department</a>
									</li>
									<li>
										<a href="/stakeholders">Stakeholder</a>
									</li>
									<li>
										<a href="/slaroles">Role</a>
									</li>
									<li>
										<a href="/slas">SLA</a>
									</li>
									<li>
										<a href="/licenses">License</a>
									</li>
									<li>
										<a href="/supports">Support</a>
									</li>
									<li sec:authorize="hasAnyRole('ADMIN','SYSADMIN')">
										<a href="/users">System Users</a>
									</li>
									<li sec:authorize="hasRole('SYSADMIN')">
										<a href="/roles">System User Roles</a>
									</li>										
								</ul>
								<!-- /.nav-second-level -->
							</li>

						</ul>
					</div>
					<!-- /.sidebar-collapse -->
				</div>
				<!-- /.navbar-static-side -->
			</nav>
		</div>
</body>
</html>
