<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>


</head>
<body>
 <!-- Navigation -->
		<div th:fragment="navbar">
			<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
						<a class="navbar-brand" href="/">
									<p><img class="width-5pct" src="/favicon.png"></img>									
									<span>App Tracking Tool</span></p>


						</a>
				</div>
				<!-- /.navbar-header -->

				<ul class="nav navbar-top-links navbar-right">
				    <!-- /.dropdown -->
					<li class="dropdown">
						
					<div id="messages">
					</div>
						<!-- /.dropdown-alerts -->
					</li>
					<!-- /.dropdown -->
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<span class="fa-stack fa-1x">
							  <i class="fa fa-circle fa-stack-2x color-pink"></i>
							  <span  class="fa fa-stack-1x text-calibri-b white lg" th:text="${#strings.capitalize(#strings.substring(#httpServletRequest.remoteUser,0,1))}"></span>
							</span>
							
							<span th:text="${#httpServletRequest.remoteUser}"></span> 
							<i class="fa fa-caret-down"></i>
						</a>
						<ul class="dropdown-menu dropdown-user">
							<li sec:authorize="hasAnyRole('ADMIN','GENERAL','USER')">
								<a href="/userprofile"><i class="fa fa-user fa-fw"></i> User Profile</a>
							</li>
							<li class="divider" sec:authorize="hasAnyRole('ADMIN','GENERAL','USER')"></li>
							<li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
							</li>
						</ul>
						<!-- /.dropdown-user -->
					</li>
					<!-- /.dropdown -->
				</ul>
				<!-- /.navbar-top-links -->

				<div class="navbar-default sidebar" role="navigation">
					<div class="sidebar-nav navbar-collapse">
						<ul class="nav" id="side-menu">
							<li>
								<a href="/"><i class="fa fa-dashboard fa-fw"></i> Application</a>
							</li>
							<li>
								<a href="/instances"><i class="fa fa-sitemap fa-fw"></i> App Instances</a>
							</li>
							<li>
								<a href="#"><i class="fa fa-wrench fa-fw"></i> Maintenance<span class="fa arrow"></span></a>
								<ul class="nav nav-second-level">
									<li>
										<a href="/zones">Zones</a>
									</li>
									<li>
										<a href="/sites">Sites</a>
									</li>
									<li>
										<a href="/clusters">Server Clusters</a>
									</li>
									<li>
										<a href="/servers">Servers</a>
									</li>
									<li>
										<a href="/desktops">Desktop</a>
									</li>
									<li>
										<a href="/companys">Vendor/Manufacturer</a>
									</li>									
									<li>
										<a href="/contracts">Contracts</a>
									</li>
									<li>
										<a href="/departments">Department</a>
									</li>
									<li>
										<a href="/stakeholders">Stakeholder</a>
									</li>
									<li>
										<a href="/slaroles">Role</a>
									</li>
									<li>
										<a href="/licenses">License</a>
									</li>
									<li>
										<a href="/supports">Support</a>
									</li>
									<li>
										<a href="/projects">Project</a>
									</li>	
									<li>
										<a href="/zacs">ZAC Map</a>
									</li>
									<li>
										<a href="/questions">Questions</a>
									</li>									
									<li sec:authorize="hasAnyRole('ADMIN','SYSADMIN')">
										<a href="/users">System Users</a>
									</li>
									<li sec:authorize="hasRole('SYSADMIN')">
										<a href="/roles">System User Roles</a>
									</li>										
								</ul>
								<!-- /.nav-second-level -->
							</li>

						</ul>
					</div>
					<!-- /.sidebar-collapse -->
				</div>
				<!-- /.navbar-static-side -->
			</nav>
<script type="text/javascript">
$( document ).ready(function() {
                //var socket = new SockJS('/alert');
				var socket = new SockJS('/appsocket');
                stompClient = Stomp.over(socket);  
                stompClient.connect({}, function(frame) {

                    console.log('Connected: ' + frame);
                    stompClient.subscribe('/subject/zone', function(messageOutput) {
                        var response=JSON.parse(messageOutput.body);
						
						showZoneMessage(response);
                    });
					//alert
                    stompClient.subscribe('/subject/alert', function(messageOutput) {
                        var response=JSON.parse(messageOutput.body);
						
						showAlertMessage(response);
                    });

					//chat
					stompClient.subscribe('/user/subject/chat', function(messageOutput) {
                        var response=JSON.parse(messageOutput.body);
						
						if(window.location.pathname!='/chat' || response.conversation!=document.getElementsByClassName("chatbody")[0].id) showChatMessage(response);
						if(window.location.pathname =='/chat' && response.conversation==document.getElementsByClassName("chatbody")[0].id) processRecevieMsg(response);
                    });
                });
});

function showZoneMessage(response)
{
	var e=$('<div class="alert alert-warning alert-dismissible show" role="alert">'+
			'<strong>A new zone has been created</strong>'+'<a href="/zonedetail?zone='
			+response.id+'">'+response.zoneName+'</a>'+'<button type="button" class="close" data-dismiss="alert" aria-label="Close">'+
			'<span aria-hidden="true">&times;</span>'+'</button></div>')
	showMessage(e);
}

function showAlertMessage(response)
{
	var e=$('<div class="alert alert-warning alert-dismissible show" role="alert">'+
			'<div class="fixed-top"><button type="button" class="close" data-dismiss="alert" aria-label="Close">'+
			'<span aria-hidden="true">&times;</span></button>'+
			'</div>'+
			'<p><strong>'+response.title+'</strong></p>'+'<p>'+response.content+'</p>'+
			'</div>')
	showMessage(e);
}

function showChatMessage(response)
{
	var e=$('<div class="alert alert-warning alert-dismissible show" role="alert">'+
			'<a href="/chat?chatuser='
			+response.name+'&conversation='+response.conversation+'">'+response.name+' sends you a message'+'</a>'+'<button type="button" class="close" data-dismiss="alert" aria-label="Close">'+
			'<span aria-hidden="true">&times;</span>'+'</button></div>')
	showMessage(e);
}


function showMessage(e)
{	
	$("#messages").empty();
	$("#messages").append(e);
	//e.attr("id","messages");
}
</script>
		</div>
</body>
</html>
