<!DOCTYPE html>
<html lang="en">

<head th:insert="head :: header">

<body>

    <div id="wrapper">

        <!-- Navigation -->
			<div th:insert="navigation :: navbar">  </div>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
					<div class="row">
						<div class="col-md-8 text-muted">
						<i class="fa fa-bar-chart"></i>
						<span th:text="${report.reportName}"></span>
						</div>
						<div class="col-md-4 text-right">						
						<a th:href="@{'/reportmodel?report='+${report.id}}" role="button" data-toggle="tooltip" title="Get Data Modal"><i class="fa fa-download text-muted" ></i></a>
						</div>						

					</div>						
					</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
			<div class="row">
				<div class="col-lg-8">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-info-circle"></i> Details
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">			
						<form action="#" th:action="@{/updatereport}" method="post">													
					
						  <div class="form-group">
							<label for="reportName">Report:</label>
							<input type="text" class="form-control" th:name="reportName" th:value="${report.reportName}"></input>
							<input type="hidden" class="form-control" th:name="report" th:value="${report.id}"></input>
						  </div>
						  <div class="form-group">
							<label for="reportlevels">Report Levels:</label>
							<p th:each="reportlevel :${report.reportlevels}" th:text="${reportlevel.reportLevelType!=null}? ${reportlevel.reportLevelType}:'N/A'"></p>
						  </div>						  
						  <div class="form-group">
							<label for="description">Description:</label>
							<input type="text" class="form-control" th:name="description" th:value="${report.description}">
						  </div>				  
						  <input sec:authorize="hasAnyRole('ADMIN','SYSADMIN','DEVELOPER')" class="btn btn-primary" type="submit" value="Update" />
						</form>
						</div>
                        <!-- /.panel-body -->
					</div>
				</div>							
			</div>
            <!-- /.row -->
			<!--file detail-->			
			<div class="row" th:if="${report.reportlevels.size()>0}">
				<div class="col-lg-8">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<i class="fa fa-file-o"></i> Report Template
							<div class="pull-right">
								<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','DEVELOPER')" data-toggle="modal" 
								th:data-target="@{'#reporttemplatefile'}" 
								style="text-decoration: none;cursor: pointer;color:white" 
								title="Add Files">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
							</div>
						</div>
						<div th:if="${report.tempate !=null}" class="panel-body">
							<table class="table">
							  <thead>
								<th>Template</th>

							  </thead>
							  <tbody>
								<tr>
									<td>
										<a  sec:authorize="hasAnyRole('ADMIN','SYSADMIN','DEVELOPER')"
											th:href="@{'/deletereporttemplate?file='+${report.tempate.id}+'&report='+${report.id}}" 
											style="text-decoration: none; margin-right:5px"
											data-title="Are you sure to delete?" 
											data-toggle="confirmation" 
											data-singleton="true" 
											data-popout="true"
										>
											<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
										</a>
										<a 	
											th:href="@{'/downloadreporttemplate?file='+${report.tempate.id}}" 
											th:text="${report.tempate.attachment}"
										>
										</a>
									</td>
								</tr>
							  </tbody>
							</table>							
						</div>
						
					</div>
				</div><!-- col-lg-8 -->									
			</div>
			<!--parameter detail-->			
			<div class="row">
				<div class="col-lg-8">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<i class="fa fa-question-circle"></i> Report Parameters
							<div class="pull-right">
								<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','DEVELOPER')" data-toggle="modal" 
								th:data-target="@{'#reportparamentercreate'}" 
								style="text-decoration: none;cursor: pointer;color:white" 
								title="Add Files">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>								
							</div>
						</div>
						<div th:if="${report.parameters.size()>0}" class="panel-body">
							<table class="table">
							  <thead>
								<th>Name</th>
								<th>Type</th>
								<th>Label</th>
								<th>Condition</th>
							  </thead>
							  <tbody>
								<tr th:each="parameter: ${report.parameters}">
									<td>
										<a  sec:authorize="hasAnyRole('ADMIN','SYSADMIN','DEVELOPER')"
											th:href="@{'/deletereportparemeter?parameter='+${parameter.id}}" 
											style="text-decoration: none; margin-right:5px"
											data-title="Are you sure to delete?" 
											data-toggle="confirmation" 
											data-singleton="true" 
											data-popout="true"
										>
											<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
										</a>
										<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','DEVELOPER')" 
											data-toggle="modal" th:data-target="@{'#reportparamenter'+${parameter.id}}"  title="Edit Parameter"
											style="margin-right:5px;text-decoration: none;cursor:pointer"
										   >
											<i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
										</a>										
										<span th:text="${parameter.name}">
										</span>
									</td>
									<td th:text="${parameter.type}"></td>
									<td th:text="${parameter.label}"></td>
									<td th:text="${parameter.condition.getConditiontext()}"></td>
								</tr>
							  </tbody>
							</table>							
						</div>
						
					</div>
				</div><!-- col-lg-8 -->									
			</div>			
			<!--stakeholder Detail-->
			<div class="row" th:if="${report.reportlevels.size()>0 and report.isContainReportLevel(T(portal.utility.ReportLevelType).STAKEHOLDER)}">
				<div class="col-lg-8">
					 <div class="panel panel-primary">
						<div class="panel-heading">
							<i class="fa fa-users"></i> Stakeholders
							<div class="pull-right">
								<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','DEVELOPER')" data-toggle="modal" th:data-target="@{'#addreportstakeholder'}" style="text-decoration: none;color:white;cursor: pointer" title="Add/Change">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
							</div>
						</div>
						<!-- /.panel-heading -->
						<div th:if="${report.stakeholders.size()>0}" class="panel-body">
							<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-stakeholder">
							  <thead>
								<tr>
									<th>Stakeholder</th>
									<th>Address</th>
									<th>Position</th>
									<th>Email</th>
								</tr>
							  </thead>
							  <tbody>
								<tr th:each="stakeholder: ${report.stakeholders}">
									<td>
										<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','DEVELOPER')" th:href="@{'/deletereportstakeholder?stakeholder='+${stakeholder.id}+'&report='+${report.id}}" 
											style="margin-right:10px;text-decoration: none"
											data-title="Are you sure to delete?" 
											data-toggle="confirmation" 
											data-singleton="true" 
											data-popout="true"
										   >
											<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
										</a>
										<a th:href="@{'/stakeholderdetail?stakeholder='+${stakeholder.id}}" th:text="${stakeholder.stakeholderName}"></a>
									</td>
									<td th:text="${stakeholder.address}"></td>
									<td th:text="${stakeholder.position}"></td>
									<td th:text="${stakeholder.email}"></td>
								</tr>
							  </tbody>
							</table>
						</div>
						<!-- /.panel-body -->
					</div>
				</div>
				<div class="col-lg-4">
				</div>
			</div>

			<!--application Detail-->
			<div class="row" th:if="${report.reportlevels.size()>0 and report.isContainReportLevel(T(portal.utility.ReportLevelType).APPLICATION)}">
				<div class="col-lg-8">
					 <div class="panel panel-primary">
						<div class="panel-heading">
							<i class="fa fa-windows"></i> Application
							<div class="pull-right">
								<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','DEVELOPER')" data-toggle="modal" th:data-target="@{'#addreportapplication'}" style="text-decoration: none;color:white;cursor: pointer" title="Add/Change">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
							</div>
						</div>
						<!-- /.panel-heading -->
						<div th:if="${report.applications.size()>0}" class="panel-body">
							<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-app">
							  <thead>
								<tr>
									<th>Application</th>
									<th>Status</th>
									<th>Version</th>
								</tr>
							  </thead>
							  <tbody>
								<tr th:each="app: ${report.applications}">
									<td>
										<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','DEVELOPER')" th:href="@{'/deletereportapplication?app='+${app.id}+'&report='+${report.id}}" 
											style="margin-right:10px;text-decoration: none"
											data-title="Are you sure to delete?" 
											data-toggle="confirmation" 
											data-singleton="true" 
											data-popout="true"
										   >
											<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
										</a>
										<a th:href="@{'/applicationdetail?app='+${app.id}}" th:text="${app.AppName}"></a>
									</td>
									<td th:text="${app.status}"></td>
									<td th:text="${app.AppVersion}"></td>
								</tr>
							  </tbody>
							</table>
						</div>
						<!-- /.panel-body -->
					</div>
				</div>
				<div class="col-lg-4">
				</div>
			</div>
			
			<!--instance Detail-->
			<div class="row" th:if="${report.reportlevels.size()>0 and report.isContainReportLevel(T(portal.utility.ReportLevelType).APPINSTANCE)}">
				<div class="col-lg-8">
					 <div class="panel panel-primary">
						<div class="panel-heading">
							<i class="fa fa-android"></i> App Instances
							<div class="pull-right">
								<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','DEVELOPER')" data-toggle="modal" th:data-target="@{'#addreportinstance'}" style="text-decoration: none;color:white;cursor: pointer" title="Add/Change">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
							</div>
						</div>
						<!-- /.panel-heading -->
						<div th:if="${report.appInstances.size()>0}" class="panel-body">
							<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-app">
							  <thead>
								<tr>
									<th>App Instance</th>
									<th>Status</th>
									<th>Description</th>
								</tr>
							  </thead>
							  <tbody>
								<tr th:each="instance: ${report.appInstances}">
									<td>
										<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','DEVELOPER')" th:href="@{'/deletereportappinstance?appinstance='+${instance.id}+'&report='+${report.id}}" 
											style="margin-right:10px;text-decoration: none"
											data-title="Are you sure to delete?" 
											data-toggle="confirmation" 
											data-singleton="true" 
											data-popout="true"
										   >
											<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
										</a>
										<a th:href="@{'/instancedetail?id='+${instance.id}}" th:text="${instance.appInstanceName}"></a>
									</td>
									<td th:text="${instance.status}"></td>
									<td th:text="${instance.description}"></td>
								</tr>
							  </tbody>
							</table>
						</div>
						<!-- /.panel-body -->
					</div>
				</div>
				<div class="col-lg-4">
				</div>
			</div>
			<!--department Detail-->
			<div class="row" th:if="${report.reportlevels.size()>0 and report.isContainReportLevel(T(portal.utility.ReportLevelType).DEPARTMENT)}">
				<div class="col-lg-8">
					 <div class="panel panel-primary">
						<div class="panel-heading">
							<i class="fa fa-building"></i> Department
							<div class="pull-right">
								<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','DEVELOPER')" data-toggle="modal" th:data-target="@{'#addreportdepartment'}" style="text-decoration: none;color:white;cursor: pointer" title="Add/Change">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
							</div>
						</div>
						<!-- /.panel-heading -->
						<div th:if="${report.departments.size()>0}" class="panel-body">
							<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-app">
							  <thead>
								<tr>
									<th>Department</th>
									<th>Description</th>
								</tr>
							  </thead>
							  <tbody>
								<tr th:each="department: ${report.departments}">
									<td>
										<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','DEVELOPER')" th:href="@{'/deletereportdepartment?department='+${department.id}+'&report='+${report.id}}" 
											style="margin-right:10px;text-decoration: none"
											data-title="Are you sure to delete?" 
											data-toggle="confirmation" 
											data-singleton="true" 
											data-popout="true"
										   >
											<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
										</a>
										<a th:href="@{'/departmentdetail?id='+${department.id}}" th:text="${department.departmentName}"></a>
									</td>
									<td th:text="${department.description}"></td>

								</tr>
							  </tbody>
							</table>
						</div>
						<!-- /.panel-body -->
					</div>
				</div>
				<div class="col-lg-4">
				</div>
			</div>
			<!--zone Detail-->
			<div class="row" th:if="${report.reportlevels.size()>0 and report.isContainReportLevel(T(portal.utility.ReportLevelType).ZONE)}">
				<div class="col-lg-8">
					 <div class="panel panel-primary">
						<div class="panel-heading">
							<i class="fa fa-cube"></i> Zone
							<div class="pull-right">
								<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','DEVELOPER')" data-toggle="modal" th:data-target="@{'#addreportzone'}" style="text-decoration: none;color:white;cursor: pointer" title="Add/Change">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
							</div>
						</div>
						<!-- /.panel-heading -->
						<div th:if="${report.zones.size()>0}" class="panel-body">
							<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-app">
							  <thead>
								<tr>
									<th>Zone</th>
									<th>Description</th>
								</tr>
							  </thead>
							  <tbody>
								<tr th:each="zone: ${report.zones}">
									<td>
										<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','DEVELOPER')" th:href="@{'/deletereportzone?zone='+${zone.id}+'&report='+${report.id}}" 
											style="margin-right:10px;text-decoration: none"
											data-title="Are you sure to delete?" 
											data-toggle="confirmation" 
											data-singleton="true" 
											data-popout="true"
										   >
											<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
										</a>
										<a th:href="@{'/zonedetail?zone='+${zone.id}}" th:text="${zone.zoneName}"></a>
									</td>
									<td th:text="${zone.description}"></td>

								</tr>
							  </tbody>
							</table>
						</div>
						<!-- /.panel-body -->
					</div>
				</div>
				<div class="col-lg-4">
				</div>
			</div>	
			<!--site Detail-->
			<div class="row" th:if="${report.reportlevels.size()>0 and report.isContainReportLevel(T(portal.utility.ReportLevelType).SITE)}">
				<div class="col-lg-8">
					 <div class="panel panel-primary">
						<div class="panel-heading">
							<i class="fa fa-cubes"></i> Site
							<div class="pull-right">
								<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','DEVELOPER')" data-toggle="modal" th:data-target="@{'#addreportsite'}" style="text-decoration: none;color:white;cursor: pointer" title="Add/Change">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
							</div>
						</div>
						<!-- /.panel-heading -->
						<div th:if="${report.sites.size()>0}" class="panel-body">
							<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-app">
							  <thead>
								<tr>
									<th>Site</th>
									<th>Description</th>
								</tr>
							  </thead>
							  <tbody>
								<tr th:each="site: ${report.sites}">
									<td>
										<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','DEVELOPER')" th:href="@{'/deletereportsite?site='+${site.id}+'&report='+${report.id}}" 
											style="margin-right:10px;text-decoration: none"
											data-title="Are you sure to delete?" 
											data-toggle="confirmation" 
											data-singleton="true" 
											data-popout="true"
										   >
											<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
										</a>
										<a th:href="@{'/sitedetail?site='+${site.id}}" th:text="${site.siteName}"></a>
									</td>
									<td th:text="${site.description}"></td>

								</tr>
							  </tbody>
							</table>
						</div>
						<!-- /.panel-body -->
					</div>
				</div>
				<div class="col-lg-4">
				</div>
			</div>	
			<!--Vendor Detail-->
			<div class="row" th:if="${report.reportlevels.size()>0 and report.isContainReportLevel(T(portal.utility.ReportLevelType).VENDOR)}">
				<div class="col-lg-8">
					 <div class="panel panel-primary">
						<div class="panel-heading">
							<i class="fa fa-building"></i> Vendor
							<div class="pull-right">
								<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','DEVELOPER')" data-toggle="modal" th:data-target="@{'#addreportvendor'}" style="text-decoration: none;color:white;cursor: pointer" title="Add/Change">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
							</div>
						</div>
						<!-- /.panel-heading -->
						<div th:if="${report.companys.size()>0}" class="panel-body">
							<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-app">
							  <thead>
								<tr>
									<th>Vendor</th>
									<th>Manufacturer</th>
									<th>Phone</th>
								</tr>
							  </thead>
							  <tbody>
								<tr th:each="vendor: ${report.companys}">
									<td>
										<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','DEVELOPER')" th:href="@{'/deletereportcompany?company='+${vendor.id}+'&report='+${report.id}}" 
											style="margin-right:10px;text-decoration: none"
											data-title="Are you sure to delete?" 
											data-toggle="confirmation" 
											data-singleton="true" 
											data-popout="true"
										   >
											<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
										</a>
										<a th:href="@{'/companydetail?company='+${vendor.id}}" th:text="${vendor.companyName}"></a>
									</td>
									<td th:text="${vendor.manufacturer}"></td>
									<td th:text="${vendor.phone}"></td>
								</tr>
							  </tbody>
							</table>
						</div>
						<!-- /.panel-body -->
					</div>
				</div>
				<div class="col-lg-4">
				</div>
			</div>
			<!--contract Detail-->
			<div class="row" th:if="${report.reportlevels.size()>0 and report.isContainReportLevel(T(portal.utility.ReportLevelType).CONTRACT)}">
				<div class="col-lg-8">
					 <div class="panel panel-primary">
						<div class="panel-heading">
							<i class="fa fa-pencil-square-o"></i> Contract
							<div class="pull-right">
								<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','DEVELOPER')" data-toggle="modal" th:data-target="@{'#addreportcontract'}" style="text-decoration: none;color:white;cursor: pointer" title="Add/Change">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
							</div>
						</div>
						<!-- /.panel-heading -->
						<div th:if="${report.contracts.size()>0}" class="panel-body">
							<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-app">
							  <thead>
								<tr>
									<th>Contract</th>
									<th>Description</th>
									<th>Expire Date</th>
								</tr>
							  </thead>
							  <tbody>
								<tr th:each="contract: ${report.contracts}">
									<td>
										<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','DEVELOPER')" th:href="@{'/deletereportcontract?contract='+${contract.id}+'&report='+${report.id}}" 
											style="margin-right:10px;text-decoration: none"
											data-title="Are you sure to delete?" 
											data-toggle="confirmation" 
											data-singleton="true" 
											data-popout="true"
										   >
											<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
										</a>
										<a th:href="@{'/contractdetail?contract='+${contract.id}}" th:text="${contract.contractName}"></a>
									</td>
									<td th:text="${contract.description}"></td>
									<td th:text="${contract.expireDate}"></td>
								</tr>
							  </tbody>
							</table>
						</div>
						<!-- /.panel-body -->
					</div>
				</div>
				<div class="col-lg-4">
				</div>
			</div>
			<!--license Detail-->
			<div class="row" th:if="${report.reportlevels.size()>0 and report.isContainReportLevel(T(portal.utility.ReportLevelType).LICENSE)}">
				<div class="col-lg-8">
					 <div class="panel panel-primary">
						<div class="panel-heading">
							<i class="fa fa-leanpub"></i> License
							<div class="pull-right">
								<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','DEVELOPER')" data-toggle="modal" th:data-target="@{'#addreportlicense'}" style="text-decoration: none;color:white;cursor: pointer" title="Add/Change">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
							</div>
						</div>
						<!-- /.panel-heading -->
						<div th:if="${report.licenses.size()>0}" class="panel-body">
							<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-app">
							  <thead>
								<tr>
									<th>License</th>
									<th>Registration Date</th>
									<th>Expire Date</th>
								</tr>
							  </thead>
							  <tbody>
								<tr th:each="license: ${report.licenses}">
									<td>
										<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','DEVELOPER')" th:href="@{'/deletereportlicense?license='+${license.id}+'&report='+${report.id}}" 
											style="margin-right:10px;text-decoration: none"
											data-title="Are you sure to delete?" 
											data-toggle="confirmation" 
											data-singleton="true" 
											data-popout="true"
										   >
											<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
										</a>
										<a th:href="@{'/licensedetail?license='+${license.id}}" th:text="${license.licenseNumber}"></a>
									</td>
									<td th:text="${license.registrationDate}"></td>
									<td th:text="${license.expireDate}"></td>
								</tr>
							  </tbody>
							</table>
						</div>
						<!-- /.panel-body -->
					</div>
				</div>
				<div class="col-lg-4">
				</div>
			</div>	
			<!--Server Detail-->
			<div class="row" th:if="${report.reportlevels.size()>0 and report.isContainReportLevel(T(portal.utility.ReportLevelType).SERVER)}">
				<div class="col-lg-8">
					 <div class="panel panel-primary">
						<div class="panel-heading">
							<i class="fa fa-server"></i> Server
							<div class="pull-right">
								<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','DEVELOPER')" data-toggle="modal" th:data-target="@{'#addreportserver'}" style="text-decoration: none;color:white;cursor: pointer" title="Add/Change">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
							</div>
						</div>
						<!-- /.panel-heading -->
						<div th:if="${report.servers.size()>0}" class="panel-body">
							<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-app">
							  <thead>
								<tr>
									<th>Server</th>
									<th>Description</th>
									<th>Address</th>
								</tr>
							  </thead>
							  <tbody>
								<tr th:each="server: ${report.servers}">
									<td>
										<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','DEVELOPER')" th:href="@{'/deletereportserver?server='+${server.id}+'&report='+${report.id}}" 
											style="margin-right:10px;text-decoration: none"
											data-title="Are you sure to delete?" 
											data-toggle="confirmation" 
											data-singleton="true" 
											data-popout="true"
										   >
											<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
										</a>
										<a th:href="@{'/serverdetail?server='+${server.id}}" th:text="${server.serverName}"></a>
									</td>
									<td th:text="${server.description}"></td>
									<td th:text="${server.address}"></td>
								</tr>
							  </tbody>
							</table>
						</div>
						<!-- /.panel-body -->
					</div>
				</div>
				<div class="col-lg-4">
				</div>
			</div>
			<!--support Detail-->
			<div class="row" th:if="${report.reportlevels.size()>0 and report.isContainReportLevel(T(portal.utility.ReportLevelType).SUPPORT)}">
				<div class="col-lg-8">
					 <div class="panel panel-primary">
						<div class="panel-heading">
							<i class="fa fa-support"></i> Support
							<div class="pull-right">
								<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','DEVELOPER')" data-toggle="modal" th:data-target="@{'#addreportsupport'}" style="text-decoration: none;color:white;cursor: pointer" title="Add/Change">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
							</div>
						</div>
						<!-- /.panel-heading -->
						<div th:if="${report.supports.size()>0}" class="panel-body">
							<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-app">
							  <thead>
								<tr>
									<th>Support</th>
									<th>Phone</th>
									<th>Email</th>
								</tr>
							  </thead>
							  <tbody>
								<tr th:each="support: ${report.supports}">
									<td>
										<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','DEVELOPER')" th:href="@{'/deletereportsupport?support='+${support.id}+'&report='+${report.id}}" 
											style="margin-right:10px;text-decoration: none"
											data-title="Are you sure to delete?" 
											data-toggle="confirmation" 
											data-singleton="true" 
											data-popout="true"
										   >
											<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
										</a>
										<a th:href="@{'/supportdetail?support='+${support.id}}" th:text="${support.supportName}"></a>
									</td>
									<td th:text="${support.phone}"></td>
									<td th:text="${support.email}"></td>
								</tr>
							  </tbody>
							</table>
						</div>
						<!-- /.panel-body -->
					</div>
				</div>
				<div class="col-lg-4">
				</div>
			</div>
			<!--zac Detail-->
			<div class="row" th:if="${report.reportlevels.size()>0 and report.isContainReportLevel(T(portal.utility.ReportLevelType).ZAC)}">
				<div class="col-lg-8">
					 <div class="panel panel-primary">
						<div class="panel-heading">
							<i class="fa fa-search"></i> Zac
							<div class="pull-right">
								<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','DEVELOPER')" data-toggle="modal" th:data-target="@{'#addreportzac'}" style="text-decoration: none;color:white;cursor: pointer" title="Add/Change">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
							</div>
						</div>
						<!-- /.panel-heading -->
						<div th:if="${report.zacs.size()>0}" class="panel-body">
							<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-app">
							  <thead>
								<tr>
									<th>Zac</th>
									<th>Description</th>
								</tr>
							  </thead>
							  <tbody>
								<tr th:each="zac: ${report.zacs}">
									<td>
										<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','DEVELOPER')" th:href="@{'/deletereportzac?zac='+${zac.id}+'&report='+${report.id}}" 
											style="margin-right:10px;text-decoration: none"
											data-title="Are you sure to delete?" 
											data-toggle="confirmation" 
											data-singleton="true" 
											data-popout="true"
										   >
											<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
										</a>
										<a th:href="@{'/zacdetail?zac='+${zac.id}}" th:text="@{${zac.rate}+' - '+${zac.name}}"></a>
									</td>
									<td th:text="${zac.description}"></td>
								</tr>
							  </tbody>
							</table>
						</div>
						<!-- /.panel-body -->
					</div>
				</div>
				<div class="col-lg-4">
				</div>
			</div>			
				<!--stakeholder model-->
				<div class="modal fade" th:id="addreportstakeholder" role="dialog">
					<div class="modal-dialog">
					
					  <!-- Modal content-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h4 class="modal-title" th:text="'Add Stakeholder - '+${report.reportName}"></h4>													
						</div>
						<div class="modal-body">	
							<form action="#" th:action="@{/addreportstakeholder}" method="post">
								<div class="form-group">
									<label for="clusterSelect">Stakeholder:</label>
									<input type="hidden" class="form-control" th:name="report" th:value="${report.id}"></input>
									<select name="stakeholders" class="mdb-select md-form colorful-select dropdown-primary form-control" multiple id="stakeholderselect">
									  <option th:each="skekeholderEntity : ${stakeholders}" 
									  th:text="${skekeholderEntity.stakeholderName}" 
									  th:attr="value = ${skekeholderEntity.id}">
									</select>
								</div>

								  <input class="btn btn-primary" type="submit" value="Submit" />

							</form>
						</div>
					  </div>

					</div>	
				</div>
				
				<!--application model-->
				<div class="modal fade" th:id="addreportapplication" role="dialog">
					<div class="modal-dialog">
					
					  <!-- Modal content-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h4 class="modal-title" th:text="'Add Applications - '+${report.reportName}"></h4>													
						</div>
						<div class="modal-body">	
							<form action="#" th:action="@{/addreportapplication}" method="post">
								<div class="form-group">
									<label for="clusterSelect">Applications:</label>
									<input type="hidden" class="form-control" th:name="report" th:value="${report.id}"></input>
									<select name="applications" class="mdb-select md-form colorful-select dropdown-primary form-control" multiple id="applicationselect">
									  <option th:each="appEntity : ${apps}" 
									  th:text="${appEntity.AppName}" 
									  th:attr="value = ${appEntity.id}">
									</select>
								</div>

								  <input class="btn btn-primary" type="submit" value="Submit" />

							</form>
						</div>
					  </div>

					</div>	
				</div>				
				<!--department model-->
				<div class="modal fade" th:id="addreportdepartment" role="dialog">
					<div class="modal-dialog">
					
					  <!-- Modal content-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h4 class="modal-title" th:text="'Add Applications - '+${report.reportName}"></h4>													
						</div>
						<div class="modal-body">	
							<form action="#" th:action="@{/addreportdepartment}" method="post">
								<div class="form-group">
									<label for="clusterSelect">Departments:</label>
									<input type="hidden" class="form-control" th:name="report" th:value="${report.id}"></input>
									<select name="departments" class="mdb-select md-form colorful-select dropdown-primary form-control" multiple id="departmentselect">
									  <option th:each="departmentEntity : ${departments}" 
									  th:text="${departmentEntity.departmentName}" 
									  th:attr="value = ${departmentEntity.id}">
									</select>
								</div>

								  <input class="btn btn-primary" type="submit" value="Submit" />

							</form>
						</div>
					  </div>

					</div>	
				</div>	
				<!--instance model-->
				<div class="modal fade" th:id="addreportinstance" role="dialog">
					<div class="modal-dialog">
					
					  <!-- Modal content-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h4 class="modal-title" th:text="'Add Instances - '+${report.reportName}"></h4>													
						</div>
						<div class="modal-body">	
							<form action="#" th:action="@{/addreportappinstance}" method="post">
								<div class="form-group">
									<label for="clusterSelect">App Instances:</label>
									<input type="hidden" class="form-control" th:name="report" th:value="${report.id}"></input>
									<select name="appInstances" class="mdb-select md-form colorful-select dropdown-primary form-control" multiple id="instanceselect">
									<optgroup th:each="appEntity : ${appAssginedInstances}" th:if="${appEntity.appInstances.size()>0}" th:label="${appEntity.AppName}">
										  <option th:each="instanceEntity : ${appEntity.appInstances}" 

										  th:attr="value = ${instanceEntity.id}"
										  th:text="${instanceEntity.appInstanceName}">
										  
										  </option>
									</optgroup>
									<optgroup th:if="${appUnassginedInstances.size()>0}" label="Other">
										  <option th:each="instanceEntity : ${appUnassginedInstances}" 

										  th:attr="value = ${instanceEntity.id}"
										  th:text="${instanceEntity.appInstanceName}">
										  
										  </option>
									</optgroup>	
									</select>
								</div>

								  <input class="btn btn-primary" type="submit" value="Submit" />

							</form>
						</div>
					  </div>

					</div>	
				</div>
				<!--zone model-->
				<div class="modal fade" th:id="addreportzone" role="dialog">
					<div class="modal-dialog">
					
					  <!-- Modal content-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h4 class="modal-title" th:text="'Add Zone - '+${report.reportName}"></h4>													
						</div>
						<div class="modal-body">	
							<form action="#" th:action="@{/addreportzone}" method="post">
								<div class="form-group">
									<label for="clusterSelect">Stakeholder:</label>
									<input type="hidden" class="form-control" th:name="report" th:value="${report.id}"></input>
									<select name="zones" class="mdb-select md-form colorful-select dropdown-primary form-control" multiple id="zoneselect">
									  <option th:each="zoneEntity : ${zones}" 
									  th:text="${zoneEntity.zoneName}" 
									  th:attr="value = ${zoneEntity.id}">
									</select>
								</div>

								  <input class="btn btn-primary" type="submit" value="Submit" />

							</form>
						</div>
					  </div>

					</div>	
				</div>
				<!--site model-->
				<div class="modal fade" th:id="addreportsite" role="dialog">
					<div class="modal-dialog">
					
					  <!-- Modal content-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h4 class="modal-title" th:text="'Add Site - '+${report.reportName}"></h4>													
						</div>
						<div class="modal-body">	
							<form action="#" th:action="@{/addreportsite}" method="post">
								<div class="form-group">
									<label for="clusterSelect">Sites:</label>
									<input type="hidden" class="form-control" th:name="report" th:value="${report.id}"></input>
									<select name="sites" class="mdb-select md-form colorful-select dropdown-primary form-control" multiple id="siteselect">
									  <option th:each="siteEntity : ${sites}" 
									  th:text="${siteEntity.siteName}" 
									  th:attr="value = ${siteEntity.id}">
									</select>
								</div>

								  <input class="btn btn-primary" type="submit" value="Submit" />

							</form>
						</div>
					  </div>

					</div>	
				</div>	
				<!--vendor model-->
				<div class="modal fade" th:id="addreportvendor" role="dialog">
					<div class="modal-dialog">
					
					  <!-- Modal content-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h4 class="modal-title" th:text="'Add Vendor - '+${report.reportName}"></h4>													
						</div>
						<div class="modal-body">	
							<form action="#" th:action="@{/addreportcompany}" method="post">
								<div class="form-group">
									<label for="clusterSelect">Vendors:</label>
									<input type="hidden" class="form-control" th:name="report" th:value="${report.id}"></input>
									<select name="companys" class="mdb-select md-form colorful-select dropdown-primary form-control" multiple id="vendorselect">
									  <option th:each="companyEntity : ${vendors}" 
									  th:text="${companyEntity.companyName}" 
									  th:attr="value = ${companyEntity.id}">
									</select>
								</div>

								  <input class="btn btn-primary" type="submit" value="Submit" />

							</form>
						</div>
					  </div>

					</div>	
				</div>
				<!--Contract model-->
				<div class="modal fade" th:id="addreportcontract" role="dialog">
					<div class="modal-dialog">
					
					  <!-- Modal content-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h4 class="modal-title" th:text="'Add Contract - '+${report.reportName}"></h4>													
						</div>
						<div class="modal-body">	
							<form action="#" th:action="@{/addreportcontract}" method="post">
								<div class="form-group">
									<label for="clusterSelect">Contracts:</label>
									<input type="hidden" class="form-control" th:name="report" th:value="${report.id}"></input>
									<select name="contracts" class="mdb-select md-form colorful-select dropdown-primary form-control" multiple id="contractselect">
									  <option th:each="contractEntity : ${contracts}" 
									  th:text="${contractEntity.contractName}" 
									  th:attr="value = ${contractEntity.id}">
									</select>
								</div>

								  <input class="btn btn-primary" type="submit" value="Submit" />

							</form>
						</div>
					  </div>

					</div>	
				</div>
				<!--License model-->
				<div class="modal fade" th:id="addreportlicense" role="dialog">
					<div class="modal-dialog">
					
					  <!-- Modal content-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h4 class="modal-title" th:text="'Add License - '+${report.reportName}"></h4>													
						</div>
						<div class="modal-body">	
							<form action="#" th:action="@{/addreportlicense}" method="post">
								<div class="form-group">
									<label for="clusterSelect">Licenses:</label>
									<input type="hidden" class="form-control" th:name="report" th:value="${report.id}"></input>
									<select name="licenses" class="mdb-select md-form colorful-select dropdown-primary form-control" multiple id="licenseselect">
									  <option th:each="licenseEntity : ${licenses}" 
									  th:text="${licenseEntity.licenseNumber}" 
									  th:attr="value = ${licenseEntity.id}">
									</select>
								</div>

								  <input class="btn btn-primary" type="submit" value="Submit" />

							</form>
						</div>
					  </div>

					</div>	
				</div>
				<!--server model-->
				<div class="modal fade" th:id="addreportserver" role="dialog">
					<div class="modal-dialog">
					
					  <!-- Modal content-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h4 class="modal-title" th:text="'Add Server - '+${report.reportName}"></h4>													
						</div>
						<div class="modal-body">	
							<form action="#" th:action="@{/addreportserver}" method="post">
								<div class="form-group">
									<label for="clusterSelect">Servers:</label>
									<input type="hidden" class="form-control" th:name="report" th:value="${report.id}"></input>
									<select name="servers" class="mdb-select md-form colorful-select dropdown-primary form-control" multiple id="serverselect">
									  <option th:each="serverEntity : ${servers}" 
									  th:text="${serverEntity.serverName}" 
									  th:attr="value = ${serverEntity.id}">
									</select>
								</div>

								  <input class="btn btn-primary" type="submit" value="Submit" />

							</form>
						</div>
					  </div>

					</div>	
				</div>
				<!--support model-->
				<div class="modal fade" th:id="addreportsupport" role="dialog">
					<div class="modal-dialog">
					
					  <!-- Modal content-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h4 class="modal-title" th:text="'Add Support - '+${report.reportName}"></h4>													
						</div>
						<div class="modal-body">	
							<form action="#" th:action="@{/addreportsupport}" method="post">
								<div class="form-group">
									<label for="clusterSelect">Supports:</label>
									<input type="hidden" class="form-control" th:name="report" th:value="${report.id}"></input>
									<select name="supports" class="mdb-select md-form colorful-select dropdown-primary form-control" multiple id="supportselect">
									  <option th:each="supportEntity : ${supports}" 
									  th:text="${supportEntity.supportName}" 
									  th:attr="value = ${supportEntity.id}">
									</select>
								</div>

								  <input class="btn btn-primary" type="submit" value="Submit" />

							</form>
						</div>
					  </div>

					</div>	
				</div>
				<!--zac model-->
				<div class="modal fade" th:id="addreportzac" role="dialog">
					<div class="modal-dialog">
					
					  <!-- Modal content-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h4 class="modal-title" th:text="'Add Zac - '+${report.reportName}"></h4>													
						</div>
						<div class="modal-body">	
							<form action="#" th:action="@{/addreportzac}" method="post">
								<div class="form-group">
									<label for="clusterSelect">Zac:</label>
									<input type="hidden" class="form-control" th:name="report" th:value="${report.id}"></input>
									<select name="zacs" class="mdb-select md-form colorful-select dropdown-primary form-control" multiple id="zacselect">
									  <option th:each="zacEntity : ${zacs}" 
									  th:text="@{${zacEntity.rate}+' - '+${zacEntity.name}}" 
									  th:attr="value = ${zacEntity.id}">
									</select>
								</div>

								  <input class="btn btn-primary" type="submit" value="Submit" />

							</form>
						</div>
					  </div>

					</div>	
				</div>				
				<!--File model-->
				<div class="modal fade" id="reporttemplatefile" role="dialog" >
						<!-- Modal content-->
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
									  <button type="button" class="close" data-dismiss="modal">&times;</button>
									  <h4 class="modal-title"> Upload Report Template</h4>
									</div>
									<div class="modal-body">
										<form  id="UploadFileForm"  method="POST" action="/reporttemplateupload" enctype="multipart/form-data">
											<!-- COMPONENT START -->
											<div class="input-group">
																
													<a th:onclick="@{'uploadfile(\''+${report.id}+'\')'}"><input type="text" th:id="@{${report.id}+'filename'}" class="form-control" placeholder="Choose file..." style="cursor:pointer" readonly></a>
													<div class="input-group-btn">
													<button type="submit" class="btn btn-primary"><i class="fa fa-upload"></i></button>
													</div>
						
											</div>
											<!-- COMPONENT END -->
											<div class="form-group  pull-center">
												<input type="file" class="form-control" name="file" style="visibility:hidden;height:0;" th:id="@{${report.id}+'fileupload'}">
												<input type="hidden" class="form-control" th:name="report" th:value="${report.id}"></input>


											</div>
										</form>
									</div>
							   </div>
							</div>
				</div>				
				<!--parameter creation model-->
				<div class="modal fade" th:id="reportparamentercreate" role="dialog">
					<div class="modal-dialog">
					
					  <!-- Modal content-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h4 class="modal-title" th:text="'Add Parameter - '+${report.reportName}"></h4>													
						</div>
						<div class="modal-body">	
							<form action="#" th:action="@{/addreportparameter}" method="post">
								<div class="form-group">
									<label for="clusterSelect">Name:</label>
									<input type="hidden" class="form-control" th:name="report" th:value="${report.id}"></input>
									<input type="hidden" class="form-control" th:name="parameter"></input>
									<input type="text" name="name" class="form-control"></input>
								</div>
								<div class="form-group">
									<label for="clusterSelect">Label:</label>
									<input type="text" name="label" class="form-control"></input>
								</div>								
								<div class="form-group">
									<label for="clusterSelect">Type:</label>
									<select name="type" class="form-control" th:onchange="@{'getCollection(this.value,'+${report.id}+',1)'}">
										<option></option>
										<option th:each="paramentertype : ${T(portal.utility.ParameterType).values()}"
												th:value="${paramentertype}"
												th:text="${paramentertype}">
										</option>
									</select>
								</div>
								<div class="form-group">
									<label for="clusterSelect">Condition:</label>
									<select name="condition" class="form-control" th:id="@{'condition1'+${report.id}}">
										<option></option>
									</select>
								</div>
								  <input class="btn btn-primary" type="submit" value="Submit" />

							</form>
						</div>
					  </div>

					</div>	
				</div>
				<!--parameter edit model-->
				<div th:if="${report.parameters.size()>0}" th:each="parameter: ${report.parameters}">
					<div class="modal fade" th:id="@{'reportparamenter'+${parameter.id}}" role="dialog">
						<div class="modal-dialog">
						
						  <!-- Modal content-->
						  <div class="modal-content">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">&times;</button>
							  <h4 class="modal-title" th:text="'Edit Parameter - '+${parameter.name}"></h4>													
							</div>
							<div class="modal-body">	
								<form action="#" th:action="@{/updatereportparameter}" method="post">
									<div class="form-group">
										<label for="clusterSelect">Name:</label>
										<input type="hidden" class="form-control" th:name="report" th:value="${report.id}"></input>
										<input type="hidden" class="form-control" th:name="parameter" th:value="${parameter.id}"></input>
										<input type="text" name="name" th:value="${parameter.name}" class="form-control"></input>
									</div>
									<div class="form-group">
										<label for="clusterSelect">Type:</label>
										<select name="type" class="form-control" th:onchange="@{'getCollection(this.value,'+${parameter.id}+',2)'}">
											<option></option>
											<option th:each="paramentertype : ${T(portal.utility.ParameterType).values()}"
													th:value="${paramentertype}"
													th:text="${paramentertype}"
													th:selected="${paramentertype==parameter.type}?True:False">
											</option>
										</select>
									</div>
									<div class="form-group">
										<label for="clusterSelect">Label:</label>
										<input type="text" name="label" class="form-control" th:value="${parameter.label}" ></input>
									</div>										
									<div class="form-group">
										<label for="clusterSelect">Condition:</label>
										<select name="condition" class="form-control" th:id="@{'condition2'+${parameter.id}}">
											<option></option>
											<option th:each="paramcondition : ${T(portal.utility.ParameterCondition).getCategoryByType(parameter.type)}"
													th:value="${paramcondition.name}"
													th:text="${paramcondition.value}"
													th:selected="${paramcondition.name==parameter.condition.name()}?True:False">
											</option>											
										</select>
									</div>
									  <input class="btn btn-primary" type="submit" value="Submit" />

								</form>
							</div>
						  </div>

						</div>	
					</div>
				</div>				
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
			$('#dataTables-stakeholder').DataTable({
				responsive: true
			});
			$('#dataTables-app').DataTable({
				responsive: true
			});


			  $('#stakeholderselect').multiselect(
			  {
				includeSelectAllOption: true,
				buttonWidth: 300, 
				enableFiltering: true,
				nonSelectedText: 'Select Stakeholder'
			  });
			$('#applicationselect').multiselect(
			  {
				includeSelectAllOption: true,
				buttonWidth: 300, 
				enableFiltering: true,
				nonSelectedText: 'Select Application'
			  });
			  $('#instanceselect').multiselect(
			  {
				includeSelectAllOption: true,
				buttonWidth: 300, 
				enableFiltering: true,
				nonSelectedText: 'Select Instance'
			  });
			  $('#departmentselect').multiselect(
			  {
				includeSelectAllOption: true,
				buttonWidth: 300, 
				enableFiltering: true,
				nonSelectedText: 'Select Department'
			  });
			  $('#zoneselect').multiselect(
			  {
				includeSelectAllOption: true,
				buttonWidth: 300, 
				enableFiltering: true,
				nonSelectedText: 'Select Zone'
			  });			  
			  $('#siteselect').multiselect(
			  {
				includeSelectAllOption: true,
				buttonWidth: 300, 
				enableFiltering: true,
				nonSelectedText: 'Select Site'
			  });
			  $('#vendorselect').multiselect(
			  {
				includeSelectAllOption: true,
				buttonWidth: 300, 
				enableFiltering: true,
				nonSelectedText: 'Select Vendor'
			  });
			  $('#contractselect').multiselect(
			  {
				includeSelectAllOption: true,
				buttonWidth: 300, 
				enableFiltering: true,
				nonSelectedText: 'Select Contract'
			  });	
			  $('#licenseselect').multiselect(
			  {
				includeSelectAllOption: true,
				buttonWidth: 300, 
				enableFiltering: true,
				nonSelectedText: 'Select License'
			  });
			  $('#serverselect').multiselect(
			  {
				includeSelectAllOption: true,
				buttonWidth: 300, 
				enableFiltering: true,
				nonSelectedText: 'Select Server'
			  });	
			  $('#supportselect').multiselect(
			  {
				includeSelectAllOption: true,
				buttonWidth: 300, 
				enableFiltering: true,
				nonSelectedText: 'Select Support'
			  });	
			  $('#zacselect').multiselect(
			  {
				includeSelectAllOption: true,
				buttonWidth: 300, 
				enableFiltering: true,
				nonSelectedText: 'Select Zac'
			  });

		  
    });
	function getCollection(typeselect, conditionselect,mode)
	{

		var conditionselectid='#condition'+mode+conditionselect

					
					$.get( "/getparemetercondition?parameter="+typeselect, function( data ) {
						if (data !== undefined || data.length !== 0)
						{
							$( conditionselectid ).empty();
							$( conditionselectid ).append("<option></option>");
							for(var key in data)
							{
								var el="<option value='"+data[key].name+"'>"+data[key].value+"</option>";								
								$( conditionselectid ).append(el);
							}
							
						}
					});

	}
    </script>
	<script type="text/javascript">
		$(function () {
			$('[id^=datetimepicker]').datepicker({
				format: 'yyyy-mm-dd',
				 orientation: "bottom auto"
			});

		});
	</script>

</body>

</html>
