<!DOCTYPE html>
<html lang="en">

<head th:insert="head :: header">

<body>

    <div id="wrapper">

        <!-- Navigation -->
			<div th:insert="navigation :: navbar">  </div>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
					<div class="row">
						<div class="col-md-8 text-muted">
						<i class="fa fa-bar-chart"></i>
						<span th:text="${report.reportName}"></span>
						</div>
						<div class="col-md-4 text-right">						
						<a  class="btn btn-primary" th:href="@{'/reportmodel?report='+${report.id}}" role="button" data-toggle="tooltip" title="Get Report Data Modal"></a>
						</div>						

					</div>						
					</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
			<div class="row">
				<div class="col-lg-8">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-info-circle"></i> Details
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">			
						<form action="#" th:action="@{/updatereport}" method="post">													
					
						  <div class="form-group">
							<label for="reportName">Report:</label>
							<input type="text" class="form-control" th:name="reportName" th:value="${report.reportName}"></input>
							<input type="hidden" class="form-control" th:name="report" th:value="${report.id}"></input>
						  </div>
						  <div class="form-group">
							<label for="reportlevels">Report Levels:</label>
							<p th:each="reportlevel :${report.reportlevels}" th:text="${reportlevel.reportLevelType!=null}? ${reportlevel.reportLevelType}:'N/A'"></p>
						  </div>						  
						  <div class="form-group">
							<label for="description">Description:</label>
							<input type="text" class="form-control" th:name="description" th:value="${report.description}">
						  </div>				  
						  <input sec:authorize="hasAnyRole('ADMIN','SYSADMIN','USER')" class="btn btn-primary" type="submit" value="Update" />
						</form>
						</div>
                        <!-- /.panel-body -->
					</div>
				</div>							
			</div>
            <!-- /.row -->
			<!--file detail-->			
			<div class="row" th:if="${report.reportlevels.size()>0}">
				<div class="col-lg-8">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<i class="fa fa-file-o"></i> Report Template
							<div class="pull-right">
								<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','USER')" data-toggle="modal" 
								th:data-target="@{'#reporttemplatefile'}" 
								style="text-decoration: none;cursor: pointer;color:white" 
								title="Add Files">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
							</div>
						</div>
						<div th:if="${report.tempate !=null}" class="panel-body">
							<table class="table">
							  <thead>
								<th>Template</th>

							  </thead>
							  <tbody>
								<tr>
									<td>
										<a  sec:authorize="hasAnyRole('ADMIN','SYSADMIN','USER')"
											th:href="@{'/deletereporttemplate?file='+${report.tempate.id}+'&report='+${report.id}}" 
											style="text-decoration: none; margin-right:5px"
											data-title="Are you sure to delete?" 
											data-toggle="confirmation" 
											data-singleton="true" 
											data-popout="true"
										>
											<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
										</a>
										<a 	
											th:href="@{'/downloadreporttemplate?file='+${report.tempate.id}}" 
											th:text="${report.tempate.attachment}"
										>
										</a>
									</td>
								</tr>
							  </tbody>
							</table>							
						</div>
						
					</div>
				</div><!-- col-lg-8 -->									
			</div>
			<!--stakeholder Detail-->
			<div class="row" th:if="${report.reportlevels.size()>0 and report.isContainReportLevel(T(portal.utility.ReportLevelType).STAKEHOLDER)}">
				<div class="col-lg-8">
					 <div class="panel panel-primary">
						<div class="panel-heading">
							<i class="fa fa-users"></i> Stakeholders
							<div class="pull-right">
								<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','USER')" data-toggle="modal" th:data-target="@{'#addreportstakeholder'}" style="text-decoration: none;color:white;cursor: pointer" title="Add/Change">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
							</div>
						</div>
						<!-- /.panel-heading -->
						<div th:if="${report.stakeholders.size()>0}" class="panel-body">
							<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-stakeholder">
							  <thead>
								<tr>
									<th>Stakeholder</th>
									<th>Address</th>
									<th>Position</th>
									<th>Email</th>
								</tr>
							  </thead>
							  <tbody>
								<tr th:each="stakeholder: ${report.stakeholders}">
									<td>
										<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','USER')" th:href="@{'/deletereportstakeholder?stakeholder='+${stakeholder.id}+'&report='+${report.id}}" 
											style="margin-right:10px;text-decoration: none"
											data-title="Are you sure to delete?" 
											data-toggle="confirmation" 
											data-singleton="true" 
											data-popout="true"
										   >
											<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
										</a>
										<a th:href="@{'/stakeholderdetail?stakeholder='+${stakeholder.id}}" th:text="${stakeholder.stakeholderName}"></a>
									</td>
									<td th:text="${stakeholder.address}"></td>
									<td th:text="${stakeholder.position}"></td>
									<td th:text="${stakeholder.email}"></td>
								</tr>
							  </tbody>
							</table>
						</div>
						<!-- /.panel-body -->
					</div>
				</div>
				<div class="col-lg-4">
				</div>
			</div>

			
			
				<!--stakeholder model-->
				<div class="modal fade" th:id="addreportstakeholder" role="dialog">
					<div class="modal-dialog">
					
					  <!-- Modal content-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h4 class="modal-title" th:text="'Add Stakeholder - '+${report.reportName}"></h4>													
						</div>
						<div class="modal-body">	
							<form action="#" th:action="@{/addreportstakeholder}" method="post">
								<div class="form-group">
									<label for="clusterSelect">Stakeholder:</label>
									<input type="hidden" class="form-control" th:name="report" th:value="${report.id}"></input>
									<select name="stakeholders" class="mdb-select md-form colorful-select dropdown-primary form-control" multiple id="stakeholderselect">
									  <option th:each="skekeholderEntity : ${stakeholders}" 
									  th:text="${skekeholderEntity.stakeholderName}" 
									  th:attr="value = ${skekeholderEntity.id}">
									</select>
								</div>

								  <input class="btn btn-primary" type="submit" value="Submit" />

							</form>
						</div>
					  </div>

					</div>	
				</div>
				
				<!--File model-->
				<div class="modal fade" id="reporttemplatefile" role="dialog" >
						<!-- Modal content-->
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
									  <button type="button" class="close" data-dismiss="modal">&times;</button>
									  <h4 class="modal-title"> Upload Report Template</h4>
									</div>
									<div class="modal-body">
										<form  id="UploadFileForm"  method="POST" action="/reporttemplateupload" enctype="multipart/form-data">
											<!-- COMPONENT START -->
											<div class="input-group">
																
													<a th:onclick="@{'uploadfile(\''+${report.id}+'\')'}"><input type="text" th:id="@{${report.id}+'filename'}" class="form-control" placeholder="Choose file..." style="cursor:pointer" readonly></a>
													<div class="input-group-btn">
													<button type="submit" class="btn btn-primary"><i class="fa fa-upload"></i></button>
													</div>
						
											</div>
											<!-- COMPONENT END -->
											<div class="form-group  pull-center">
												<input type="file" class="form-control" name="file" style="visibility:hidden;height:0;" th:id="@{${report.id}+'fileupload'}">
												<input type="hidden" class="form-control" th:name="report" th:value="${report.id}"></input>


											</div>
										</form>
									</div>
							   </div>
							</div>
				</div>				
			
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
			$('#dataTables-stakeholder').DataTable({
				responsive: true
			});

			  $('#stakeholderselect').multiselect(
			  {
				includeSelectAllOption: true,
				buttonWidth: 300, 
				enableFiltering: true,
				nonSelectedText: 'Select Stakeholder'
			  });

    });
    </script>
	<script type="text/javascript">
		$(function () {
			$('[id^=datetimepicker]').datepicker({
				format: 'yyyy-mm-dd',
				 orientation: "bottom auto"
			});

		});
	</script>

</body>

</html>
