<!DOCTYPE html>
<html lang="en">

<head th:insert="head :: header">

<body>

    <div id="wrapper">

        <!-- Navigation -->
			<div th:insert="navigation :: navbar">  </div>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" >
					<div class="row">
						<div class="col-md-8 text-muted">
						<i class="fa fa-server"></i>
						<span th:text="${server.serverName}"></span>
						</div>

					</div>
					</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
			<div class="row">
				<div class="col-lg-8">
					<div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-info-circle"></i> Details
                        </div>
                        <!-- /.panel-heading -->
						<div class="panel-body">
							<form action="#" th:action="@{/updateServer}" method="post">													
						
							  <div class="form-group">
								<label for="serverName">server Name:</label>
								<input type="text" class="form-control" th:name="serverName" th:value="${server.serverName}"></input>
								<input type="hidden" class="form-control" th:name="updateserver" th:value="${server.id}"></input>
								<input th:if="${server.appInstance!=null}" type="hidden" class="form-control" th:name="appInstance" th:value="${server.appInstance.id}"></input>
							  </div>
							  <div class="form-group">
								<label for="description">Description:</label>
								<input type="text" class="form-control" th:name="description" th:value="${server.description}">
							  </div>
							  <div class="form-group">
								<label for="description">Address:</label>
								<input type="text" class="form-control" th:name="address" th:value="${server.address}">
							  </div>
							  <div class="form-group">
								<label for="description">Server Version:</label>
								<input type="text" class="form-control" th:name="serverVersion" th:value="${server.serverVersion}">
							  </div>
							  <div class="form-group">
								<label for="hwplatform">HW Platform:</label>
								<input type="text" class="form-control" th:name="hwplatform" th:value="${server.hwplatform}">
							  </div>
							  <div>
								<label for="Decomminsion Date">Decomminsion Date:</label>
								<div class="input-group date" data-provide="datepicker" id='datetimepicker2'>
									<input type="text" class="form-control" th:name="decomminsionDate" th:value="${server.decomminsionDate}">
									<div class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</div>

								</div>
							  </div>													  
								<div class="form-group">
									<label for="clusterSelect">cluster:</label>
									<select name="cluster" class="form-control" id="clusterSelect">
									  <option th:selected="${server.cluster==null}"></option>
									  <option th:each="clusterEntity : ${clusters}" 
									  th:text="${clusterEntity.clusterName}" 
									  th:attr="value = ${clusterEntity.id}" th:selected="${server.cluster==null} ? false:${server.cluster.getId()==clusterEntity.id}">
									  
									  </option>
									</select>
								</div>
							  <input sec:authorize="hasAnyRole('ADMIN','SYSADMIN','USER')" class="btn btn-primary" type="submit" value="Update" />
							</form>
						</div>
                        <!-- /.panel-body -->
					</div>
				</div>
			</div>
            <!-- /.row -->
			<div class="row">
				<div class="col-lg-8">
					 <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-laptop"></i> App Instance
                            <div class="pull-right">
								<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','USER')" data-toggle="modal" th:data-target="@{'#addinstance'}" style="text-decoration: none;color:white;cursor: pointer" title="Add/Change">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
								<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','USER')" style="text-decoration: none;color:white;cursor: pointer"
								th:if="${server.appInstance!=null}" th:href="${#strings.concat('/deleteServerInstance?server=',server.id)}"
								data-title="Are you sure to delete?" 
								data-toggle="confirmation" 
								data-singleton="true" 
								data-popout="true"								
								>
									<i class="fa fa-trash-o fa-lg"></i>
								</a>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div th:if="${server.appInstance!=null}" class="panel-body">
							<table class="table">
							  <tbody>
								<tr><th scope="row" style="width:25%">App Instance:</th><td><a th:href="@{'/instancedetail?id='+${server.appInstance.id}}" th:text="${server.appInstance.appInstanceName}"></a></td></tr>
								<tr><th scope="row" style="width:25%">Status:</th><td th:text="${server.appInstance.status}"></td></tr>
								<tr><th scope="row" style="width:25%">Description:</th><td th:text="${server.appInstance.description}"></td></tr>
							
							  </tbody>
							</table>
                        </div>
                        <!-- /.panel-body -->
                    </div>
				</div>
				<div class="col-lg-4">
				</div>
			</div>
			
			<!--file detail-->			
			<div class="row">
				<div class="col-lg-8">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<i class="fa fa-paperclip"></i> Attachments
							<div class="pull-right">
								<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','USER')" data-toggle="modal" 
								th:data-target="@{${#strings.concat('#',server.id,'file')}}" 
								style="text-decoration: none;cursor: pointer;color:white" 
								title="Add Files">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
							</div>
						</div>
						<div th:if="${server.files.size()>0}" class="panel-body">
							<table class="table">
							  <thead>
								<th>File</th>
								<th>Created At</th>
								<th>Created By</th>
							  </thead>
							  <tbody>
								<tr th:each="file: ${server.files}">
									<td>
										<a  sec:authorize="hasAnyRole('ADMIN','SYSADMIN','USER')"
											th:href="@{'/deleteserverfile?file='+${file.id}+'&serverid='+${server.id}}" 
											style="text-decoration: none; margin-right:5px"
											data-title="Are you sure to delete?" 
											data-toggle="confirmation" 
											data-singleton="true" 
											data-popout="true"
										>
											<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
										</a>
										<a 	
											th:href="@{'/downloadserver?file='+${file.id}}" 
											th:text="${file.attachment}"
										>
										</a>
									</td>
									<td th:text="${#dates.format(file.getCreateDate(),'MMM-dd-yyyy HH:mm')}"></td>
									<td th:text="${file.createdby}"></td>
								</tr>
							  </tbody>
							</table>							
						</div>
						
					</div>

										


				</div><!-- col-lg-8 -->									
			</div>			
			<!--Model Area-->
				<div class="modal fade" th:id="addinstance" role="dialog">
					<div class="modal-dialog">
					
					  <!-- Modal content-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h4 class="modal-title" th:text="'Add Or Change Instance - '+${server.serverName}"></h4>													
						</div>
						<div class="modal-body">	
							<form action="#" th:action="@{/addServerInstance}" method="post">
								<div class="form-group">
									<label for="instanceselect">App Instance:</label>
									<input type="hidden" class="form-control" th:name="server" th:value="${server.id}"></input>
									<select name="appInstance" class="form-control" id="instanceSelect">
									  <option th:selected="${server.appInstance==null}"></option>
									  <option th:each="instance : ${appInstances}" 
									  th:text="${instance.appInstanceName}" 
									  th:attr="value = ${instance.id}" th:selected="${server.appInstance==null} ? false:${server.appInstance.getId()==instance.id}">
									  
									  </option>
									</select>
								</div>
							  <input class="btn btn-primary" type="submit" value="Submit" />
							</form>
						</div>
					  </div>

					</div>	
				</div>

				<div class="modal fade" th:id="${#strings.concat(server.id,'file')}" role="dialog" >
						<!-- Modal content-->
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
									  <button type="button" class="close" data-dismiss="modal">&times;</button>
									  <h4 class="modal-title"> Add Files</h4>
									</div>
									<div class="modal-body">
										<form  id="UploadFileForm"  method="POST" action="/serverupload" enctype="multipart/form-data">
											<!-- COMPONENT START -->
											<div class="input-group">
																
													<a th:onclick="@{'uploadfile(\''+${server.id}+'\')'}"><input type="text" th:id="@{${server.id}+'filename'}" class="form-control" placeholder="Choose file..." style="cursor:pointer" readonly></a>
													<div class="input-group-btn">
													<button type="submit" class="btn btn-primary"><i class="fa fa-upload"></i></button>
													</div>
						
											</div>
											<!-- COMPONENT END -->
											<div class="form-group  pull-center">
												<input type="file" class="form-control" name="file" style="visibility:hidden;height:0;" th:id="@{${server.id}+'fileupload'}">
												<input type="hidden" class="form-control" th:name="server" th:value="${server.id}"></input>
												<input type="hidden" class="form-control" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"></input>

											</div>
										</form>
									</div>
							   </div>
							</div>
				</div>				
			
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->



    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
	$('[id^=clusterSelect]').multiselect(
	  {
		includeSelectAllOption: true,
		buttonWidth: '100%', 
		enableFiltering: true,
		nonSelectedText: 'Select Cluster',
		enableCaseInsensitiveFiltering:true
	  });
    });
    </script>
	<script type="text/javascript">
		$(function () {
			$('[id^=datetimepicker]').datepicker({
				format: 'yyyy-mm-dd',
				 orientation: "bottom auto"
			});

		});
	</script>

</body>

</html>
