<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="head :: header">

<body>

    <div id="wrapper">

		<!-- Navigation -->
		<div th:insert="navigation :: navbar">  </div>


        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
					<div class="row">
						<div class="col-md-12 text-primary">
						<i class="fa fa-users"></i>
						<span th:text="@{'Stakeholders - '}"></span>
						<a th:href="@{'/departmentdetail?id='+${department.id}}" th:text="${department.departmentName}"></a>
						</div>	
					</div>
					</h1>
					
                </div>

				

                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
			<!--Stakeholder detail-->
			<div class="row">
				<div class="col-lg-12">
					 <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa  fa-users"></i> Stakeholders
                            <div class="pull-right">
								<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','USER')" data-toggle="modal" th:data-target="@{'#addstakeholder'}" style="text-decoration: none;color:white;cursor: pointer" title="Add/Change">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div th:if="${department.stakeholderexts.size()>0}" class="panel-body">
							<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-stakeholderext">
							  <thead>
								<th class="zacmap-zone-header-d">Stakeholder</th>
								<th class="zacmap-zone-header-d">Role</th>							
								<th class="zacmap-zone-header-d">Influence</th>
								<th class="zacmap-zone-header-d">Interest</th>
								<th class="zacmap-zone-header-d">RACI</th>
							  </thead>
							  <tbody>
								<tr th:each="stakeholderext: ${department.stakeholderexts}">
									<td>
										<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','USER')" th:href="@{'/deleteDepartmentStakeholder?stakeholderext='+${stakeholderext.id}}" 
											style="margin-right:5px;text-decoration: none"
											data-title="Are you sure to delete?" 
											data-toggle="confirmation" 
											data-singleton="true" 
											data-popout="true"
										   >
											<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
										</a>
										<a  sec:authorize="hasAnyRole('ADMIN','SYSADMIN','USER')"
											data-toggle="modal" th:data-target="@{'#updatestakeholderext'+${stakeholderext.id}}" style="text-decoration: none;cursor: pointer;margin-right:5px;"
										   >
											<i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
										</a>										
										<a 
											th:href="@{'/stakeholderdetail?stakeholder='+${stakeholderext.stakeholder.id}}" 
											th:text="${stakeholderext.stakeholder.stakeholderName}"
											th:if="${stakeholderext.stakeholder!=null}"
										>
										</a>
									</td>
									<td>
										<a 
											th:href="@{'/slaroledetail?slarole='+${stakeholderext.role.id}}" 
											th:text="${stakeholderext.role.SLARoleName}"
											th:if="${stakeholderext.role!=null}"
										>
										</a>
									</td>
									
									<td th:text="${stakeholderext.influence!=null}? ${stakeholderext.influence}:''"></td>
									<td th:text="${stakeholderext.interest!=null}? ${stakeholderext.interest}:''"></td>
									<td th:text="${stakeholderext.raciforsyschanges.size()>0}? ${stakeholderext.raciforsyschanges}:''"></td>

								</tr>
							  </tbody>
							</table>
                        </div>
                        <!-- /.panel-body -->
                    </div>
				</div>			
			</div>
            <!-- /.row -->
				<!--stakeholder creation model-->
				<div class="modal fade" th:id="addstakeholder" role="dialog">
					<div class="modal-dialog">
					
					  <!-- Modal content-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h4 class="modal-title" th:text="'Add Or Change Stakeholder - '+${department.departmentName}"></h4>													
						</div>
						<div class="modal-body">	
							<form th:action="@{/addDepartmentStakeholder}"  method="post">
								<div class="form-group">
									<label for="departmentSelect">Stakeholder:</label>
									<input type="hidden" class="form-control" th:name="department" th:value="${department.id}"></input>
									<input type="hidden" class="form-control" name="stakeholderext"></input>
									<select name="stakeholder" class="form-control" id="stakeholderSelect">
									  <option selected></option>
									  <option th:each="stakeholderEntity : ${stakeholders}" 
									  th:text="${stakeholderEntity.stakeholderName}" 
									  th:attr="value = ${stakeholderEntity.id}">									  
									  </option>
									</select>
								</div>
								<div class="form-group">
									<label for="departmentSelect">Role:</label>
									<select name="role" class="form-control" id="roleSelect">
									  <option selected></option>
									  <option th:each="roleEntity : ${roles}" 
									  th:text="${roleEntity.SLARoleName}" 
									  th:attr="value = ${roleEntity.id}">									  
									  </option>
									</select>
								</div>
								  <div class="form-group">
									<label for="note">Influence:</label>
									<select name="influence" class="form-control" id="statusSelect">
										<option selected></option>
										<option value = "Low" th:text="Low"></option>
										<option value = "Medium" th:text="Medium"></option>
										<option value = "High"  th:text="High"></option>										
									</select>								
								  </div>
								  
								  <div class="form-group">
									<label for="note">Interest:</label>
									<select name="interest" class="form-control" id="statusSelect">
										<option selected></option>
										<option value = "Low" th:text="Low"></option>
										<option value = "Medium" th:text="Medium"></option>
										<option value = "High"  th:text="High"></option>									
									</select>									
								  </div>
								  <div class="form-group">
									<label for="note">RACI:</label>
									<select name="raciforsyschanges" class="form-control" id="RACISelect" multiple>
										<option th:each="raci : ${T(portal.utility.RACI).values()}"
												th:value="${raci}"
												th:text="${raci}">
										</option>
									</select>								
								  </div>								
							  <input class="btn btn-primary" type="submit" value="Submit" />
							</form>
						</div>
					  </div>

					</div>	
				</div>

				<!--stakeholder update model-->
				<div th:each="stakeholderext: ${department.stakeholderexts}" th:if="${department.stakeholderexts.size()>0}">
					<div class="modal fade" th:id="@{'updatestakeholderext'+${stakeholderext.id}}" role="dialog">
						<div class="modal-dialog">
						
						  <!-- Modal content-->
						  <div class="modal-content">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">&times;</button>
							  <h4 class="modal-title" th:text="'Add Or Change Stakeholder - '+${department.departmentName}"></h4>													
							</div>
							<div class="modal-body">	
								<form th:action="@{/updateDepartmentStakeholder}"  method="post">
									<div class="form-group">
										<label for="departmentSelect">Stakeholder:</label>
										<input type="hidden" class="form-control" name="department" th:value="${department.id}"></input>
										<input type="hidden" class="form-control" name="stakeholderext" th:value="${stakeholderext.id}"></input>
										<select name="stakeholder" class="form-control" id="stakeholderSelect">
										  <option th:each="stakeholderEntity : ${stakeholders}" 
										  th:text="${stakeholderEntity.stakeholderName}" 
										  th:attr="value = ${stakeholderEntity.id}"
										  th:selected="${stakeholderext.stakeholder!=null and stakeholderext.stakeholder.id==stakeholderEntity.id}">									  
										  </option>
										</select>
									</div>
									<div class="form-group">
										<label for="departmentSelect">Role:</label>
										<select name="role" class="form-control" id="roleSelect">
											<option th:selected="${stakeholderext.role==null}"></option>
											<option th:each="roleEntity : ${roles}" 
											  th:text="${roleEntity.SLARoleName}" 
											  th:attr="value = ${roleEntity.id}"
											  th:selected="${stakeholderext.role!=null and stakeholderext.role.id==roleEntity.id}"
											>									  
											</option>
										</select>
									</div>
									  <div class="form-group">
										<label for="note">Influence:</label>
										<select name="influence" class="form-control" id="statusSelect">
											<option th:selected="${stakeholderext.influence==null}"></option>
											<option th:attr="value = 'Low'" th:selected="${stakeholderext.influence==null} ? false:${stakeholderext.influence=='Low'}" th:text="Low"></option>
											<option th:attr="value = 'Medium'" th:selected="${stakeholderext.influence==null} ? false:${stakeholderext.influence=='Medium'}" th:text="Medium"></option>
											<option th:attr="value = 'High'" th:selected="${stakeholderext.influence==null} ? false:${stakeholderext.influence=='High'}" th:text="High"></option>												
										</select>								
									  </div>
									  
									  <div class="form-group">
										<label for="note">Interest:</label>
										<select name="interest" class="form-control" id="statusSelect">
											<option th:selected="${stakeholderext.interest==null}"></option>
											<option th:attr="value = 'Low'" th:selected="${stakeholderext.interest==null} ? false:${stakeholderext.interest=='Low'}" th:text="Low"></option>
											<option th:attr="value = 'Medium'" th:selected="${stakeholderext.interest==null} ? false:${stakeholderext.interest=='Medium'}" th:text="Medium"></option>
											<option th:attr="value = 'High'" th:selected="${stakeholderext.interest==null} ? false:${stakeholderext.interest=='High'}" th:text="High"></option>									
										</select>									
									  </div>
									  <div class="form-group">
										<label for="note">RACI:</label>
										<select name="raciforsyschanges" class="form-control" id="RACISelect" multiple>
											<option th:each="raci : ${T(portal.utility.RACI).values()}"
													th:value="${raci}"
													th:text="${raci}"
													th:selected="${stakeholderext.raciforsyschanges.contains(raci)}">
											</option>
										</select>								
									  </div>								
								  <input class="btn btn-primary" type="submit" value="Submit" />
								</form>
							</div>
						  </div>

						</div>	
					</div>	
				</div>

            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
		 $('#dataTables-stakeholderext').DataTable({
            responsive: true
        });		
	$('[id^=stakeholderSelect]').selectpicker(
	  {
			liveSearch:true,
			width:300,
			noneSelectedText:'Select Stakeholder'
	  });
	  $('[id^=roleSelect]').selectpicker(
	  {
			liveSearch:true,
			width:300,
			noneSelectedText:'Select Role'
	  });
	 $('[id^=RACISelect]').multiselect(
  {
	includeSelectAllOption: true,
	buttonWidth: 300, 
	enableFiltering: true,
	nonSelectedText: 'Select RACI'
  });
			$('[id^=datetimepicker]').datepicker({
				format: 'yyyy-mm-dd',
				 orientation: "bottom auto"
			});  
    });
    </script>

</body>

</html>
