<!DOCTYPE html>
<html lang="en">

<head th:insert="head :: header">

<body>

    <div id="wrapper">

        <!-- Navigation -->
			<div th:insert="navigation :: navbar">  </div>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
					<div class="row">
						<div class="col-md-8 text-muted">
						<i class="fa fa-users"></i>
						<span th:text="${stakeholder.stakeholderName}"></span>
						</div>
						

					</div>						

					</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
			<div class="row">
				<div class="col-lg-8">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-info-circle"></i> Details
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">				
							<form action="#" th:action="@{/updateStakeholder}" th:object="${stakeholderModel}" method="post">													
						
							  <div class="form-group">
								<label for="stakeholderName">Stakeholder Name:</label>
								<input type="text" class="form-control" th:name="stakeholderName" th:value="${stakeholder.stakeholderName}"></input>
								<input type="hidden" class="form-control" th:name="id" th:value="${stakeholder.id}"></input>
							  </div>													  												  
							  <div class="form-group">
								<label for="note">Location(Site):</label>
								<input type="text" class="form-control" th:name="address" th:value="${stakeholder.address}">
							  </div>
							  <div class="form-group">
								<label for="note">Phone:</label>
								<input type="text" th:class="@{${#fields.hasErrors('phone')?'form-control border-red':'form-control'}}" th:name="phone" th:value="${stakeholder.phone}">
								<p class="text-danger" th:if="${#fields.hasErrors('phone')}"><strong  th:errors="*{phone}"></strong></p>
							  </div>
							  <div class="form-group">
								<label for="note">Email:</label>
								<input type="text" th:class="@{${#fields.hasErrors('email')?'form-control border-red':'form-control'}}" th:name="email" th:value="${stakeholder.email}">
								<p class="text-danger" th:if="${#fields.hasErrors('email')}"><strong  th:errors="*{email}"></strong></p>
							  </div>
							  <div class="form-group">
								<label for="note">Position:</label>
								<input type="text" class="form-control" th:name="position" th:value="${stakeholder.position}">
							  </div>
							  <div class="form-group">
								<label for="note">Notes:</label>
								<input type="text" class="form-control" th:name="note" th:value="${stakeholder.note}">
							  </div>
							  <div class="form-group">
								<label for="note">Influence:</label>
								<select name="influence" class="form-control" id="statusSelect">
									<option th:selected="${stakeholder.influence==null}"></option>
									<option th:attr="value = 'Low'" th:selected="${stakeholder.influence==null} ? false:${stakeholder.influence=='Low'}" th:text="Low"></option>
									<option th:attr="value = 'Medium'" th:selected="${stakeholder.influence==null} ? false:${stakeholder.influence=='Medium'}" th:text="Medium"></option>
									<option th:attr="value = 'High'" th:selected="${stakeholder.influence==null} ? false:${stakeholder.influence=='High'}" th:text="High"></option>									
								</select>								
							  </div>
							  
							  <div class="form-group">
								<label for="note">Interest:</label>
								<select name="interest" class="form-control" id="statusSelect">
									<option th:selected="${stakeholder.influence==null}"></option>
									<option th:attr="value = 'Low'" th:selected="${stakeholder.interest==null} ? false:${stakeholder.interest=='Low'}" th:text="Low"></option>
									<option th:attr="value = 'Medium'" th:selected="${stakeholder.interest==null} ? false:${stakeholder.interest=='Medium'}" th:text="Medium"></option>
									<option th:attr="value = 'High'" th:selected="${stakeholder.interest==null} ? false:${stakeholder.interest=='High'}" th:text="High"></option>									
								</select>									
							  </div>
							  <div class="form-group">
								<label for="note">RACI:</label>
								<select name="raciforsyschanges" class="form-control" id="statusSelect">
									<option th:selected="${stakeholder.influence==null}"></option>
									<option th:attr="value = 'Responsible'" th:selected="${stakeholder.raciforsyschanges==null} ? false:${stakeholder.raciforsyschanges=='Responsible'}" th:text="Responsible"></option>
									<option th:attr="value = 'Accountable'" th:selected="${stakeholder.raciforsyschanges==null} ? false:${stakeholder.raciforsyschanges=='Accountable'}" th:text="Accountable"></option>
									<option th:attr="value = 'Consulted'" th:selected="${stakeholder.raciforsyschanges==null} ? false:${stakeholder.raciforsyschanges=='Consulted'}" th:text="Consulted"></option>
									<option th:attr="value = 'Informed'" th:selected="${stakeholder.raciforsyschanges==null} ? false:${stakeholder.raciforsyschanges=='Informed'}" th:text="Informed"></option>									
								</select>								
							  </div>							  
							  <input sec:authorize="hasAnyRole('ADMIN','SYSADMIN','USER')" class="btn btn-primary" style="margin-top:20px" type="submit" value="Update" />
							</form>
						</div>
                        <!-- /.panel-body -->
					</div>
				</div>							
			</div>
            <!-- /.row -->
			<!--department detail-->
			<div class="row">
				<div class="col-lg-8">
					 <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa  fa-building"></i> Department
                            <div class="pull-right">
								<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','USER')" data-toggle="modal" th:data-target="@{'#adddepartment'}" style="text-decoration: none;color:white;cursor: pointer" title="Add/Change">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
								<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','USER')" style="text-decoration: none;color:white;cursor: pointer"
								 th:if="${stakeholder.department!=null}" th:href="${#strings.concat('/deleteStakeHolderDepartment?stakeholder=',stakeholder.id)}"
								data-title="Are you sure to delete?" 
								data-toggle="confirmation" 
								data-singleton="true" 
								data-popout="true"
								 >
									<i class="fa fa-trash-o fa-lg"></i>
								</a>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div th:if="${stakeholder.department!=null}" class="panel-body">
							<table class="table">
							  <tbody>
								<tr><th scope="row" style="width:25%">Department:</th>
								<td>
									<a th:href="@{'/departmentdetail?id='+${stakeholder.department.id}}"><h5 th:text="${stakeholder.department.departmentName}"></h5></a>
								</td>
								</tr>
								<tr><th scope="row" style="width:25%">Description:</th><td th:text="${stakeholder.department.description}"></td></tr>

								<tr><th scope="row" style="width:25%">Attachment:</th>
								<td>									
									<a data-toggle="modal"  
											th:data-target="@{${#strings.concat('#',stakeholder.department.id,'files')}}" 
											th:if="${stakeholder.department.files.size()>0}"
											style="text-decoration: none;cursor: pointer"
											>
											<span class="fa fa-paperclip fa-lg"></span>
									</a>
								</td>
								</tr>								
							  </tbody>
							</table>
                        </div>
                        <!-- /.panel-body -->
                    </div>
				</div>			
			</div>
			<!--role detail-->
			<div class="row">
				<div class="col-lg-8">
					 <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa  fa-male"></i> Role
                            <div class="pull-right">
								<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','USER')" data-toggle="modal" th:data-target="@{'#addrole'}" style="text-decoration: none;color:white;cursor: pointer" title="Add/Change">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
								<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','USER')" style="text-decoration: none;color:white;cursor: pointer"
								 th:if="${stakeholder.role!=null}" th:href="${#strings.concat('/deleteStakeHolderRole?stakeholder=',stakeholder.id)}"
								data-title="Are you sure to delete?" 
								data-toggle="confirmation" 
								data-singleton="true" 
								data-popout="true"
								 >
									<i class="fa fa-trash-o fa-lg"></i>
								</a>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div th:if="${stakeholder.role!=null}" class="panel-body">
							<table class="table">
							  <tbody>
								<tr><th scope="row" style="width:25%">Role:</th>
								<td>
									<a th:href="@{'/slaroledetail?slarole='+${stakeholder.role.id}}"><h5 th:text="${stakeholder.role.SLARoleName}"></h5></a>
								</td>
								</tr>
								<tr><th scope="row" style="width:25%">Description:</th><td th:text="${stakeholder.role.description}"></td></tr>							
							  </tbody>
							</table>
                        </div>
                        <!-- /.panel-body -->
                    </div>
				</div>			
			</div>			
				<!--Department model-->
				<div class="modal fade" th:id="adddepartment" role="dialog">
					<div class="modal-dialog">
					
					  <!-- Modal content-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h4 class="modal-title" th:text="'Add Or Change Department - '+${stakeholder.firstname}"></h4>													
						</div>
						<div class="modal-body">	
							<form action="#" th:action="@{/addStakeHolderDepartment}"  method="post">
								<div class="form-group">
									<label for="departmentSelect">Department:</label>
									<input type="hidden" class="form-control" th:name="stakeholder" th:value="${stakeholder.id}"></input>
									<select name="department" class="form-control" id="departmentSelect">
									  <option th:selected="${stakeholder.department==null}"></option>
									  <option th:each="departmentEntity : ${departments}" 
									  th:text="${departmentEntity.departmentName}" 
									  th:attr="value = ${departmentEntity.id}" th:selected="${stakeholder.department==null} ? false:${stakeholder.department.getId()==departmentEntity.id}">
									  
									  </option>
									</select>
								</div>
							  <input class="btn btn-primary" type="submit" value="Submit" />
							</form>
						</div>
					  </div>

					</div>	
				</div>	
				<!--role model-->
				<div class="modal fade" th:id="addrole" role="dialog">
					<div class="modal-dialog">
					
					  <!-- Modal content-->
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h4 class="modal-title" th:text="'Add Or Change Role - '+${stakeholder.stakeholderName}"></h4>													
						</div>
						<div class="modal-body">	
							<form action="#" th:action="@{/addStakeHolderRole}"  method="post">
								<div class="form-group">
									<label for="roleSelect">Role:</label>
									<input type="hidden" class="form-control" th:name="stakeholder" th:value="${stakeholder.id}"></input>
									<select name="role" class="form-control" id="roleSelect">
									  <option th:selected="${stakeholder.role==null}"></option>
									  <option th:each="roleEntity : ${roles}" 
									  th:text="${roleEntity.SLARoleName}" 
									  th:attr="value = ${roleEntity.id}" th:selected="${stakeholder.role==null} ? false:${stakeholder.role.getId()==roleEntity.id}">
									  
									  </option>
									</select>
								</div>
							  <input class="btn btn-primary" type="submit" value="Submit" />
							</form>
						</div>
					  </div>

					</div>	
				</div>
				<!--file model -->
				<div class="modal fade" th:if="${stakeholder.department!=null && stakeholder.department.files.size()>0}" th:id="${#strings.concat(stakeholder.department.id,'files')}" role="dialog" >
					<!-- Modal content-->
					<div class="modal-dialog">
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>
						  <h4 class="modal-title"> Attachments</h4>
						</div>
						<div class="modal-body">
							<table class="table table-striped" id="filestable">
							  <thead>
								<tr>
								  <th scope="col">File Name</th>
								  <th scope="col">Created At</th>
								  <th scope="col">Created By</th>														  
								</tr>
							  </thead>
							  <tbody>
								<tr th:each="file : ${stakeholder.department.files}">
								  <th><h5><a th:href="@{'/downloadsla?file='+${file.id}}" th:text="${file.attachment}"></h5></a></th>
								  <th><h5 th:text="${file.createdat}"></h5></th>
								  <th><h5 th:text="${file.createdby}"></h5></th>
								</tr>
							  </tbody>
							</table>
						</div>
					   </div>
					 </div>
				</div>								
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
    </script>
	<script type="text/javascript">
		$(function () {
			$('[id^=datetimepicker]').datepicker({
				format: 'yyyy-mm-dd',
				 orientation: "bottom auto"
			});

		});
	</script>

</body>

</html>
