<!DOCTYPE html>
<html lang="en">

<head th:insert="head :: header">

<body>

    <div id="wrapper">

        <!-- Navigation -->
			<div th:insert="navigation :: navbar">  </div>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" >
					<div class="row">
						<div class="col-md-8 text-muted">
						<i class="fa fa-support"></i>
						<span th:text="${support.supportName}"></span>
						</div>

					</div>						
					</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
			<div class="row">
				<div class="col-lg-8">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-info-circle"></i> Details
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">	
							<form action="#" th:action="@{/updateSupport}" method="post">													
						
							  <div class="form-group">
								<label for="supportName">AHS Primary Support:</label>
								<input type="text" class="form-control" th:name="supportName" th:value="${support.supportName}"></input>
								<input type="hidden" class="form-control" th:name="supportModel" th:value="${support.id}"></input>
							  </div>
							  <div class="form-group">
								<label for="description">AHS Secondary Support:</label>
								<input type="text" class="form-control" th:name="secondarysupport" th:value="${support.secondarysupport}">
							  </div>	
							  <div class="form-group">
								<label for="description">Other(AHS) Support:</label>
								<input type="text" class="form-control" th:name="othersupport" th:value="${support.othersupport}">
							  </div>
							  <div class="form-group">
								<label for="description">Support:</label>
								<select name="supporttype" class="form-control" id="supporttypeSelect">
									<option th:selected="${support.supporttype==null}"></option>
									<option th:attr="value = 'Network'" th:selected="${support.supporttype==null} ? false:${support.supporttype.name()=='Network'}">Network Support</option>
									<option th:attr="value = 'AppServer'" th:selected="${support.supporttype==null} ? false:${support.supporttype.name()=='AppServer'}">App Server Support</option>
									<option th:attr="value = 'DBServer'" th:selected="${support.supporttype==null} ? false:${support.supporttype.name()=='DBServer'}">DB Server Support</option>
								</select>
							  </div>							  
							  <div class="form-group">
								<label for="description">Phone:</label>
								<input type="text" class="form-control" th:name="phone" th:value="${support.phone}">
							  </div>													  
							  <div class="form-group">
								<label for="note">Email:</label>
								<input type="text" class="form-control" th:name="email" th:value="${support.email}">
							  </div>
							  <div class="form-group">
								<label for="note">Location:</label>
								<input type="text" class="form-control" th:name="location" th:value="${support.location}">
							  </div>							  
							  <div class="form-group">
								<label for="description">Application Owner:</label>
								<input type="text" class="form-control" th:name="appowner" th:value="${support.appowner}">
							  </div>							  
							  <div class="form-group">
								<label for="description">Trainer:</label>
								<input type="text" class="form-control" th:name="trainer" th:value="${support.trainer}">
							  </div>
							  <div class="form-group">
								<label for="description">SME:</label>
								<input type="text" class="form-control" th:name="sme" th:value="${support.sme}">
							  </div>
							  <div class="form-group">
								<label for="description">Business Lead Names:</label>
								<input type="text" class="form-control" th:name="businesslead" th:value="${support.businesslead}">
							  </div>
							  <div class="form-group">
								<label for="description">COEs:</label><span class="text-info" style="font-size:80%"> Note: If mutiple names, please use comma to separate them.</span>
								<input type="text" class="form-control" th:name="coes" th:value="${support.coes}">
							  </div>
							  <div class="form-group">
								<label for="description">AHS Hours of Support:</label>
								<input type="text" class="form-control" th:name="ahshours" th:value="${support.ahshours}">
							  </div>
							  <div class="form-group">
								<label for="description">User Admin:</label>
								<input type="text" class="form-control" th:name="useradmin" th:value="${support.useradmin}">
							  </div>
							  <div class="form-group">
								<label for="description">System Admin:</label>
								<input type="text" class="form-control" th:name="sysadmin" th:value="${support.sysadmin}">
							  </div>
							  <div class="form-group">
								<label for="description">Common Issues:</label>
								<input type="text" class="form-control" th:name="commonissue" th:value="${support.commonissue}">
							  </div>							  
							  <div class="form-group">
								<label for="note">Support Notes:</label>
								<input type="text" class="form-control" th:name="note" th:value="${support.note}">
							  </div>
											  
							  <input sec:authorize="hasAnyRole('ADMIN','SYSADMIN','USER')" class="btn btn-primary" style="margin-top:20px" type="submit" value="Update" />
							</form>
						</div>
                        <!-- /.panel-body -->
					</div>
				</div>
			</div>
            <!-- /.row -->
			<!--application Detail-->
			<div class="row">
				<div class="col-lg-8">
					 <div class="panel panel-primary">
						<div class="panel-heading">
							<i class="fa fa-windows"></i> Applications
							<div class="pull-right">
								<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','USER')" data-toggle="modal" th:data-target="@{'#addapplication'}" style="color:white;cursor:pointer" title="Add/Change">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
							</div>
						</div>
						<!-- /.panel-heading -->
						<div th:if="${support.applications.size()>0}" class="panel-body">
							<table class="table">
							  <thead>
								<th>App application</th>
								<th>Decommission Date</th>
							  </thead>
							  <tbody>
								<tr th:each="app: ${support.applications}">
									<td>
										<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','USER')" th:href="@{'/deletesupportapplication?application='+${app.id}+'&support='+${support.id}}" 
											style="margin-right:20px;text-decoration: none"
											data-title="Are you sure to delete?" 
											data-toggle="confirmation" 
											data-singleton="true" 
											data-popout="true" 
										   >
											<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
										</a>
										<a th:href="@{'/applicationdetail?app='+${app.id}}" th:text="${app.AppName}"></a>
									</td>

									<td th:text="${#dates.format(app.AppDecomminsionDate,'MMM-dd-yyyy')}"></td>
								</tr>
							  </tbody>
							</table>
						</div>
						<!-- /.panel-body -->
					</div>
				</div>
				<div class="col-lg-4">
				</div>
			</div>			
			<!--AppInstance Detail-->
			<div class="row">
				<div class="col-lg-8">
					 <div class="panel panel-primary">
						<div class="panel-heading">
							<i class="fa fa-laptop"></i> App Instances
							<div class="pull-right">
								<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','USER')" data-toggle="modal" th:data-target="@{'#addInstance'}" style="color:white;cursor:pointer" title="Add/Change">
									<i class="fa fa-plus fa-lg" style="margin-right:5px"></i>
								</a>
							</div>
						</div>
						<!-- /.panel-heading -->
						<div th:if="${support.appInstances.size()>0}" class="panel-body">
							<table class="table">
							  <thead>
								<th>App Instance</th>
								<th>Status</th>
								<th>Description</th>
							  </thead>
							  <tbody>
								<tr th:each="appinstance: ${#lists.sort(support.appInstances)}">
									<td>
										<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','USER')" th:href="@{'/deleteSupportInstance?instance='+${appinstance.id}+'&support='+${support.id}}" 
											style="margin-right:20px;text-decoration: none"
											data-title="Are you sure to delete?" 
											data-toggle="confirmation" 
											data-singleton="true" 
											data-popout="true" 
										   >
											<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
										</a>
										<a th:href="@{'/instancedetail?id='+${appinstance.id}}" th:text="${appinstance.appInstanceName}"></a>
									</td>
									<td th:text="${appinstance.status}"></td>
									<td th:text="${appinstance.description}"></td>
								</tr>
							  </tbody>
							</table>
						</div>
						<!-- /.panel-body -->
					</div>
				</div>
				<div class="col-lg-4">
				</div>
			</div>
			<!--application model-->
			<div class="modal fade" th:id="addapplication" role="dialog">
				<div class="modal-dialog">
				
				  <!-- Modal content-->
				  <div class="modal-content">
					<div class="modal-header">
					  <button type="button" class="close" data-dismiss="modal">&times;</button>
					  <h4 class="modal-title" th:text="'Add Or Change application - '+${support.supportName}"></h4>													
					</div>
					<div class="modal-body">	
						<form action="#" th:action="@{/addsupportapplication}"  method="post">
							<div class="form-group">
								<label for="appselect">Applications:</label>
								<input type="hidden" class="form-control" th:name="support" th:value="${support.id}"></input>
								<select name="applications" class="form-control" id="appSelect" multiple>
										  <option th:each="appEntity : ${appAssginedInstances}" 

										  th:attr="value = ${appEntity.id}"
										  th:text="${appEntity.AppName}">
										  
										  </option>
										
								</select>
							</div>
						  <input class="btn btn-primary" type="submit" value="Submit" />
						</form>
					</div>
				  </div>

				</div>	
			</div>	
			<!--AppInstance model-->
			<div class="modal fade" th:id="addInstance" role="dialog">
				<div class="modal-dialog">
				
				  <!-- Modal content-->
				  <div class="modal-content">
					<div class="modal-header">
					  <button type="button" class="close" data-dismiss="modal">&times;</button>
					  <h4 class="modal-title" th:text="'Add Or Change Instance - '+${support.supportName}"></h4>													
					</div>
					<div class="modal-body">	
						<form action="#" th:action="@{/addSupportInstance}"  method="post">
							<div class="form-group">
								<label for="instanceselect">App Instance:</label>
								<input type="hidden" class="form-control" th:name="support" th:value="${support.id}"></input>
								<select name="appInstances" class="form-control" id="instanceSelect" multiple>
									<optgroup th:each="appEntity : ${appAssginedInstances}" th:if="${appEntity.appInstances.size()>0}" th:label="${appEntity.AppName}">
										  <option th:each="instanceEntity : ${appEntity.appInstances}" 

										  th:attr="value = ${instanceEntity.id}"
										  th:text="${instanceEntity.appInstanceName}">
										  
										  </option>
									</optgroup>
									<optgroup th:if="${appUnassginedInstances.size()>0}" label="Other">
										  <option th:each="instanceEntity : ${appUnassginedInstances}" 

										  th:attr="value = ${instanceEntity.id}"
										  th:text="${instanceEntity.appInstanceName}">
										  
										  </option>
									</optgroup>													
								</select>
							</div>
						  <input class="btn btn-primary" type="submit" value="Submit" />
						</form>
					</div>
				  </div>

				</div>
			</div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
	$('[id^=instanceSelect]').multiselect(
	  {
		includeSelectAllOption: true,
		buttonWidth: '100%', 
		enableFiltering: true,
		nonSelectedText: 'Select Instance',
		enableCaseInsensitiveFiltering:true
	  });
	  $('[id^=appSelect]').multiselect(
	  {
		includeSelectAllOption: true,
		buttonWidth: '100%', 
		enableFiltering: true,
		nonSelectedText: 'Select Application',
		enableCaseInsensitiveFiltering:true
	  });
    });
    </script>
	<script type="text/javascript">
		$(function () {
			$('[id^=datetimepicker]').datepicker({
				format: 'yyyy-mm-dd',
				 orientation: "bottom auto"
			});

		});
	</script>

</body>

</html>
