<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="head :: header">

<body>

    <div id="wrapper">

		<!-- Navigation -->
		<div th:insert="navigation :: navbar">  </div>


        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Supports<a href="/addSupport" data-toggle="tooltip" title="Create Support"><i class="fa fa-plus" style="float:right"></i></a></h1>
					
                </div>

				

                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Support Table
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Support</th>
										<th>App Instance</th>										
                                        <th>Phone</th>
										<th>Email</th>
										<th>Note</th>
										<!--<th class="no-sort">Action</th>-->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="support: ${supports}">
                                        <td>
											<a th:href="@{'/deleteSupport?id='+${support.id}+'&supportName='+${support.supportName}}" 
											data-title="Are you sure to delete?" 
											data-toggle="confirmation" 
											data-singleton="true" 
											data-popout="true"
											style="text-decoration: none">
												<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
											</a>&nbsp 
											<a th:href="@{'/supportdetail?support='+${support.id}}" th:text="${support.supportName}"></a>
										</td>
										<td>
											<a data-toggle="modal" th:if="${support.appInstances.size()>0}" th:text="${support.getInstanceNameWithComma()}" th:data-target="@{${#strings.concat('#',support.id,'instances')}}" style="cursor:pointer"></a>
										</td>										
                                        <td th:text="${support.phone}"></td>
										<td th:text="${support.email}"></td>
										<td th:text="${support.note}"></td>

                                    </tr>


                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
							  <!-- Modal -->
						  
							  
						<div th:each="support: ${supports}" >	  
						
							<!--App instance Modal-->
							<div th:if="${support.appInstances.size()>0}">
								<div class="modal fade" th:id="${#strings.concat(support.id,'instances')}" role="dialog" >
								<!-- Modal content-->
										<div class="modal-dialog">
										  <div class="modal-content">
											<div class="modal-header">
											  <button type="button" class="close" data-dismiss="modal">&times;</button>
											  <h4 class="modal-title"> App Instances</h4>
											</div>
											<div class="modal-body">
												<table class="table table-striped" id="instancetable">
												  <thead>
													<tr>
													  <th scope="col">App Instance Name</th>
													  <th scope="col">Status</th>
													  <th scope="col">Description</th>														  
													</tr>
												  </thead>
												  <tbody>
													<tr th:each="appinstance : ${support.appInstances}">
													  <th><a th:href="@{'/instancedetail?id='+${appinstance.id}}"><h5 th:text="${appinstance.appInstanceName}"></h5></a></th>
													  <th><h5 th:text="${appinstance.status}"></h5></th>
													  <th><h5 th:text="${appinstance.description}"></h5></th>
													</tr>
												  </tbody>
												</table>
											</div>
										   </div>
										 </div>
								</div>
							</div>								
						</div><!-- Modal -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
		$('[id^=instanceSelect]').multiselect(
		  {
			includeSelectAllOption: true,
			buttonWidth: '100%', 
			enableFiltering: true,
			nonSelectedText: 'Select Instance',
			enableCaseInsensitiveFiltering:true
		  });
    });
    </script>
	<script type="text/javascript">
		$(function () {
			$('[id^=datetimepicker]').datepicker({
				format: 'yyyy-mm-dd',
				 orientation: "bottom auto"
			});

		});
	</script>
</body>

</html>
