<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="head :: header">

<body>

    <div id="wrapper">

		<!-- Navigation -->
		<div th:insert="navigation :: navbar">  </div>


        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
					<div class="row">
						<div class="col-md-8 text-muted">
						<i class="fa fa-cube"></i>
						<span>Zones</span>
						</div>
						
						<div class="col-md-4 text-right">
					
						<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','USER')" href="/addZone" data-toggle="tooltip" title="Create Zone"><i class="fa fa-plus text-muted"></i></a>
						</div>
					</div>
					</h1>
					
                </div>

				

                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Zone Table
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Zone</th>
										<th>Sites</th>
										<th>Application</th>
										<th>App Instance</th>
                                        <th>Description</th>
                                        <th>Note</th>
										<!--<th class="no-sort">Action</th>-->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="zone: ${zones}">
                                        <td>
											<a sec:authorize="hasAnyRole('ADMIN','SYSADMIN','USER')" th:href="@{'/deleteZone?zone='+${zone.id}}"
											data-title="Are you sure to delete?" 
											data-toggle="confirmation" 
											data-singleton="true" 
											data-popout="true" 
											class="text-non-decoration"
											>
												<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
											</a>&nbsp 
											<a th:href="@{'/zonedetail?zone='+${zone.id}}" th:text="${zone.zoneName}"></a>
									
										</td>
										<td>
											<a data-toggle="modal" th:if="${zone.sites.size()>0}" th:data-target="@{${#strings.concat('#',zone.id,'sites')}}" class="cursor-pointer">
											<span class="badge badge-secondary small" th:text="${'Sites - Total: '+zone.sites.size()}"></span>
											</a>										
										</td>
										<td>
											<a data-toggle="modal" th:if="${zone.applications.size()>0}" th:data-target="@{${#strings.concat('#',zone.id,'applications')}}" class="cursor-pointer">
											<span class="badge badge-secondary small" th:text="${'Application - Total: '+zone.applications.size()}"></span>
											</a>										
										</td>
										<td>
											<a data-toggle="modal" th:if="${zone.appInstances.size()>0}" th:data-target="@{${#strings.concat('#',zone.id,'instances')}}" class="cursor-pointer">
											<span class="badge badge-secondary small" th:text="${'App Instances - Total: '+zone.appInstances.size()}"></span>
											</a>										
										</td>
                                        <td th:text="${zone.description}"></td>
                                        <td th:text="${zone.note}"></td>
                                    </tr>


                                </tbody>
                            </table>
                            <!-- /.table-responsive -->

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
						<div th:each="zone: ${zones}">
							<!--site Modal-->
							<div th:if="${zone.sites.size()>0}">
								<div class="modal fade" th:id="${#strings.concat(zone.id,'sites')}" role="dialog" >
								<!-- Modal content-->
										<div class="modal-dialog">
										  <div class="modal-content">
											<div class="modal-header">
											  <button type="button" class="close" data-dismiss="modal">&times;</button>
											  <h4 class="modal-title"> Sites</h4>
											</div>
											<div class="modal-body">
												<table class="table table-striped" id="instancetable">
												  <thead>
													<tr>
													  <th scope="col">Site</th>

													  <th scope="col">Description</th>														  
													</tr>
												  </thead>
												  <tbody>
													<tr th:each="site : ${zone.sites}">
													  <th><a th:href="@{'/sitedetail?site='+${site.id}}"><h5 th:text="${site.siteName}"></h5></a></th>
	
													  <th><h5 th:text="${site.description}"></h5></th>
													</tr>
												  </tbody>
												</table>
											</div>
										   </div>
										 </div>
								</div>
							</div>
							<!--App instance Modal-->
							<div th:if="${zone.appInstances.size()>0}">
								<div class="modal fade" th:id="${#strings.concat(zone.id,'instances')}" role="dialog" >
								<!-- Modal content-->
										<div class="modal-dialog">
										  <div class="modal-content">
											<div class="modal-header">
											  <button type="button" class="close" data-dismiss="modal">&times;</button>
											  <h4 class="modal-title"> App Instances</h4>
											</div>
											<div class="modal-body">
												<table class="table table-striped" id="instancetable">
												  <thead>
													<tr>
													  <th scope="col">App Instance Name</th>
													  <th scope="col">Status</th>
													  <th scope="col">Description</th>														  
													</tr>
												  </thead>
												  <tbody>
													<tr th:each="appinstance : ${zone.appInstances}">
													  <th><a th:href="@{'/instancedetail?id='+${appinstance.id}}"><h5 th:text="${appinstance.appInstanceName}"></h5></a></th>
													  <th><h5 th:text="${appinstance.status}"></h5></th>
													  <th><h5 th:text="${appinstance.description}"></h5></th>
													</tr>
												  </tbody>
												</table>
											</div>
										   </div>
										 </div>
								</div>
							</div>

							<!--App Modal-->
							<div th:if="${zone.applications.size()>0}">
								<div class="modal fade" th:id="${#strings.concat(zone.id,'applications')}" role="dialog" >
								<!-- Modal content-->
										<div class="modal-dialog">
										  <div class="modal-content">
											<div class="modal-header">
											  <button type="button" class="close" data-dismiss="modal">&times;</button>
											  <h4 class="modal-title"> Applications</h4>
											</div>
											<div class="modal-body">
												<table class="table table-striped" id="instancetable">
												  <thead>
													<tr>
													  <th scope="col">App Instance Name</th>
													  <th scope="col">Status</th>
													  <th scope="col">Version</th>														  
													</tr>
												  </thead>
												  <tbody>
													<tr th:each="app : ${zone.applications}">
													  <th><a th:href="@{'/applicationdetail?app='+${app.id}}"><h5 th:text="${app.AppName}"></h5></a></th>
													  <th><h5 th:text="${app.status}"></h5></th>
													  <th><h5 th:text="${app.AppVersion}"></h5></th>
													</tr>
												  </tbody>
												</table>
											</div>
										   </div>
										 </div>
								</div>
							</div>								
							
						</div>

            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
    </script>

</body>

</html>
